.accordion {
  $comp: &;

  border: 1px solid $color-blue-light;
  border-radius: 10px;
  transition: $transition;

  &--consultation {

    #{$comp}__head-row {
      @media (max-width: $breakpoint - 1px) {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }

    #{$comp}__head-col {
      &:nth-child(1) {
        @media (max-width: $breakpoint - 1px) {
          padding-top: 0;
          padding-bottom: 15px;
        }

        width: calc(#{$col-width-d} * 4);
        @media (max-width: $breakpoint - 1px) {
          width: 50%;
          order: 1;
        }
      }
      &:nth-child(2) {
        padding-right: 0;

        width: calc(#{$col-width-d} * 10);
        @media (max-width: $breakpoint - 1px) {
          width: 100%;
          order: 3;
        }
      }
      &:nth-child(3) {
        padding-right: 30px;
        @media (max-width: $breakpoint - 1px) {
          padding-right: 0;
        }

        width: calc(#{$col-width-d} * 4);
        @media (max-width: $breakpoint - 1px) {
          width: 50%;
          order: 2;
        }
        display: flex;
        justify-content: flex-end;
      }
    }
    #{$comp}__head-title {
      @include fsl(15px, 140%);
    }

    #{$comp}__body-container {
      padding-left: calc(#{$col-width-d} * 4);
      @media (max-width: $breakpoint - 1px) {
        padding-left: 15px;
      }
    }
    #{$comp}__body-col {

      &:nth-child(1) {
        padding-top: 15px;

        width: calc(#{$col-width-d} * 7);
        @media (max-width: $breakpoint - 1px) {
          width: 100%;
        }

        border-top: 1px solid $color-blue-light;
      }
    }
    #{$comp}__body-text {
      font-style: italic;
      @include fsl(15px);
    }
  }

  &:hover {
    border-color: $color-blue;

    #{$comp}__head-button {
      background-color: $color-blue;
    }
    #{$comp}__head-icon {
      path {
        stroke: $color-white;
      }
    }
  }

  &--active {
    border-color: $color-blue;

    #{$comp}__body {
      padding-bottom: 30px;

      max-height: 1000px;
      animation: accordionIn 0.45s normal ease-in-out both 1;
    }

    #{$comp}__head-button {
      background-color: $color-blue;
    }

    #{$comp}__head-icon {
      transform: rotate(-225deg);
      path {
        stroke: $color-white;
      }
    }
  }

  &__head {
    padding: 30px 0;
    @media (max-width: $breakpoint - 1px) {
      padding: 15px;
    }

    cursor: pointer;
  }
  &__head-row {
    display: flex;
    justify-content: space-between;
    @media (max-width: $breakpoint - 1px) {
      flex-direction: column;
    }
  }
  &__head-col {
    flex-shrink: 0;

    &:nth-child(1) {
      padding-left: 30px;
      @media (max-width: $breakpoint - 1px) {
        padding-left: 0;
        padding-top: 15px;
      }
      width: calc(#{$col-width-d} * 11);
      @media (max-width: $breakpoint - 1px) {
        width: 100%;
      }
    }
    &:nth-child(2) {
      padding-right: 30px;
      @media (max-width: $breakpoint - 1px) {
        padding-right: 0;

      }

      width: calc(#{$col-width-d} * 6);
      @media (max-width: $breakpoint - 1px) {
        width: 100%;
        order: -1;
      }
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__head-name {
    @include fsl(20px, 140%);
    @media (max-width: $breakpoint - 1px) {
      @include fsl(18px);
    }
  }
  &__head-date {
    margin-top: 5px;

    @include fsl(13px, 140%);
    color: $color-gray;
  }
  &__head-title {
    @include fsl(18px, 140%);
    @media (max-width: $breakpoint - 1px) {
      @include fsl(15px);
    }
    font-weight: 400;
  }
  &__head-button {
    $size-d: 45px;
    $size-m: 35px;

    width: $size-d;
    height: $size-d;
    @media (max-width: $breakpoint - 1px) {
      width: $size-m;
      height: $size-m;
    }

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: $color-aqua;
    transition: $transition;
  }
  &__head-icon {
    transition: $transition;
    @media (max-width: $breakpoint - 1px) {
      width: 15px;
      height: 15px;
    }
    path {
      stroke: $color-black;
      transition: $transition;
    }
  }

  &__body {

    max-height: 0;
    overflow: hidden;
    transition: $transition;

    &--active {

    }
  }
  &__body-container {
    padding: 0 calc(#{$col-width-d} * 2);
    @media (max-width: $breakpoint - 1px) {
      padding: 0 15px;
    }
  }
  &__body-row {
    padding-bottom: 30px;

    display: flex;
    @media (max-width: $breakpoint - 1px) {
      display: block;
    }
    justify-content: space-between;
  }
  &__body-col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-width-d} * 9);
      @media (max-width: $breakpoint - 1px) {
        width: 100%;
      }
    }
    &:nth-child(2) {
      @media (max-width: $breakpoint - 1px) {
        margin-top: 30px;
      }

      width: calc(#{$col-width-d} * 4);
      @media (max-width: $breakpoint - 1px) {
        width: 100%;
      }
    }
  }
  &__body-text {
    @include fsl(15px, 140%);
    @media (max-width: $breakpoint - 1px) {
      @include fsl(13px);
    }
  }
  &__body-doctor {
    margin-top: 30px;

    @media (max-width: $breakpoint - 1px) {
      display: none;
    }
  }

  &__spray {}
  &__spray-row {
    display: flex;
  }
  &__spray-col {
    flex-shrink: 0;
    &:nth-child(1) {
      padding-right: 30px;

      width: calc(#{$col-width-d} * 2);
      @media (max-width: $breakpoint - 1px) {
        width: 100%;
        max-width: calc(105px + 30px);
      }
    }
  }
  &__spray-img {
    display: block;

    border-radius: 10px;
  }
  &__spray-title {
    margin-bottom: 15px;

    font-weight: 400;
    @include fsl(15px, 140%);
  }

  &__links {
    padding: 0 30px;
    @media (max-width: $breakpoint - 1px) {
      padding: 0 15px;
    }
  }
  &__links-container {
    border-top: 1px solid $color-blue-light;
  }
  &__links-label {
    margin: 15px 0 30px;
    @media (max-width: $breakpoint - 1px) {
      margin: 10px 0 15px;
    }

    text-transform: uppercase;
    @include fsl(13px, 120%);
  }
  &__links-list {
    display: flex;
    @media (max-width: $breakpoint - 1px) {
      display: block;
    }
  }
  &__links-item {
    width: calc((100% / 3) - 10px);
    min-height: 146px;
    @media (max-width: $breakpoint - 1px) {
      width: 100%;
      min-height: auto;
    }

    &:not(:first-child) {
      margin-left: 15px;
      @media (max-width: $breakpoint - 1px) {
        margin-left: 0;
        margin-top: 10px;
      }
    }
  }

  &__link {
    padding: 30px 15px 15px 30px;
    @media (max-width: $breakpoint - 1px) {
      padding: 15px;
    }

    display: block;
    height: 100%;

    background-color: $color-aqua;
    border-radius: 10px;
    transition: $transition;

    &:hover {
      background-color: $color-blue;



      #{$comp}__link-text {
        color: $color-white;
      }
      #{$comp}__link-button {
        border-color: $color-white;
      }
      #{$comp}__link-icon {
        path {
          stroke: $color-white;
        }
      }
    }
  }
  &__link-row {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  &__link-col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-width-d} * 4);
      @media (max-width: $breakpoint - 1px) {
        width: 100%;
      }
    }

    &:nth-child(2) {
      margin-top: 15px;

      display: flex;
      justify-content: flex-end;
    }
  }
  &__link-text {
    transition: $transition;
    @include fsl(15px, 140%);
    @media (max-width: $breakpoint - 1px) {
      @include fsl(13px);
    }
  }
  &__link-button {
    $size: 40px;

    width: $size;
    height: $size;
    min-width: $size;
    min-height: $size;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 1px solid transparent;
    transition: $transition;
  }
  &__link-icon {
    transition: $transition;
    path {
      transition: $transition;
    }
  }
}


