.aside {
  position: fixed;
  top: 0;
  bottom: 0;

  width: calc(#{$row-aside-width});

  &--position {
    &--top {
      top: 0;
      bottom: auto;
    }
  }

  &__inner {
    padding: 30px 0;
    height: 100%;
  }

  &__container {
    width: calc(#{$row-aside-width} - #{$col-width-d});
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top {}
  &__bottom {
    margin-top: 30px;
  }

  &__text {
    @include fsl(19px, 120%);
    @media (min-width: $breakpoint-xl) {
      @include fsl(25px)
    }
    @media (min-width: $breakpoint-xxl) {
      @include fsl(28px);
    }

    &--margin-bottom {
      &--default {
        margin-bottom: 15px;
      }
    }
  }
}
