.aside {
  position: fixed;
  top: 0;
  bottom: 0;

  width: calc(#{$row-aside-width});

  &--position {
    &--static {
      position: static;
    }
  }

  &__inner {
    padding: 30px 0;
    height: 100%;
  }

  &__container {
    width: calc(#{$row-aside-width} - #{$col-width-d});
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top {}
  &__bottom {
    margin-top: 30px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--margin-bottom {
      &--default {
        margin-bottom: 60px;
      }
      &--large {
        margin-bottom: 80px;
      }
    }
  }

  &__logo {
    display: flex;
  }
  &__logo-svg {}

  &__menu {
    $comp: &;

    display: flex;
    align-items: center;

    cursor: pointer;

    &:hover {
      #{$comp}-button {
        background-color: $color-blue;
      }
      #{$comp}-burger {

        &::before,
        &::after {
          background-color: $color-white;
          // transition: $transition;
        }
        &::before {
          transform: translate(-50%, -2px);
        }
        &::after {
          transform: translate(-50%, 2px);
        }
      }
    }

    &--active {
      #{$comp}-button {
        background-color: $color-blue;
      }
    }
  }
  &__menu-text {
    margin-right: 15px;

    @include fsl(15px, 15px);
  }
  &__menu-button {
    $size: 45px;

    width: $size;
    height: $size;
    min-width: $size;
    min-height: $size;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $color-blue-light;
    border-radius: 50%;
    transition: $transition;
  }
  &__menu-burger {
    padding: 5px 0;
    position: relative;

    width: 20px;
    height: 2px;

    transition: $transition;

    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform-origin: 50% 50%;
      transform: translate(-50%, 0);

      width: 100%;
      height: 1px;

      transition: transform $transition;
      background-color: $color-blue;
    }

    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }

  &__text {
    font-size: calc((((19 / 1366) + (25 / 1680) + (28 / 1920)) / 3) * 100vw);
    @media (max-width: $breakpoint-l - 1px) {
      @include fsl(19px);
    }
    @media (min-width: $breakpoint-xxl) {
      @include fsl(28px);
    }

    &--margin-bottom {
      &--default {
        margin-bottom: 15px;
      }
    }
  }
}
