.b {
  $comp: &;

  // row, секция альтуальное, главная, текст + ссылка
  &--text-with-link-row-in-main-page {
    display: flex;
    justify-content: space-between;
  }

  // ссылка (как кнопка), скругленная
  &--border-link {
    padding: 11px 20px;
    min-height: 40px;
    display: inline-flex;

    align-items: center;

    border: 1px solid $color-blue;
    border-radius: 40px;
    $fs: 15px;
    @include fsl($fs, $fs);

    &--desktop {
      @media (max-width: $breakpoint - 1px) {
        display: none;
      }
    }

    &--mobile {
      display: none;
      @media (max-width: $breakpoint - 1px) {
        display: inline-flex;
      }
    }
  }

  // верхний отступ carousel-slider'a на гравной, десктоп
  &--carousel-slider-desktop-margin-top-in-main-page {
    margin-top: 60px;
  }

  // "карусель" слайдер, на главной, десктоп
  &--carousel-slider-desktop {

    display: block;

    @media (max-width: $breakpoint - 1px) {
      display: none;
    }

    #{$comp}__btn {
      position: absolute;
      top: 60px;

      &--left {
        left: calc(#{$col-width-d} * 5);
        transform: translateX(-50%);
      }
      &--right {
        right: calc(#{$col-width-d} * 5);
        transform: translateX(50%);
      }
    }

    #{$comp}__bottom {
      position: relative;

      display: flex;
    }

    #{$comp}__row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      width: 100%;
    }
    #{$comp}__col {
      position: relative;
      z-index: 0;

      display: block;

      &:nth-child(1),
      &:nth-child(3) {
        $width: 217px;
        width: $width;
        min-width: $width;
        max-width: $width;
        @media (min-width: $breakpoint-xl) {
          $width: 270px;
          width: $width;
          min-width: $width;
          max-width: $width;
        }
      }
      &:nth-child(2) {
        $width: 327px;
        width: $width;
        min-width: $width;
        max-width: $width;
        @media (min-width: $breakpoint-xl) {
          $width: 405px;
          width: $width;
          min-width: $width;
          max-width: $width;
        }
      }
    }

    #{$comp}__container {
      min-height: 217px;
      @media (max-width: $breakpoint-xl - 1px) {
        min-height: 174px;
      }
      #{$comp}__img {
        height: 217px;
        @media (max-width: $breakpoint-xl - 1px) {
          height: 174px;
        }
      }

      &--big {
        min-height: 325px;
        @media (max-width: $breakpoint-xl - 1px) {
          min-height: 262px;
        }
        #{$comp}__img {
          height: 325px;
          @media (max-width: $breakpoint-xl - 1px) {
            height: 262px;
          }
        }
      }

      overflow: hidden;
    }

    #{$comp}__frame {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      overflow: hidden;
      transition: $transition;
      pointer-events: none;

      &--left {
        transform: translateX(-100%);

        #{$comp}__slide {
          transform: translateX(100%);
        }
      }

      &--right {
        transform: translateX(100%);

        #{$comp}__slide {
          transform: translateX(-100%);
        }
      }

      &--active {
        transform: translateX(0);
        pointer-events: all;
        z-index: 2;

        #{$comp}__slide {
          transform: translateX(0);
        }
      }

      &--front {
        z-index: 10;
      }
    }

    #{$comp}__slide {
      transition: $transition;
    }

    #{$comp}__label {
      position: absolute;
      top: 10px;
      left: 10px;

      padding: 6px 10px;

      background-color: $color-white;
      border: 1px solid $color-blue-light;
      border-radius: 40px;
      @include fsl(12px, 140%);
    }

    #{$comp}__wrapper {
      margin-top: 15px;
      position: relative;
    }

    #{$comp}__title {
      opacity: 0;
      pointer-events: none;

      overflow: hidden;
      font-weight: 400;
      @include fsl(18px, 140%);
      transition: opacity 0s .1s;

      &--active {
        opacity: 1;
        pointer-events: all;

        #{$comp}__span {
          animation: textIn $transition;
          transform: translateY(0);
          transition: transform, opacity 0s;
        }
      }

      &:not(:first-child) {
        position: absolute;
        top: 0;
      }
    }

    #{$comp}__span {
      display: block;
      animation: textOut $transition;
      transform: translateY(100%);
      transition: transform 0s;
    }

    #{$comp}__img {
      display: block;

      border-radius: 10px;
    }
  }

  // "карусель" слайдер, на главной, мобила
  &--carousel-slider-mobile {
    margin: 30px 0;

    display: none;
    @media (max-width: $breakpoint - 1px) {
      display: block;
    }

    width: calc(100% + 15px);

    #{$comp}__slide {
      position: relative;

      flex-shrink: 0;
      width: 270px;
    }

    #{$comp}__img {
      display: block;

      border-radius: 10px;
    }

    #{$comp}__title {
      margin-top: 15px;

      font-weight: 400;
      @include fsl(15px, 140%);
    }

    #{$comp}__label {
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 6px 10px;
      background-color: white;
      border: 1px solid #D7ECF8;
      border-radius: 40px;
      font-size: 0.75rem;
      line-height: 140%;
    }
  }

  // main page заголовок + кнопки перед табами
  &--reviews-slider-container {
    #{$comp}__top {
      margin-bottom: 60px;
      @media (max-width: $breakpoint - 1px) {
        margin-bottom: 30px;
      }
    }
    #{$comp}__top-row {
      display: flex;
      @media (max-width: $breakpoint-m - 1px) {
        display: block;
      }
      justify-content: space-between;
    }
    #{$comp}__top-col {
      flex-shrink: 0;

      &:not(:first-child) {
        margin-left: calc(#{$col-width-d});
        @media (max-width: $breakpoint - 1px) {
          margin-left: 0;
        }
        @media (max-width: $breakpoint-m - 1px) {
          margin-left: 0;
          margin-top: 30px;
        }
      }
    }

    #{$comp}__title {
      font-weight: 400;
      @media (min-width: $breakpoint) {
        @include fsl(34px, 130%);
      }
      @media (min-width: $breakpoint-xl) {
        @include fsl(40px);
      }
    }

    #{$comp}__control {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    #{$comp}__control-item {
      &:not(:first-child) {
        margin-left: 15px;
        @media (max-width: $breakpoint - 1px) {
          margin-left: 5px;
        }
      }
    }
  }

  // слайдер отзывов, главная
  &--reviews-slider-main-page {
    overflow: hidden;

    #{$comp}__top {
      margin-bottom: 60px;
      @media (max-width: $breakpoint - 1px) {
        margin-bottom: 30px;
      }

      &--tabs {
        @media (max-width: $breakpoint - 1px) {
          margin-bottom: 84px;
        }
      }
    }
    #{$comp}__bottom {
      display: flex;
    }

    #{$comp}__top-row {
      display: flex;
      @media (max-width: $breakpoint - 1px) {
        display: block;
      }
      justify-content: space-between;
    }
    #{$comp}__top-col {
      flex-shrink: 0;

      &:not(:first-child) {
        margin-left: calc(#{$col-width-d});
        @media (max-width: $breakpoint - 1px) {
          margin-left: 0;
          margin-top: 30px;
        }
      }
    }

    #{$comp}__title {
      font-weight: 400;
      @media (min-width: $breakpoint) {
        @include fsl(34px, 130%);
      }
      @media (min-width: $breakpoint-xl) {
        @include fsl(40px);
      }
    }

    #{$comp}__slide {
      @media (max-width: $breakpoint - 1px) {
        width: calc(#{$col-width-m} * 6);
        flex-shrink: 0;
      }
      &.active {

        #{$comp}__slide-img,
        #{$comp}__review,
        #{$comp}__content-wrapper,
        #{$comp}__preview-img,
        #{$comp}__preview-wrapper {
          animation: fadeInUp $transition;
          transform: translateY(0%);
          opacity: 1;
        }

        #{$comp}__desc-span {
          animation: textIn $transition;
          transform: translateY(0);
          transition: transform, opacity 0s;
        }
      }
    }

    #{$comp}__slide-row {
      display: flex;
      @media (max-width: $breakpoint-m - 1px) {
        display: block;
      }
      align-items: stretch;

      &--desktop {
        display: flex;
        @media (max-width: $breakpoint - 1px) {
          display: none;
        }
      }
    }
    #{$comp}__slide-col {
      flex-shrink: 0;

      &:nth-child(1) {
        @media (max-width: $breakpoint-m - 1px) {
          margin-bottom: 30px;
        }

        width: calc(#{$col-width-d} * 6);
        @media (max-width: $breakpoint - 1px) {
          width: calc(#{$col-width-m} * 3);
        }
        @media (max-width: $breakpoint-m - 1px) {
          width: 100%;
        }
      }
      &:nth-child(2) {
        @media (max-width: $breakpoint - 1px) {
          padding-right: 4px;
          padding-left: calc(#{$col-width-m});
        }
        @media (max-width: $breakpoint-m - 1px) {
          padding-left: 0;
        }

        width: calc(#{$col-width-d} * 12);
        @media (max-width: $breakpoint - 1px) {
          width: calc(#{$col-width-m} * 3);

          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: space-between;
        }
        @media (max-width: $breakpoint-m - 1px) {
          width: 100%;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
    #{$comp}__slide-img {
      animation: fadeOutUp $transition;
      transform: translateY(50%);
      opacity: 0;
      transition: transform, opacity 0s;
    }
    #{$comp}__slide-mobile {
      display: none;
      @media (max-width: $breakpoint - 1px) {
        display: block;
      }
    }
    #{$comp}__slide-top {
      @media (max-width: $breakpoint - 1px) {
        display: flex;
      }
    }

    #{$comp}__img {
      @media (max-width: $breakpoint - 1px) {
        margin-right: 32px;
      }

      max-width: 270px;
      @media (max-width: $breakpoint - 1px) {
        max-width: 83px;
      }

      border-radius: 10px;
    }

    #{$comp}__content {
      padding-top: 15px;
      height: 100%;
      @media (max-width: $breakpoint-m - 1px) {
        width: 100%;
      }

      border-top: 1px solid $color-blue;
    }

    #{$comp}__content-row {
      height: 100%;
      display: flex;
      align-items: stretch;
    }
    #{$comp}__content-col {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:nth-child(1) {
        width: calc(#{$col-width-d} * 8);
      }
      &:nth-child(2) {
        width: calc(#{$col-width-d} * 4);
      }
    }
    #{$comp}__content-top {}
    #{$comp}__content-bottom {
      margin-top: 55px;
      @media (max-width: $breakpoint-m - 1) {
        margin-top: 0;
        margin-right: 10px;

        order: -1;
      }
    }
    #{$comp}__content-bot {
      padding-left: calc(#{$col-width-d});
      display: flex;
      @media (max-width: $breakpoint - 1px) {
        margin-right: auto;
        padding-left: 0;
        display: block;
      }
      @media (max-width: $breakpoint-m - 1px) {
        margin-right: 0;
        order: -1;
      }
    }

    #{$comp}__content-wrapper {
      padding-left: 70px;

      animation: fadeOutUp $transition;
      transform: translateY(50%);
      opacity: 0;
      transition: transform, opacity 0s;
    }

    #{$comp}__slide-title {
      font-weight: 400;
      @include fsl(25px, 120%);
      @media (max-width: $breakpoint - 1px) {
        @include fsl(15px);
      }
      overflow: hidden;
    }
    #{$comp}__desc {
      margin-top: 10px;
      max-width: 406px;

      font-style: italic;
      @include fsl(13px, 140%);
      @media (max-width: $breakpoint - 1px) {
        @include fsl(11px);
      }
      color: $color-blue-dark;
      overflow: hidden;
    }
    #{$comp}__desc-span {
      display: block;
      animation: textOut $transition;
      transform: translateY(100%);
      transition: transform, opacity 0s;
    }
    #{$comp}__review {
      margin-top: 30px;
      max-width: 405px;

      font-style: italic;
      @include fsl(15px, 140%);
      animation: fadeOutUp $transition;
      transform: translateY(50%);
      opacity: 0;
      transition: transform, opacity 0s;
    }

    #{$comp}__link {
      margin-right: 30px;
      @media (max-width: $breakpoint - 1px) {
        margin-right: 15px;
      }
      padding-bottom: 2px;

      border-bottom: 1px solid $color-black;
      $fs: 15px;
      @include fsl($fs, $fs);
      transition: $transition;
      cursor: pointer;

      &:hover {
        color: $color-blue;
        border-color: $color-blue;
      }
    }
    #{$comp}__link-link {
      display: flex;
    }

    #{$comp}__control {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    #{$comp}__control-item {
      &:not(:first-child) {
        margin-left: 15px;
        @media (max-width: $breakpoint - 1px) {
          margin-left: 5px;
        }
      }
    }

    #{$comp}__preview {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
    #{$comp}__preview-image {
      overflow: hidden;
    }
    #{$comp}__preview-img {
      margin-left: 30px;
      max-width: 135px;

      border-radius: 10px;
      animation: fadeOutUp $transition;
      transform: translateY(50%);
      opacity: 0;
      transition: transform, opacity 0s;
    }
    #{$comp}__preview-counter {
      @include fsl(15px, 120%);
      overflow: hidden;
    }
    #{$comp}__preview-wrapper {
      padding-top: 5px;

      animation: fadeOutUp $transition;
      transform: translateY(50%);
      opacity: 0;
      transition: transform, opacity 0s;
    }
    #{$comp}__preview-count {
      margin-right: 14px;

      @include fsl(25px);
    }
  }

  // модификатор слайдера отзывов с главной
  &--reviews-slider-spray-page {

    #{$comp}__slide-row {
      @media (max-width: $breakpoint - 1px) {
        display: block;
      }

      &--desktop {
        @media (max-width: $breakpoint - 1px) {
          display: none;
        }
      }
    }
    #{$comp}__slide-col {

      &:nth-child(1) {
        @media (max-width: $breakpoint - 1px) {
          margin-bottom: 30px;
          width: 100%;
        }
        // @media (max-width: $breakpoint-m - 1px) {
        //   margin-bottom: 30px;
        // }
      }

      &:nth-child(2) {
        @media (max-width: $breakpoint - 1px) {
          padding-left: 0;

          justify-content: flex-end;
          width: 100%;
        }
      }
    }
    #{$comp}__slide-bottom {
      @media (max-width: $breakpoint - 1px) {
        display: none;
      }
      @media (max-width: $breakpoint-m - 1px) {
        display: block;
      }
    }

    #{$comp}__content {
      @media (max-width: $breakpoint - 1px) {
        width: 100%;
      }
    }
    #{$comp}__content-row {
      height: auto;
    }
    #{$comp}__content-col {
      &:nth-child(1) {
        @media (min-width: $breakpoint) {
          width: calc(#{$col-width-d} * 7);
        }
      }
      &:nth-child(2) {
        @media (min-width: $breakpoint - 1px) {
          width: calc(#{$col-width-d} * 5);
        }
      }
    }
    #{$comp}__content-content {
      @media (max-width: $breakpoint - 1px) {
        padding-left: 63px;
      }
      @media (max-width: $breakpoint-m - 1px) {
        display: none;
      }
    }

    #{$comp}__desc {
      @media (max-width: $breakpoint - 1px) {
        max-width: 100%;
      }
    }


    #{$comp}__preview {
      align-items: flex-start;
    }

    #{$comp}__review {
      @media (max-width: $breakpoint - 1px) {
        margin-bottom: 30px;
        max-width: 100%;
      }
      @media (max-width: $breakpoint-m - 1px) {
        margin-bottom: 15px;
      }
    }

    #{$comp}__link {
      @media (max-width: $breakpoint - 1px) {
        margin-right: 0;
      }
    }

    #{$comp}__bottom-row {
      margin-top: 60px;
      padding-bottom: 2px;

      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }

    #{$comp}__bottom-col {

      &:nth-child(1) {
        padding-left: calc(#{$col-width-d});
      }
    }
  }

  // кнопки управления слайдером
  &--btn-left-right-slider {
    $size: 60px;
    $size-m: 39px;
    width: $size;
    height: $size;
    min-width: $size;
    min-height: $size;
    @media (max-width: $breakpoint - 1px) {
      width: $size-m;
      height: $size-m;
      min-width: $size-m;
      min-height: $size-m;
    }
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid $color-blue;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      #{$comp}__svg {
        path {
          stroke: $color-white;
        }
      }
    }

    #{$comp}__svg {
      position: relative;
      z-index: 1;

      @media (max-width: $breakpoint - 1px) {
        height: 10px;
      }

      path {
        transition: $transition;
      }
    }

    &#{$comp}--right {
      #{$comp}__svg {
        transform: rotate(180deg);

      }
    }
  }

  // строка поиска, вопросы-ответы, Консультация
  &--search-consultation {
    $btn-size: 60px;
    $input-btn-gap: $btn-size / 2;

    padding-bottom: 20px;

    border-bottom: 1px solid $color-blue;

    #{$comp}__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    #{$comp}__input {
      width: calc(100% - (#{$btn-size} + #{$input-btn-gap}));
      @media (max-width: $breakpoint - 1px) {
        width: calc(100% - (34px + 5px));
      }
      display: block;

      background: none;
      border: none;
      @include fsl(70px, 110%);
      @media (max-width: $breakpoint - 1px) {
        @include fsl(26px);
      }
      color: $color-blue;

      @include placeholder {
        color: $color-blue-light;
      }
    }

    #{$comp}__btn {
      $size: $btn-size;
      $size-m: 34px;

      padding: 5px;
      width: $size;
      height: $size;
      min-width: $size;
      min-height: $size;
      @media (max-width: $breakpoint - 1px) {
        width: $size-m;
        height: $size-m;
        min-width: $size-m;
        min-height: $size-m;
      }
      display: flex;
      justify-content: center;
      align-items: center;

      background: none;
      border: 1px solid $color-blue;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        #{$comp}__svg {
          path,
          circle {
            stroke: $color-white;
          }
        }
      }
    }

    #{$comp}__svg {
      $size-m: 11px;

      position: relative;
      z-index: 1;

      @media (max-width: $breakpoint - 1px) {
        max-width: $size-m;
        max-height: $size-m;
      }

      circle,
      path {
        transition: $transition;
      }
    }
  }
}
