.back-link {
  margin-bottom: 30px;
  @media (max-width: $breakpoint - 1px) {
    margin-bottom: 15px;
  }

  display: flex;
  align-items: center;

  transition: $transition;

  &--mobile {
    display: none;
    @media (max-width: $breakpoint - 1px) {
      display: flex;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &__text {
    margin-left: 15px;

    text-transform: uppercase;
    @include fsl(13px, 120%);
  }

  &__svg {
    &--swap {
      transform: rotate(180deg);
    }
  }
}
