.button {
  padding: 19px 61px;

  border: 1px solid $color-blue;
  border-radius: 40px;
  @include fsl(15px, 140%);
  transition: $transition;
  cursor: pointer;

  &--small {
    padding: 19px 45px;
  }
}
