.button-show {
  $comp: &;

  padding: 3px 5px 1px 0;
  margin: 0 auto;

  display: flex;
  align-items: center;

  cursor: pointer;
  transition: $transition;
  border-radius: 5px;
  border: 1px solid transparent;

  &:hover {
    border-color: $color-blue;

    #{$comp}__icon {
      margin-right: 2px;
    }

    #{$comp}__svg-border {
      stroke: transparent;
    }
  }

  &--default {
    margin: 0;
  }

  &__icon {
    margin-right: 13px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: $transition;
  }

  &__text {
    @include fsl(13px, 120%);
    text-transform: uppercase;
  }

  &__svg-border {
    transition: $transition;
  }
  &__svg-stroke {
    transition: $transition;
  }
}

.button-show-wrapper {
  margin-top: 60px;
  @media (max-width: $breakpoint - 1px) {
    margin-top: 30px;
  }

  display: flex;
}
