.button {
  padding: 19px 61px;
  @media (max-width: $breakpoint - 1px) {
    padding: 11px 27px;
  }

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid $color-blue;
  border-radius: 40px;
  @include fsl(15px, 140%);
  @include f-main();
  transition: $transition;
  cursor: pointer;
  background-color: inherit;

  &--small {
    padding: 19px 45px;
  }

  &--m {
    padding: 11px 27px;

    @include fsl(13px, 140%);
  }

  &--t {
    padding: 12px 0;
    @media (max-width: $breakpoint-xl - 1px) {
      padding: 12px 10px;
    }
    @media (max-width: $breakpoint - 1px) {
      padding: 12px 0;
    }

    line-height: 100%;
  }

  &--l {
    padding: 19px 0;

    width: 240px;
    flex-shrink: 0;
  }

  &--wide {
    padding: 19px 0;

    width: 100%;
  }

  &--purple {
    border-color: $color-purple;
  }

  &--reviews-slider {
    padding: 12px 20px;
    @media (max-width: $breakpoint-s - 1px) {
      padding: 12px 15px;
    }
    display: inline-flex;

    $fs: 15px;
    @include fsl($fs, $fs);

    &--small {
      padding: 9px 20px;
    }
  }

  &--spray-article {
    @media (max-width: $breakpoint - 1px) {
      @include fsl(13px, 140%);
    }
  }

  &--spray {
    padding: 12px 0;

    width: 100%;

    @include fsl(15px, 100%);
  }

  &--blue {
    background-color: $color-blue;
    color: $color-white;
  }

  &--xs {
    @media (max-width: $breakpoint-xs - 1px) {
      @include fsl(11px);
    }
  }
}
