.button-close {
  $comp: &;
  $size: 45px;

  width: $size;
  height: $size;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $color-white;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    #{$comp}__svg {
      path {
        stroke: $color-white;
      }
    }
  }

  &__svg {
    position: relative;
    z-index: 1;

    path {
      transition: $transition;
    }
  }
}
