.buy-page {

  &__partners {
    margin-top: 30px;
  }
  &__partners-list {
    display: flex;
  }
  &__partners-item {
    flex-shrink: 0;
    width: calc(((#{$col-width-d} * 18) / 6) - 10px);
    height: 120px;

    border: 1px solid $color-blue-light;
    border-radius: 10px;

    &:not(:first-child) {
      margin-left: 12px;
    }
  }
  &__partners-card {
    padding: 30px;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

