.category-item {
  padding: 5px 10px;

  border: 1px solid $color-blue;
  border-radius: 40px;
  @include fsl(15px, 140%);
  @media (max-width: $breakpoint - 1px) {
    @include fsl(12px);
  }
  background-color: $color-white;
  cursor: pointer;
  white-space: nowrap;

  &--light-blue {
    border-color: $color-blue-light;
    background-color: $color-aqua;
  }

  &--background {
    &--white {
      background-color: $color-white;
    }
    &--none {
      background: none;
    }
  }

  &--blue {
    border-color: $color-blue;
    background-color: $color-blue;
    color: $color-white;
  }

  &--purple {
    border-color: $color-purple;
    background-color: $color-purple;
    color: $color-white;
  }
}
