.checkbox {
  $comp: &;

  &__label {
    position: relative;
    display: flex;
    @media (max-width: $breakpoint - 1px) {
      align-items: center;
    }
    @media (max-width: $breakpoint-s - 1px) {
      align-items: stretch;
    }
    cursor: pointer;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;

    &:checked {
      ~#{$comp}__box {
        background-color: $color-blue;

        .checkbox__icon {
          opacity: 1;
        }
      }

    }
  }

  &__box {
    $size: 25px;

    width: $size;
    height: $size;

    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 1px solid $color-blue;
    transition: $transition;
  }

  &__icon {
    opacity: 0;
    transition: $transition;
  }

  &__text {
    padding-left: 10px;

    @include fsl(11px, 140%);
  }

  &__link {
    color: $color-blue;
  }

  .parsley-error {
    #{$comp}__box {
      border-color: #F053BB;
    }

    #{$comp}__link {
      color: #F053BB;
    }

    
  }

  .parsley-errors-list {
    display: none;
  }
}
