.cookies {
  position: fixed;
  z-index: 500;
  top: 100%;
  left: calc(#{$col-width-d} * 6 + 30px);
  @media (max-width: $breakpoint - 1px) {
    left: 0;
    right: 0;
  }
  transform: translateY(0);

  width: calc((#{$col-width-d} * 18) + 30px);
  @media (max-width: $breakpoint - 1px) {
    width: 100%;
  }

  border-radius: 10px 0px 0px 0px;
  @media (max-width: $breakpoint - 1px) {
    border-radius: 0;
  }
  background-color: $color-blue;
  transition: transform $transition;

  &--active {
    transform: translateY(-100%);
  }

  &--disabled {
    display: none;
    pointer-events: none;
    visibility: hidden;

    opacity: 0;
  }

  &__container {
    padding-right: 30px;
    @media (max-width: $breakpoint - 1px) {
      padding: 0 15px;
    }
  }

  &__inner {
    padding: 23px calc(#{$col-width-d});
    @media (max-width: $breakpoint - 1px) {
      padding: 20px 0 25px;
    }
  }

  &__row {
    display: flex;
    @media (max-width: $breakpoint - 1px) {
      display: block;
    }
    justify-content: space-between;
    align-items: center;
  }
  &__col {
    flex-shrink: 0;

    &:nth-child(1) {
      @media (max-width: $breakpoint - 1px) {
        margin-bottom: 5px;
      }

      width: calc(#{$col-width-d} * 11);
      @media (max-width: $breakpoint - 1px) {
        width: 100%;
      }
    }

    &:nth-child(2) {
      @media (max-width: $breakpoint - 1px) {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  &__text {
    @include fsl(13px, 140%);
    @media (max-width: $breakpoint - 1px) {
      @include fsl(11px);
    }
    color: $color-white;
  }

  &__btn {
    $comp: &;

    width: 105px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid $color-white;
    border-radius: 40px;
    cursor: pointer;
    transition: $transition;

    &:hover {
      background-color: $color-white;

      #{$comp}-text {
        color: $color-blue;
      }
    }
  }
  &__btn-text {
    $fs: 15px;
    @include fsl($fs, $fs);
    color: $color-white;
    transition: $transition;
  }
}
