.disease-page {
  $comp : &;

  &__section {}
  &__section-row {
    display: flex;
    @media (max-width: $breakpoint - 1px) {
      display: block;
    }
    justify-content: space-between;

    &--alt {
      #{$comp}__section-col {
        &:nth-child(1) {
          display: block;
          @media (max-width: $breakpoint - 1px) {
            display: none;
          }
          @media (max-width: $breakpoint-m - 1px) {
            display: block;
          }
        }

        &:nth-child(2) {
          position: relative;
        }
      }
      #{$comp}__section-bot {
        @media (min-width: $breakpoint) {
          margin-top: 60px;
        }
      }

      #{$comp}__section-content {
        margin-bottom: 238px;
      }
      .specialists-page__content-wave {
        bottom: auto;
        top: 85px;
      }
    }
  }
  &__section-col {
    flex-shrink: 0;
    &:nth-child(1) {
      @media (max-width: $breakpoint - 1px) {
        margin-bottom: 30px;
      }

      width: calc(#{$col-width-d} * 5);
      @media (max-width: $breakpoint - 1px) {
        width: 100%;
      }
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &:nth-child(2) {
      width: calc(#{$col-width-d} * 12);
      @media (max-width: $breakpoint - 1px) {
        width: 100%;
      }
    }
  }
  &__section-label {
    margin-bottom: 15px;

    text-transform: uppercase;
    color: $color-blue;
    @include fsl(13px, 120%);
  }
  &__section-container {
    padding: 0 calc(#{$col-width-d});
    @media (max-width: $breakpoint - 1px) {
      padding: 0;
    }
  }
  &__section-category {
    display: flex;
  }
  &__section-list {

    @media (max-width: $breakpoint - 1px) {
      padding: 0 15px;
      margin-left: -15px;

      width: calc(100% + 30px);
      display: flex;

      overflow-x: auto;
      background-color: $color-aqua;
      @include scrollbar-hidden;
    }
  }

  &__container {
    padding: 15px;

    display: flex;
    @media (max-width: $breakpoint - 1px) {
      flex-shrink: 0;
    }
    
    @media (min-width: $breakpoint) {
      background-color: #E0F3FD;
      border-radius: 10px;
    }

    &--hidden {
      opacity: 0;
    }
  }

  &__content-m {
    @media (max-width: $breakpoint - 1px) {
      padding-left: calc(#{$col-width-m});
      width: calc(#{$col-width-m} * 5);
    }
    @media (max-width: $breakpoint-m - 1px) {
      padding-left: 0;
      width: auto;
    }
  }

  &__container-label {
    @media (min-width: $breakpoint) {
      padding-top: 3px;
    }
    width: calc((#{$col-width-d} * 2) - 15px);
    @media (max-width: $breakpoint-ll - 1px) {
      width: 110px;
    }
    flex-shrink: 0;

    color: $color-blue;
    @include fsl(13px, 120%);
    text-transform: uppercase;
  }

  &__list {
    margin-top: -5px;
    margin-left: -5px;
    @media (max-width: $breakpoint - 1px) {
      margin: 0;
    }
    display: flex;
    flex-wrap: wrap;
    @media (max-width: $breakpoint - 1px) {
      flex-wrap: nowrap;
    }
  }
  &__list-item {
    margin-left: 5px;
    margin-top: 5px;
    @media (max-width: $breakpoint - 1px) {
      margin: 0;

      white-space: nowrap;
    }

    &:not(:first-child) {
      @media (max-width: $breakpoint - 1px) {
        margin-left: 5px;
      }
    }
  }

  &__content {
    overflow-y: hidden;

    h3 {
      @media (max-width: $breakpoint - 1px) {
        margin-bottom: 20px;
      }

      color: $color-blue;
      font-weight: 400;
      @include fsl(35px, 130%);
      @media (max-width: $breakpoint - 1px) {
        @include fsl(20px, 140%);
      }
    }

    p {
      @include fsl(18px, 170%);
      @media (max-width: $breakpoint - 1px) {
        @include fsl(15px);
      }
    }

    ul {
      margin-top: 40px;

      counter-reset: index;
    }

    li {
      padding-bottom: calc(30px + 20px);
      padding-left: calc(#{$col-width-d} * 2);
      padding-right: calc(#{$col-width-d});
      @media (max-width: $breakpoint - 1px) {
        padding-left: calc(#{$col-width-m});
        padding-right: 0;
      }

      position: relative;
      counter-increment: index;
      min-height: 117px;

      @include fsl(18px, 140%);
      @media (max-width: $breakpoint - 1px) {
        @include fsl(15px);
      }

      &:not(:first-child) {
        margin-top: 40px;
        @media (max-width: $breakpoint - 1px) {
          margin-top: 30px;
        }
      }

      &::before {
        $size-d: calc(#{$col-width-d});
        $size-m: 43px;

        content: counter(index);
        position: absolute;
        top: 0;
        left: 0;

        width: $size-d;
        height: $size-d;
        @media (max-width: $breakpoint - 1px) {
          width: $size-m;
          height: $size-m;
        }

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 50%;
        border: 1px solid $color-blue;
        background-color: $color-white;
        @include fsl(18px, 140%);
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        height: 30px;

        border: 1px solid $color-blue;
        border-top: none;
        border-radius: 0 0 10px 10px;
      }
    }

    &--show {
      @media (max-width: $breakpoint - 1px) {
        padding-bottom: 15px;

        #{$comp}__spray-gradient {
          opacity: 0;
        }
      }
    }
  }
  &__content-type {
    padding-bottom: 30px;

    border-bottom: 1px solid $color-blue;

    h4 {
      font-weight: 400;
      @include fsl(25px, 150%);
      @media (max-width: $breakpoint - 1px) {
        @include fsl(18px);
      }
    }

    p {
      margin-top: 15px;

      @include fsl(18px, 170%);
      @media (max-width: $breakpoint - 1px) {
        @include fsl(15px);
      }
    }
  }
  &__content-row {
    display: flex;
    @media (max-width: $breakpoint - 1px) {
      display: block;
    }
    justify-content: space-between;
  }
  &__content-col {
    flex-shrink: 0;
    &:nth-child(1) {
      width: calc((#{$col-width-d} * 5) + 5px);
      @media (max-width: $breakpoint - 1px) {
        width: 100%;
      }
    }

    &:nth-child(2) {
      width: calc(#{$col-width-d} * 12);
      @media (max-width: $breakpoint - 1px) {
        width: 100%;
      }
    }
  }

  &__disease {
    img {
      $size-d: calc(#{$col-width-d} * 3);
      $size-m: 203px;

      flex-shrink: 0;
      width: $size-d;
      height: $size-d;
      @media (max-width: $breakpoint - 1px) {
        width: $size-m;
        height: $size-m;
      }
      display: block;

      border-radius: 10px;
    }
  }
  &__disease-row {
    display: flex;
    @media (max-width: $breakpoint - 1px) {
      display: block;
    }
    justify-content: space-between;
  }
  &__disease-col {
    flex-shrink: 0;

    &:nth-child(1) {
      @media (max-width: $breakpoint - 1px) {
        margin-bottom: 20px;
      }

      width: calc(#{$col-width-d} * 3);
      @media (max-width: $breakpoint - 1px) {
        width: 100%;
      }
    }
    &:nth-child(2) {
      width: calc(#{$col-width-d} * 8);
      @media (max-width: $breakpoint - 1px) {
        width: 100%;
      }
    }
  }

  &__diagnostics {
    margin-top: 40px;
    @media (max-width: $breakpoint - 1px) {
      margin-top: 30px;

      display: block;
    }
    display: flex;
    justify-content: space-between;

    p {
      padding: 50px 30px;
      @media (max-width: $breakpoint - 1px) {
        padding: 50px 0;
      }

      position: relative;
      width: calc((#{$col-width-d} * 12) / 2 - 10px);
      @media (max-width: $breakpoint - 1px) {
        width: 100%;
      }
      flex-shrink: 0;

      @include fsl(18px, 140%);
      @media (max-width: $breakpoint - 1px) {
        @include fsl(15px);
      }

      &::after,
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;

        height: 30px;
      }

      &::before {
        top: 0;

        border: 1px solid $color-blue-light;
        border-bottom: none;
        border-radius: 10px 10px 0 0;
      }

      &::after {
        bottom: 0;

        border: 1px solid $color-blue;
        border-top: none;
        border-radius: 0 0 10px 10px;
      }

      &:not(:first-child) {
        @media (max-width: $breakpoint - 1px) {
          margin-top: 15px;
        }
      }
    }
  }

  &__spray {
    padding: 0 calc(#{$col-width-d});
    @media (max-width: $breakpoint - 1px) {
      padding: 0 15px;
    }

    background-color:#E0F3FD;
    border-radius: 10px;

    &--crop {
      #{$comp}__spray-container {
        @media (max-width: $breakpoint - 1px) {
          padding: 30px 0 15px;
        }
      }

      #{$comp}__spray-button {
        display: block;
      }
    }
  }
  &__spray-container {
    padding: 68px 0;
    @media (max-width: $breakpoint - 1px) {
      padding: 30px 0;
    }
  }
  &__spray-row {
    display: flex;
    @media (max-width: $breakpoint - 1px) {
      display: block;
    }
    justify-content: space-between;
  }
  &__spray-col {
    flex-shrink: 0;

    &:nth-child(1) {
      position: relative;

      @media (max-width: $breakpoint - 1px) {
        margin-bottom: 30px;
      }

      width: calc(#{$col-width-d} * 6);
      @media (max-width: $breakpoint - 1px) {
        width: 100%;
      }
    }
    &:nth-child(2) {
      width: calc(#{$col-width-d} * 9);
      @media (max-width: $breakpoint - 1px) {
        width: 100%;
      }
    }
  }
  &__spray-title {
    @media (max-width: $breakpoint - 1px) {
      display: none;
    }

    font-weight: 400;
    @include fsl(35px, 130%);
    @media (max-width: $breakpoint - 1px) {
      @include fsl(18px, 140%);
    }

    &--mobile {
      @media (max-width: $breakpoint - 1px) {
        margin-bottom: 20px;
        display: block;
      }
      display: none;
    }
  }
  &__spray-image {
    img {
      display: block;
      max-width: calc(#{$col-width-d} * 6);
      @media (max-width: $breakpoint - 1px) {
        max-width: 100%;
      }

      border-radius: 10px;
    }
  }
  &__spray-buttons {
    margin-top: 15px;
  }
  &__spray-item {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
  &__spray-column {
    padding-left: calc(#{$col-width-d});
    @media (max-width: $breakpoint - 1px) {
      padding-left: 0;

      position: relative;
    }
  }
  &__spray-gradient {
    @media (max-width: $breakpoint - 1px) {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      transition: $transition;
      pointer-events: none;
      background: linear-gradient(180deg, transparent 0%, $color-aqua 100%);
    }
  }
  &__spray-wrapper {
    display: flex;
  }
  &__spray-button {
    display: none;

    &--show {
      .button-show__svg-stroke {
        opacity: 0;
      }
    }
  }
}

