.doctor-card {
  $comp: &;

  &--col {
    #{$comp}__row {
      display: block;
    }
    #{$comp}__col {
      &:nth-child(2) {
        margin-top: 15px;
        margin-left: 0;
      }
    }
  }

  &__row {
    display: flex;
  }

  &__col {
    &:nth-child(1) {

    }
    &:nth-child(2) {
      margin-left: 30px;
      @media (max-width: $breakpoint - 1px) {
        margin-left: 15px;
      }
    }
  }

  &__frame {
    $size-d: calc(#{$col-width-d} * 2);
    $size-m: 90px;

    flex-shrink: 0;

    @media (max-width: $breakpoint - 1px) {
      width: $size-m;
      height: $size-m;
    }
    width: $size-d;
    height: $size-d;

    &--size {

      &--default {
        $size-d: 179px;

        width: $size-d;
        height: $size-d;
      }
    }
  }

  &__portrait {

  }

  &__name {
    margin-bottom: 10px;

    @include fsl(15px, 140%);
    @media (max-width: $breakpoint - 1px) {
      @include fsl(13px)
    }
    font-weight: 400;
  }

  &__pos {
    @include fsl(12px, 140%);
    @media (max-width: $breakpoint - 1px) {
      @include fsl(11px)
    }
    color: $color-gray;
  }
}
