.download-link {
  $comp: &;

  padding: 12px 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid $color-blue;
  border-radius: 40px;
  transition: $transition;
  

  &:hover {
    #{$comp}__svg {
      path {
        stroke: $color-white;
      }
    }
  }

  &--margin-bot {
    &--default {
      margin-bottom: 20px;
    }
  }

  &--default {
    padding: 12px 20px;
  }

  &__icon {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
  }

  &__svg {
    position: relative;
    z-index: 1;

    path {
      transition: $transition;
    }
  }

  &__text {
    margin-left: 15px;

    @include fsl(15px, 100%);
    @media (max-width: $breakpoint - 1px) {
      font-size: 13px;
    }
    white-space: nowrap;
  }
}
