.faq-page {

  &__button {
    display: none;
    @media (max-width: $breakpoint - 1px) {
      display: block;
    }
  }

  &__container {
    display: none;
    @media (max-width: $breakpoint - 1px) {
      margin-left: -15px;

      display: flex;
      width: calc(100% + (15px * 2));

      overflow-x: auto;
      @include scrollbar-hidden;
    }
  }
  &__list {

    &--mobile {
      @media (max-width: $breakpoint - 1px) {
        margin-bottom: 30px;
      }
      display: none;
      @media (max-width: $breakpoint - 1px) {
        padding: 0 15px;
        display: flex;
        flex-shrink: 0;
      }
    }
  }
  &__item {
    &:not(:first-child) {
      margin-top: 10px;
      @media (max-width: $breakpoint - 1px) {
        margin-top: 0;
        margin-left: 15px;
      }
    }
  }

  &__section-item {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  &__form {
    position: relative;
  }
  &__form-row {
    display: flex;
    @media (max-width: $breakpoint - 1px) {
      display: block;
    }
    justify-content: space-between;

    transition: $transition;
  }
  &__form-col {
    flex-shrink: 0;

    &:nth-child(1) {
      @media (max-width: $breakpoint - 1px) {
        margin-bottom: 30px;
      }

      width: calc(#{$col-width-d} * 7);
      @media (max-width: $breakpoint - 1px) {
        width: 100%;
      }
    }
    &:nth-child(2) {
      width: calc(#{$col-width-d} * 9);
      @media (max-width: $breakpoint - 1px) {
        width: 100%;
      }
    }
  }
  &__form-title {
    font-weight: 400;
    @include fsl(35px, 130%);
    @media (max-width: $breakpoint - 1px) {
      @include fsl(20px, 120%);
    }
  }

  &__response {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: calc(#{$col-width-d} * 14);
    @media (max-width: $breakpoint - 1px) {
      width: 100%;
    }

    opacity: 0;
    pointer-events: none;
    transition: $transition;
  }
  &__response-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &__response-col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-width-d} * 11);
      @media (max-width: $breakpoint - 1px) {
        width: 100%;
      }
    }

    &:nth-child(2) {
      display: flex;
      justify-content: flex-end;
    }
  }
  &__response-title {
    font-weight: 400;
    @include fsl(35px, 130%);
    @media (max-width: $breakpoint - 1px) {
      @include fsl(20px);
    }
  }
  &__response-button {
    flex-shrink: 0;
    width: calc(#{$col-width-d} * 5);
    @media (max-width: $breakpoint - 1px) {
      width: 100%;
    }
  }
}
