.footer {
  padding: 30px 0;

  border-top: 1px solid $color-blue-light;

  &__top {}

  &__row {
    display: flex;
    @media (max-width: $breakpoint-m - 1px) {
      display: block;
    }
    align-items: stretch;
    @media (max-width: $breakpoint-l - 1px) {
      justify-content: space-between;
    }
  }
  &__row-col {
    flex-shrink: 0;
    width: calc(#{$col-width-d} * 9);
    &:nth-child(1) {
      @media (max-width: $breakpoint-l - 1px) {
        // width: calc(#{$col-width-m} * 3);
        width: 50%;
      }
      @media (max-width: $breakpoint-m - 1px) {
        width: 100%;
      }
    }
    &:nth-child(2) {
      @media (max-width: $breakpoint-l - 1px) {
        padding-left: calc(#{$col-width-d});
        // width: calc((#{$col-width-m} * 2) + (#{$col-width-m} / 2));
        width: 50%;
      }
      @media (max-width: $breakpoint-m - 1px) {
        margin-top: 40px;

        width: 100%;
      }
    }

  }

  &__product {
    display: flex;
    align-items: stretch;
  }
  &__product-item {
    flex-shrink: 0;

    @media (max-width: $breakpoint-m - 1px) {
      width: calc((100% / 2) - 7px);
    }

    &:not(:first-child) {
      margin-left: 15px;
    }
  }

  &__block {
    height: 100%;
    display: flex;
    @media (max-width: $breakpoint-l - 1px) {
      display: block;
    }
  }
  &__block-col {
    height: 100%;
    @media (max-width: $breakpoint-l - 1px) {
      height: auto;
    }
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-width-d} * 5);
      @media (max-width: $breakpoint-l - 1px) {
        width: 100%;
      }
    }
    &:nth-child(2) {
      @media (max-width: $breakpoint-l - 1px) {
        margin-top: 60px;
      }
      @media (max-width: $breakpoint-m - 1px) {
        margin-top: 40px;
      }

      width: calc(#{$col-width-d} * 4);
      @media (max-width: $breakpoint-l - 1px) {
        width: 100%;
      }
    }
  }

  &__nav {}
  &__nav-list {
    @media (max-width: $breakpoint-l - 1px) {
      display: flex;
    }
  }
  $gap: 17px;
  &__nav-col {
    @media (max-width: $breakpoint-m - 1px) {
      width: calc(100% / 2);
    }
    &:not(:first-child) {
      margin-top: $gap;
      @media (max-width: $breakpoint-l - 1px) {
        margin-top: 0;
        margin-left: 36px;
      }
      @media (max-width: $breakpoint-m - 1px) {
        margin-left: 0;
      }
    }
  }
  &__nav-item {
    display: flex;

    &:not(:first-child) {
      margin-top: $gap;
      @media (max-width: $breakpoint-l - 1px) {
        margin-top: 15px;
      }
    }
  }
  &__nav-link {
    @include fsl(15px, 120%);
    @media (max-width: $breakpoint-l - 1px) {
      @include fsl(13px);
    }
    transition: $transition;

    &:hover {
      color: $color-blue;
    }
  }

  &__col {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__bottom {
    margin-top: 60px;
    @media (min-width: $breakpoint-xl) {
      margin-top: 90px;
    }
    @media (max-width: $breakpoint-l - 1px) {
      margin-top: 30px;
    }
  }

  &__disclaimer {
    padding: 14px 12px;
    min-height: 50px;
    display: flex;
    align-items: center;

    border: 1px solid $color-blue-light;
    border-radius: 10px;
    @include f-alt();
    @include fsl(24px, 120%);
    @media (min-width: $breakpoint-l) {
      @include fsl(20px);
    }
    @media (min-width: $breakpoint-xl) {
      @include fsl(24px);
    }
    @media (min-width: $breakpoint-xxl) {
      @include fsl(28px);
    }

    color: $color-blue-light;
    text-transform: uppercase;
  }

  &__info {
    @media (max-width: $breakpoint-l - 1px) {
      margin-top: 40px;
    }
  }

  &__dev {
    margin-top: 40px;

    white-space: nowrap;
  }
  &__dev-text {
    display: inline-block;

    @include fsl(13px, 120%);
  }
  &__dev-link {
    color: $color-blue;
    transition: $transition;

    &:hover {
      color: $color-purple;
    }
  }

  &__doc {}
  &__doc-item {
    display: flex;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }
  &__doc-link {
    @include fsl(11px, 120%);
    transition: $transition;

    &:hover {
      color: $color-blue;
    }
  }

  &__address {
    @include fsl(13px, 120%);
  }

  &__contact {
    @media (max-width: $breakpoint-l - 1px) {
      display: flex;
    }
  }
  &__contact-item {
    @media (max-width: $breakpoint-m - 1px) {
      width: calc(100% / 2);
    }
    &:not(:first-child) {
      margin-top: 30px;
      @media (max-width: $breakpoint-l - 1px) {
        margin-top: 0;
        margin-left: 57px;
      }
      @media (max-width: $breakpoint-m - 1px) {
        margin-left: 0;
      }
    }
  }

  &__phone {}
  &__phone-item {
    display: flex;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }
  &__phone-link {
    @include fsl(13px, 120%);
    color: $color-blue;
    transition: $transition;
    @media (max-width: $breakpoint-l - 1px) {
      white-space: nowrap;
    }

    &:hover {
      color: $color-purple;
    }
  }
}
