.form {
  $comp: &;

  transition: $transition;

  &--follow {

    #{$comp}__item {

      flex-shrink: 0;
      width: calc((100% / 2) - 6px);
      @media (max-width: $breakpoint - 1px) {
        width: 100%;
      }

      &:not(:first-child) {
        margin-top: 0;
        margin-left: 12px;
        @media (max-width: $breakpoint - 1px) {
          margin-left: 0;
          margin-top: 5px;
        }
      }

      &--m {
      @media (max-width: $breakpoint - 1px) {
        margin-top: 15px;

        &:not(:first-child) {
          margin-top: 15px;
        }
      }
    }
    }
  }

  &__row {
    display: flex;
    @media (max-width: $breakpoint - 1px) {
      display: block;
    }

    &:not(:first-child) {
      margin-top: 20px;
      @media (max-width: $breakpoint - 1px) {
        margin-top: 0;
      }
    }
  }

  &__item {
    position: relative;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  &__input {
    padding: 19px 30px;
    @media (max-width: $breakpoint - 1px) {
      padding: 11px 30px;
    }

    width: 100%;

    @include fsl(15px, 140%);
    @include f-main();
    border-radius: 6px;
    border: 1px solid $color-blue-light;
    transition: $transition;

    &::placeholder {
      @include fsl(15px, 140%);
      color: $color-black;
    }

    &:focus {
      border-color: $color-blue;
    }
  }

  // &__placeholder {
  //   position: absolute;
  //   top: 50%;
  //   left: 30px;
  //   transform: translateY(-50%);

  //   @include fsl(15px, 140%);
  //   transition: $transition;
  // }

  &__textarea {
    padding: 19px 30px;

    width: 100%;
    height: 140px;

    border-radius: 6px;
    border: 1px solid $color-blue-light;
    @include f-main();
    @include fsl(15px, 140%);
    resize: none;

    &::placeholder {
      @include fsl(15px, 140%);
      color: $color-black;
    }
  }

  &__container {
    flex-shrink: 0;
    width: calc(#{$col-width-d} * 5);
    @media (max-width: $breakpoint - 1px) {
      width: 100%;
    }
  }

  &__inner {
    margin: 30px 0;
    @media (max-width: $breakpoint - 1px) {
      margin: 15px 0;
    }
  }

  .parsley-error {
    border-color: #E64AE9;
  }

  .parsley-errors-list {
    position: absolute;
    bottom: 10px;
    right: 10px;

    li {
      @include fsl(11px, 120%);
      color: #E64AE9;
    }
  }
}

[data-form-hidden] {
  opacity: 0;
  pointer-events: none;
}


