.form-container {

  position: relative;

  &__row {
    padding: 60px calc(#{$col-width-d});
    @media (max-width: $breakpoint - 1px) {
      padding: 30px 15px;
    }

    display: flex;
    @media (max-width: $breakpoint - 1px) {
      display: block;
    }
    justify-content: space-between;

    border: 1px solid $color-blue;
    border-radius: 10px;
    transition: $transition;
  }

  &__col {
    flex-shrink: 0;

    &:nth-child(1) {
      @media (max-width: $breakpoint - 1px) {
        margin-bottom: 30px;
      }

      width: calc(#{$col-width-d} * 4);
      @media (max-width: $breakpoint - 1px) {
        width: 100%;
      }
    }
    &:nth-child(2) {
      width: calc(#{$col-width-d} * 11);
      @media (max-width: $breakpoint - 1px) {
        width: 100%;
      }
    }

    transition: $transition;
  }

  &__title {
    font-weight: 400;
    @include fsl(35px, 130%);
    @media (max-width: $breakpoint-xl - 1px) {
      @include fsl(30px);
    }
    @media (max-width: $breakpoint-ll - 1px) {
      @include fsl(25px);
    }
    @media (max-width: $breakpoint - 1px) {
      @include fsl(20px);
    }
  }

  &__response {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: $color-aqua;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: $transition;

    &::before {
      $size-d: 352px;
      $size-m: 250px;

      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: calc(#{$col-width-d} + (#{$col-width-d} / 2));
      transform: translateY(-50%);
      @media (max-width: $breakpoint - 1px) {
        left: 50%;
        top: -67px;
        transform: translateX(-50%);
      }

      width: $size-d;
      height: $size-d;
      @media (max-width: $breakpoint - 1px) {
        width: $size-m;
        height: $size-m;
      }

      background-color: #8BD7FF;
      border-radius: 50%;
      filter: blur(50px);
    }
  }
  &__response-check {
    position: absolute;
    z-index: -1;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    @media (max-width: $breakpoint - 1px) {
      left: -35px;
      top: -45px;
      transform: none;

      width: 400px;
      height: 269px;
    }

    height: 330px;
  }
  &__response-container {
    padding: 60px calc(#{$col-width-d});
    @media (max-width: $breakpoint - 1px) {
      padding: 30px 15px;
    }

    height: 100%;
  }
  &__response-row {
    display: flex;
    justify-content: space-between;
    @media (max-width: $breakpoint - 1px) {
      flex-direction: column;
    }
    height: 100%;
  }
  &__response-col {
    flex-shrink: 0;
    &:nth-child(1) {
      width: calc(#{$col-width-d} * 4);
      @media (max-width: $breakpoint - 1px) {
        width: 100%;
      }
    }
    &:nth-child(2) {
      margin-top: auto;
      @media (max-width: $breakpoint - 1px) {
        margin-top: 0;
      }

      width: calc(((#{$col-width-d} * 11) / 2) - 6px);
      @media (max-width: $breakpoint - 1px) {
        width: 100%;
      }
    }
  }
}

.form-response {
  position: absolute;
  top: 30px;
  right: 15px;
  left: 15px;
  bottom: 30px;
  @media (min-width: $breakpoint) {
    top: 60px;
    right: calc(#{$col-width-d});
    left: calc(#{$col-width-d});
    bottom: 60px;
  }

  transition: $transition;
  opacity: 0;
  pointer-events: none;

  &__row {
    height: 100%;

    display: flex;
    justify-content: space-between;
    @media (max-width: $breakpoint - 1px) {
      flex-direction: column;
    }
  }
  &__col {
    &:nth-child(1) {
      flex-shrink: 0;
      width: 100%;
      @media (min-width: $breakpoint) {
        width: calc(#{$col-width-d} * 7);
      }
    }
    &:nth-child(2) {
      width: 100%;
      @media (min-width: $breakpoint) {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
  }
  &__button {
    width: 100%;
    @media (min-width: $breakpoint) {
      width: calc(#{$col-width-d} * 5.5);
    }
  }
  &__title {
    @include fsl(20px, 130%);
    @media (min-width: $breakpoint) {
      @include fsl(35px);
    }
  }
}