.frame {
  position: relative;

  height: calc(100vh - #{$panel-height} - 30px);
  @media (max-width: $breakpoint - 1px) {
    margin-top: 20px;
    // 100 vh - высота шапки - отступ от шапки - отступ вниз - высота конетента внизу - отступ от низа экара
    height: calc(100vh - #{$panel-height} - 15px - 20px - 84px - 42px);
  }
  @media (max-width: $breakpoint-t - 1px) and (orientation: landscape) {
    height: 540px;
  }
  overflow: hidden;

  background-image: url('assets/images/frame.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  @media (max-width: $breakpoint-s - 1px) and (max-height: $breakpoint-lg) {
    background-position: 45% center;
  }
  @media (max-width: $breakpoint-s - 1px) and (max-height: $breakpoint-md) {
    background-position: 40% center;
  }
  background-size: cover;
  border-radius: 10px;

  &--gel {
    background-image: url('assets/images/gel-promo.jpeg');
    background-position: 80% center;
    @media (max-width: $breakpoint-s - 1px) and (max-height: $breakpoint-lg) {
      background-position: 85% center;
    }
    @media (max-width: $breakpoint-s - 1px) and (max-height: $breakpoint-md) {
      background-position: 90% center;
    }
    @media (max-width: $breakpoint-s - 1px) and (max-height: $breakpoint-sm) {
      background-position: 100% center;
    }

    @media (max-width: $breakpoint - 1px) {
      margin-top: 20px;
      // 100 vh - высота шапки - отступ от шапки - отступ вниз - высота конетента внизу - отступ от низа экаран
      height: calc(100vh - #{$panel-height} - 20px - 15px - 159px - 42px);
    }
    @media (max-width: $breakpoint-t - 1px) and (orientation: landscape) {
      height: 540px;
    }
  }
  &--spray {
    background-image: url('assets/images/spray-frame.jpg');
    // @media (max-width: $breakpoint-s - 1px) {
    //   background-image: url('assets/images/spray-frame-mobile.jpg');
    // }
    background-position: 90% center;
    @media (max-width: $breakpoint-s - 1px) and (max-height: $breakpoint-lg) {
      background-position: 100% center;
    }

    @media (max-width: $breakpoint - 1px) {
      margin-top: 20px;
      // 100 vh - высота шапки - отступ от шапки - отступ вниз - высота конетента внизу - отступ от низа экаран
      height: calc(100vh - #{$panel-height} - 20px - 15px - 203px - 42px);
    }
    @media (max-width: $breakpoint-t - 1px) and (orientation: landscape) {
      height: 540px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;

    opacity: 0;
  }

  &__btn {
    position: absolute !important;

    &--spray {
      top: 56%;
      left: 46%;
      @media (max-width: $breakpoint - 1px) {
        left: 45%;
        top: 55%;
      }
      @media (max-width: $breakpoint-m - 1px) {
        left: 40%;
        top: 55%;
      }
      @media (max-width: $breakpoint - 1px) and (orientation: landscape) {
        left: 45%;
      }
      @media (max-width: $breakpoint-s - 1px) and (max-height: $breakpoint-lg) {
        left: 46%;
        top: 55%;
      }
      @media (max-width: $breakpoint-s - 1px) and (max-height: $breakpoint-md) {
        left: 49%;
      }
      @media (min-width: $breakpoint-m) and (max-height: $breakpoint-l) {
        left: 43%;
      }
    }
    &--gel {
      top: 34%;
      left: 63%;
      @media (max-width: $breakpoint - 1px) {
        top: 31%;
        left: 65%;
      }
      @media (max-width: $breakpoint-s - 1px) {
        left: 81%;
        top: 34%
      }
      @media (max-width: $breakpoint - 1px) and (orientation: landscape) {
        left: 63%;
        top: 35%;
      }
      @media (max-width: $breakpoint-s - 1px) and (max-height: $breakpoint-lg) {
        left: 79%;
        top: 33%;
      }
      @media (max-width: $breakpoint-s - 1px) and (max-height: $breakpoint-sm) {
        left: 76%;
      }
      @media (min-width: $breakpoint-m) and (max-height: $breakpoint-l) {
        left: 70%;
      }
    }
  }
}
