.frame {
  position: relative;

  height: calc(100vh - #{$panel-height} - 30px);
  overflow: hidden;

  background-image: url('assets/images/frame.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;

  &--spray {
    background-image: url('assets/images/spray-frame.jpg');
  }

  &__img {
    width: 100%;
    height: 100%;

    opacity: 0;
  }

  &__btn {
    position: absolute !important;

    &--spray {
      top: 58%;
      left: 47%;
    }
    &--gel {
      top: 41%;
      left: 63%;
    }
  }
}
