.link-text {
  $comp: &;

  @include fsl(20px, 140%);
  @media (min-width: $breakpoint) {
    @include fsl(34px, 130%);
  }
  @media (min-width: $breakpoint-xl) {
    @include fsl(40px);
  }

  &--small {
    // #{$comp}__link {
    //   height: 35px;
    //   @media (max-width: $breakpoint - 1px) {
    //     height: 25px;
    //   }
    // }
    @include fsl(25px, 140%);
    @media (max-width: $breakpoint - 1px) {
      @include fsl(18px);
    }
  }

  &--s {
    @include fsl(13px, 140%);

    // #{$comp}__link {
      // padding: 2px 2px 3px 4px;
      // height: 21px;

      // border-radius: 4px;
    // }
  }

  &__link {
    position: relative;
    z-index: 1;

    line-height: 100%;
    color: $color-blue;
    white-space: nowrap;
    transition: $transition;
    @media (max-width: $breakpoint - 1px) {
      border-radius: 4px;
    }

    &:hover {
      color: $color-white;
    }
    &:hover::before {
      background-color: $color-blue;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: -5px;
      bottom: -4px;
      right: -4px;
      left: -4px;
      @media (max-width: $breakpoint-xl - 1px) {
        top: -4px;
        bottom: -3px;
        right: -3px;
        left: -3px;
      }
      @media (max-width: $breakpoint - 1px) {
        top: -3px;
        bottom: -2px;
        left: -3px;
        right: -3px;
      }

      border: 1px solid $color-blue;
      border-radius: 10px;
      
      transition: $transition;
    } 
  }
}
