.link-text {
  $comp: &;

  @include fsl(20px, 140%);
  @media (min-width: $breakpoint) {
    @include fsl(34px, 130%);
  }
  @media (min-width: $breakpoint-xl) {
    @include fsl(40px);
  }

  &--small {
    #{$comp}__link {
      height: 35px;
      @media (max-width: $breakpoint - 1px) {
        height: 27px;
      }
    }
    @include fsl(25px, 140%);
  }

  &--s {
    @include fsl(13px, 140%);

    #{$comp}__link {
      margin: -3px -3px;
      padding: 2px;
      height: 19px;

      border-radius: 4px;
    }
  }

  &__link {
    margin: 0 -4px;
    padding: 2px 5px;
    @media (max-width: $breakpoint-xl - 1px) {
      margin: 0 -3px;
      padding: 1px 4px;
    }
    @media (max-width: $breakpoint - 1px) {
      margin: 0 -2px;
      padding: 0 2px;
    }

    display: inline-block;
    height: 48px;
    @media (max-width: $breakpoint-xl - 1px) {
      height: 41px;
    }
    @media (max-width: $breakpoint - 1px) {
      height: 22px;
    }

    line-height: 100%;
    border: 1px solid $color-blue;
    border-radius: 10px;
    @media (max-width: $breakpoint - 1px) {
      border-radius: 4px;
    }
    color: $color-blue;
    white-space: nowrap;
    transition: $transition;

    &:hover {
      background-color: $color-blue;
      color: $color-white;
    }
  }

  &__span {
    white-space: nowrap;
  }
}
