.main-page {
  $comp: &;

  &__intro-title {
    margin-top: 20px;

    display: none;

    font-weight: 400;
    @include fsl(24px, 140%);

    &--m {
      @media (max-width: $breakpoint - 1px) {
        display: block;
      }
      @media (max-width: $breakpoint-m - 1px) {
        display: none;
      }
    }

    &--s {
      @media (max-width: $breakpoint-m - 1px) {
        display: block;
        @include fsl(22px, 130%);
      }
    }
  }
  &__intro-span {
    color: $color-blue;
  }

  &__features {
    margin-top: 140px;
    @media (max-width: $breakpoint-xl - 1px) {
      margin-top: 120px;
    }
    @media (max-width: $breakpoint - 1px) {
      margin-top: 155px;
    }
    @media (max-width: $breakpoint-m - 1px) {
      margin-top: 100px;
    }

    display: flex;
    flex-wrap: wrap;
    counter-reset: index;
  }
  &__features-item {
    position: relative;

    padding: 30px 0 0 68px;
    @media (max-width: $breakpoint-l - 1px) {
      padding: 15px 0 0 48px;
    }
    display: flex;
    flex-wrap: wrap;
    counter-increment: index;



    border-top: 1px solid $color-blue;

    &::before {
      position: absolute;
      top: 30px;
      @media (max-width: $breakpoint-l - 1px) {
        top: 15px;
      }
      left: 0;

      content: counter(index);

      @include fsl(25px, 120%);
      @media (max-width: $breakpoint-l - 1px) {
        @include fsl(15px);
      }
      color: $color-blue;
    }

    &:nth-child(1) {
      width: calc(#{$col-width-d} * 6);
      @media (max-width: $breakpoint - 1px) {
        width: calc((#{$col-width-m} * 2) + (#{$col-width-m} / 2) - 30px);
      }
      @media (max-width: $breakpoint-m - 1px) {
        width: calc(#{$col-width-m} * 5);
      }
    }
    &:nth-child(2) {
      margin-left: calc(#{$col-width-d});
      width: calc(#{$col-width-d} * 11);
      @media (max-width: $breakpoint - 1px) {
        margin-left: 27px;
        width: calc(#{$col-width-m} * 3 + (#{$col-width-m} / 2));
      }
      @media (max-width: $breakpoint-m - 1px) {
        margin-left: auto;
        width: calc(#{$col-width-m} * 5);
      }

      #{$comp}__features-text {
        max-width: 592px;
        @media (max-width: $breakpoint - 1px) {
          max-width: 297px;
        }
        @media (max-width: $breakpoint-m - 1px) {
          max-width: 209px;
        }
      }
    }
    &:nth-child(3) {
      width: calc(#{$col-width-d} * 11);
      @media (max-width: $breakpoint - 1px) {
        width: calc(#{$col-width-m} * 3 + (#{$col-width-m} / 2));
      }
      @media (max-width: $breakpoint-m - 1px) {
        width: calc(#{$col-width-m} * 5);
      }

      #{$comp}__features-text {
        max-width: 510px;
        @media (max-width: $breakpoint - 1px) {
          max-width: 239px;
        }
        @media (max-width: $breakpoint-m - 1px) {
          max-width: 230px;
        }
      }
    }
    &:nth-child(4) {
      margin-left: calc(#{$col-width-d});
      width: calc(#{$col-width-d} * 6);
      @media (max-width: $breakpoint - 1px) {
        margin-left: 27px;
        width: calc((#{$col-width-m} * 2) + (#{$col-width-m} / 2) - 30px);
      }
      @media (max-width: $breakpoint-m - 1px) {
        margin-left: auto;
        width: calc(#{$col-width-m} * 5);
      }
    }

    &:nth-child(-n + 2) {
      margin-bottom: 60px;
      @media (max-width: $breakpoint-l - 1px) {
        margin-bottom: 48px;
      }
      @media (max-width: $breakpoint-m - 1px) {
        margin-bottom: 0;
      }
    }

    &:not(:first-child) {
      @media (max-width: $breakpoint-m - 1px) {
        margin-top: 30px;
      }
    }
  }
  &__features-text {
    @include fsl(25px, 120%);
    @media (max-width: $breakpoint-xl - 1px) {
      @include fsl(22px);
    }
    @media (max-width: $breakpoint-l - 1px) {
      @include fsl(15px);
    }
  }

  &__title {
    margin-bottom: 20px;
    @media (min-width: $breakpoint) {
      margin-bottom: 30px;
    }

    font-weight: 400;
    @include fsl(13px, 120%);
    text-transform: uppercase;
  }

  &__expert {
    position: relative;

    margin-bottom: 300px;
    margin-top: 60px;
    @media (min-width: $breakpoint-m) {
      margin-bottom: 180px;
    }
    @media (min-width: $breakpoint) {
      margin-bottom: 420px;
      margin-top: 120px;
    }
    @media (min-width: $breakpoint-xl) {
      margin-top: 140px;
    }
  }
  &__expert-text {
    &--mobile {
      @media (min-width: $breakpoint) {
        display: none;
      }
    }
    &--desktop {
      @media (max-width: $breakpoint - 1px) {
        display: none;
      }
    }
  }
  &__expert-img {
    position: absolute;
    top: calc(100% + 30px);
    @media (max-width: $breakpoint - 1px) {
      top: 96px;
    }
    @media (max-width: $breakpoint-m - 1px) {
      top: calc(100% + 40px);
      right: auto;
      left: 0;
    }
    right: 0;

    max-width: 676px;
    @media (max-width: $breakpoint - 1px) {
      max-width: 345px;
    }
    max-height: none;
  }
  &__expert-wave {
    position: absolute;
    top: calc(100% + 110px);
    right: 70px;
    @media (min-width: $breakpoint-l) {
      right: 130px;
    }
    @media (max-width: $breakpoint - 1px) {
      top: calc(100% + 30px);
      right: 65px;
    }
    @media (max-width: $breakpoint-m - 1px) {
      top: calc(100% + 147px);
      right: auto;
      left: 20px;
    }

    display: flex;
  }
  &__expert-svg {
    @media (max-width: $breakpoint - 1px) {
      max-width: 361px;
      max-height: 91px;
    }
  }
  &__expert-moon {
    transform: translate(-50%, -50%);
    @media (max-width: $breakpoint - 1px) {
      transform: none;
      top: auto;
      left: auto;
      bottom: 0;
      right: 80px;

      max-width: 26px;
      max-height: 28px;
    }
    @media (max-width: $breakpoint - 1px) {
      right: 105px;
      bottom: -5px;
    }
  }
  &__expert-star {
    transform: translate(-50%, -50%);
    @media (max-width: $breakpoint - 1px) {
      transform: none;
      top: 42px;
      left: 80px;

      max-width: 35px;
      max-height: 36px;
    }
    @media (max-width: $breakpoint-m - 1px) {
      top: 45px;
      left: 44px;
    }
  }

  &__layout-moon {
    position: absolute;
    top: 39%;
    left: 8%;
  }
  &__layout-star {
    position: absolute;
    top: 3%;
    left: 25%;
  }

  &__actual {}

  &__reviews {}
  &__reviews-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: calc((#{$col-width-d} / 2) * -1);
    right: calc(-#{$col-pad-d});

    pointer-events: none;

    background-color: $color-blue-bg;
    background-image: url("data:image/svg+xml,%3Csvg width='816' height='868' viewBox='0 0 816 868' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f)'%3E%3Cpath d='M124 124L691.5 547L280.777 744L124 124Z' fill='%238BD7FF'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f' x='0' y='0' width='815.5' height='868' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='62' result='effect1_foregroundBlur'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: left -190px top -200px;
  }
  &__reviews-container {
    position: relative;
  }
  &__reviews-tabs {
    position: relative;
  }
  &__reviews-item {
    opacity: 0;
    pointer-events: none;
    transition: $transition;

    width: calc(#{$col-width-d} * 18);
    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-width-m} * 6);
    }

    &:not(:first-child) {
      padding-bottom: 0;
      position: absolute;
      top: 0;
      left: 0;
    }

    &--active {
      opacity: 1;
      pointer-events: all;
    }
  }
  &__reviews-link {
    position: absolute;
    bottom: 0;
    left: calc(#{$col-width-d} * 12);
    @media (max-width: $breakpoint - 1px) {
      left: auto;
      right: 0;
    }
    @media (max-width: $breakpoint-m - 1px) {
      right: auto;
      left: calc(#{$col-width-m} * 2);
    }
  }
}
