.main-page {
  $comp: &;

  &__features {
    margin-top: 140px;
    display: flex;
    flex-wrap: wrap;
    counter-reset: index;
  }
  &__features-item {
    position: relative;

    padding: 30px 0 0 68px;
    display: flex;
    flex-wrap: wrap;
    counter-increment: index;

    border-top: 1px solid $color-blue;

    &::before {
      position: absolute;
      top: 30px;
      left: 0;

      content: counter(index);

      color: $color-blue;
    }

    &:nth-child(1) {
      width: calc(#{$col-width-d} * 6);
    }
    &:nth-child(2) {
      margin-left: calc(#{$col-width-d});
      width: calc(#{$col-width-d} * 11);

      #{$comp}__features-text {
        max-width: 592px;
      }
    }
    &:nth-child(3) {
      width: calc(#{$col-width-d} * 11);

      #{$comp}__features-text {
        max-width: 510px;
      }
    }
    &:nth-child(4) {
      margin-left: calc(#{$col-width-d});
      width: calc(#{$col-width-d} * 6);
    }

    &:nth-child(-n + 2) {
      margin-bottom: 60px;
    }
  }
  &__features-text {
    @include fsl(25px, 120%);
  }

  &__title {
    margin-bottom: 20px;
    @media (min-width: $breakpoint) {
      margin-bottom: 30px;
    }

    font-weight: 400;
    @include fsl(13px, 120%);
    text-transform: uppercase;
  }

  &__expert {
    margin-top: 60px;
    @media (min-width: $breakpoint) {
      margin-top: 120px;
    }
    @media (min-width: $breakpoint-xl) {
      margin-top: 140px;
    }
  }
  &__expert-text {
    &--mobile {
      @media (min-width: $breakpoint) {
        display: none;
      }
    }
    &--desktop {
      @media (max-width: $breakpoint - 1px) {
        display: none;
      }
    }
  }

  &__actual {}

  &__reviews {
    position: relative;

    margin-top: 140px;
    padding: 30px 0 76px 0;
  }
  &__reviews-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: calc((#{$col-width-d} / 2) * -1);
    right: calc(-#{$col-pad-d});

    background-color: $color-blue-bg;
    background-image: url("data:image/svg+xml,%3Csvg width='627' height='622' viewBox='0 0 627 622' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f)'%3E%3Cpath d='M-65 -79L502.5 344L91.7774 541L-65 -79Z' fill='%238BD7FF'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f' x='-189' y='-203' width='815.5' height='868' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='62' result='effect1_foregroundBlur'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: left top;
  }
}
