.margin-top {
  margin-top: 100px;
  @media (max-width: $breakpoint - 1px) {
    margin-top: 60px;
  }

  &--md {
    margin-top: 60px;
  }

  &--big {
    margin-top: 185px;
    @media (max-width: $breakpoint - 1px) {
      margin-top: 80px;
    }
  }

  &--l {
    margin-top: 140px;
    @media (max-width: $breakpoint - 1px) {
      margin-top: 60px;
    }
  }
}
