.max-width {
  max-width: calc(#{$col-width-d} * 10);
  @media (max-width: $breakpoint - 1px) {
    max-width: none;
  }

  &--col {
    @each $col-count in (5, 7, 8, 9, 10, 11, 13) {
      &--#{$col-count} {
        @media (min-width: $breakpoint) {
          max-width: calc(#{$col-width-d} * #{$col-count});
        }
      }
    }
  }
}
