.max-width {
  max-width: calc(#{$col-width-d} * 10);
  @media (max-width: $breakpoint - 1px) {
    max-width: none;
  }

  &--col {
    &--9 {
      @media (min-width: $breakpoint) {
        max-width: calc(#{$col-width-d} * 9);
      }
    }
    &--5 {
      @media (min-width: $breakpoint) {
        max-width: calc(#{$col-width-d} * 5);
      }
    }
  }
}
