.modal {
  $comp: &;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;

    visibility: hidden;
    transition: $transition;
    background-color: transparent;
  }

  &--active {
    @media (max-width: $breakpoint - 1px) {
      position: relative;
      z-index: 1000;
    }
    &::before {
      background-color: rgba($color-black, 0.2);
      visibility: visible;
    }

    #{$comp}-video {
      opacity: 1;
      pointer-events: auto;
      // transition: $transition; // ?
    }

    #{$comp}-product {
      transform: translate(0);
    }

    #{$comp}-test {
      z-index: 3;
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
    }

    #{$comp}-aside {
      transform: translate(0);

      .animation {
        opacity: 1;
        transform: translateY(0);
        transition-delay: $transition-delay;
      }
    }

    .header__menu {
      .header__text {
        color: $color-blue;
      }

      .header__button {
        background-color: $color-blue;
      }

      .header__burger {
        height: 1px;
        
        

        &::before {
          transform: translate(-50%, -50%) rotate(-45deg);
          transition-delay: 0.35s, .5s;
          background-color: $color-white;
        }
        &::after {
          transform: translate(-50%, -50%) rotate(-135deg);
          transition-delay: 0.35s, .5s;
          background-color: $color-white;
        }
      }
      .header__burger-span {
        
        &::before,
        &::after {
          background: transparent;
          transition-delay: .35s, 0s;
          transform: translate(-50%, 0)
        }
      }
    }

    .mdl__container {
      transform: none;
    }
  }
}

.modal-video {
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  pointer-events: none;
  opacity: 0;
  transition: $transition; //?

  &__container {
    @media (max-width: $breakpoint - 1px) {
      padding-bottom: 30px;
    }
    position: relative;
    width: calc(#{$col-width-d} * 18);
    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-width-m} * 6);
    }

    border-radius: 10px;
    background-color: $color-white;
  }

  &__row {
    display: flex;
    @media (min-width: $breakpoint) {
      justify-content: space-between;
    }
    @media (max-width: $breakpoint - 1px) {
      flex-direction: column;
    }
  }

  &__col {
    flex-shrink: 0;

    &:nth-child(1) {
      @media (min-width: $breakpoint) {
        padding-left: calc(#{$col-width-d});
        width: calc(#{$col-width-d} * 5);
      }
      @media (max-width: $breakpoint - 1px) {
        padding: 0 30px;
        order: 2;
      }
    }
    &:nth-child(2) {
      display: flex;
      justify-content: flex-end;
      @media (min-width: $breakpoint) {
        width: calc(#{$col-width-d} * 12);
      }
      @media (max-width: $breakpoint - 1px) {
        order: 1;
      }
    }
  }

  &__content {
    padding-top: 30px;
    @media (max-width: $breakpoint - 1px) {
      padding-top: 20px;
    }
  }

  &__title {
    margin-bottom: 30px;
    @media (max-width: $breakpoint - 1px) {
      margin-bottom: 20px;

      @include fsl(15px);
    }
    @include fsl(18px, 140%);
    font-weight: 400;
  }

  &__button {
    position: absolute;
    top: 0;
    right: -55px;
    @media (max-width: $breakpoint - 1px) {
      top: -10px;
      right: -10px;
    }
  }
}

.modal-mobile {
  $comp: &;

  position: fixed;
  top: 100%;

  display: none;
  @media (max-width: $breakpoint - 1px) {
    display: block;
  }
  width: calc((#{$col-width-m} * 6) + (15px * 2));
  transform: translate(100%, 0);

  pointer-events: auto;
  overflow: hidden;
  transition: $transition;
  background-color: $color-white;

  &--height {
    &--100vh-60p {
      height: calc(100vh - 60px);
    }
  }

  &__inner {
    padding: 30px 0;

    height: 100%;
    overflow-y: scroll;
  }

  &__container {
    padding: 0 15px;
  }

  &__products {
    display: flex;
  }
  &__products-item {
    flex-shrink: 0;
    width: calc(((#{$col-width-m} * 6) / 2) - 9px);

    &:not(:first-child) {
      margin-left: 18px;
    }
  }

  &__choice {
    &--active {

      .panel__choice-item {
        color: $color-blue;
      }

      #{$comp}__choice-svg {
        transform: rotate(180deg);
        path {
          stroke: $color-blue;
        }
      }
    }
  }
  &__choice-button {
    padding: 15px;

    display: flex;
    justify-content: space-between;

    border-top: 1px solid $color-blue-light;
    cursor: pointer;
    transition: $transition;
  }
  &__choice-dropdown {
    padding: 0 15px;

    display: none;
  }
  &__choice-list {
    padding-bottom: 10px;
  }
  &__choice-item {
    @include fsl(15px, 140%);
    &:not(:first-child) {
      margin-top: 5px;
    }
  }
  &__choice-svg {
    transition: $transition;
  }

  &__links {
    margin-top: 30px;
  }
  &__links-row {
    display: flex;
    @media (max-width: $breakpoint-m - 1px) {
      display: block;
    }
  }
  &__links-col {
    width: calc(100% / 2);
    @media (max-width: $breakpoint-m - 1px) {
      width: auto;
    }

    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: $breakpoint-m - 1px) {
        display: block;
      }
    }
  }
  &__links-list {
    @media (max-width: $breakpoint-m - 1px) {
      margin-top: 15px;
    }
  }
  &__links-item {

    &:not(:first-child) {
      margin-top: 15px;
    }
  }
  &__links-link {
    @include fsl(15px, 120%);
    transition: $transition;

    &:hover {
      color: $color-blue;
    }
  }

  &__bottom {
    margin-top: auto;
    @media (max-width: $breakpoint-m - 1px) {
      display: none;
    }

    &--m {
      display: none;
      @media (max-width: $breakpoint-m - 1px) {
        display: block;
        margin-top: 30px;
      }
    }
  }
  &__bottom-item {
    display: flex;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }
  &__bottom-doc {
    @include fsl(11px, 120%);
    transition: $transition;

    &:hover {
      color: $color-blue;
    }
  }
  &__bottom-text {
    @include fsl(11px, 120%);
  }
  &__bottom-link {
    color: $color-blue;
    transition: $transition;

    &:hover {
      color: $color-purple;
    }
  }
}

.modal-product {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  // bottom: 0;
  // right: 0;
  // @media (max-width: $breakpoint - 1px) {
  //   left: 0;
  //   top: auto;
  // }

  width: 100%;
  height: 100%;
  transform: translateX(130%);

  display: flex;
  justify-content: flex-end;
  @media (max-width: $breakpoint - 1px) {
    align-items: flex-end;
    justify-content: flex-start;
  }

  transition: $transition;
  
  overflow: hidden;

  &__container {
    position: relative;

    width: calc((#{$col-width-d} * 8) + 30px);
    @media (max-width: $breakpoint - 1px) {
      width: 100%;
    }

    background-color: $color-white;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
  }

  &__img {
    max-width: none;
    max-height: 500px;
    @media (max-width: $breakpoint-xl - 1px) {
      max-height: 430px;
    }
    @media (max-width: $breakpoint - 1px) {
      max-height: 281px;
    }
  }

  &__bottom {
    margin: 68px 0;
    @media (max-width: $breakpoint - 1px) {
      margin: 30px 0;
    }
  }
  &__bottom-container {
    padding-left: calc(#{$col-width-d});
    padding-right: 61px;
    @media (max-width: $breakpoint - 1px) {
      padding-left: calc(#{$col-width-m} + 15px);
      padding-right: 45px;
    }
  }

  &__title {
    margin-bottom: 30px;
    @media (max-width: $breakpoint - 1px) {
      margin-bottom: 15px;
    }

    font-weight: 400;
    @include fsl(25px, 120%);
    @media (max-width: $breakpoint - 1px) {
      @include fsl(20px);
    }
  }

  &__text {
    padding-left: calc(#{$col-width-d});
    @media (max-width: $breakpoint - 1px) {
      padding-left: 0;
    }

    @include fsl(18px, 140%);
    @media (max-width: $breakpoint - 1px) {
      @include fsl(15px);
    }
  }

  &__button {
    position: absolute;
    z-index: 1;
    right: calc(100% + 15px);
    top: 15px;
    @media (max-width: $breakpoint - 1px) {
      top: 10px;
      right: 15px;
    }
  }
}

.modal-test {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (max-width: $breakpoint-m - 1px) {
    transform: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    padding-top: 55px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: auto;
  }

  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity $transition;

  &__container {
    width: calc(#{$col-width-d} * 18);
    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-width-m} * 6);
    }
  }

  &__button {
    position: absolute;
    left: calc(100% + 10px);
    top: 0;
    @media (max-width: $breakpoint - 1px) {
      left: auto;
      top: auto;
      right: 0;
      bottom: calc(100% + 10px);
    }
    @media (max-width: $breakpoint-m - 1px) {
      right: 15px;
      top: 5px;
      bottom: auto;
    }
  }
}

.modal-aside {
  position: absolute;
  z-index: 3;
  left: -30px;
  top: 0;

  width: calc((#{$col-width-d} * 18) + 30px);
  min-height: 620px;
  transform: translateY(-110%);

  @media (max-width: $breakpoint - 1px) {
    display: none;
  }

  transition: $transition;
  background: $color-white;
  border-radius: 0px 0px 10px 0px;

  &__container {
    padding: 30px calc(#{$col-width-d}) 30px 30px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    min-height: 560px;
  }

  &__col {
    flex-shrink: 0;

    &:nth-child(1) {

      display: flex;
      flex-direction: column;
      justify-content: space-between;

    }

    &:nth-child(2) {
      display: flex;
    }
  }
  &__col-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:not(:first-child) {
      margin-left: 15px;
    }
  }

  &__nav {
    margin-top: 150px;
    // padding-right: 50px;

    // flex-shrink: 0;
    // width: calc(#{$col-width-d} * 7);
  }
  &__nav-col {
    &:nth-child(2) {
      padding-left: calc(#{$col-width-d} * 4);
    }
    &:not(:first-child) {
      margin-top: 17px;
    }
  }
  &__nav-item {

    &:not(:first-child) {
      margin-top: 17px;
    }
  }
  &__nav-link {
    @include fsl(15px, 120%);
    transition: $transition;

    &:hover {
      color: $color-blue;
    }
  }

  &__corp {
    @include fsl(11px, 120%);
  }
  &__corp-link {
    color: $color-blue;
    transition: $transition;

    &:hover {
      color: $color-purple;
    }
  }

  &__doc-link {
    @include fsl(11px, 120%);
    transition: $transition;

    &:hover {
      color: $color-blue;
    }
  }
}

