.my-sticky {

  transition: $transition;

  &--fixed {
    @media (min-width: $breakpoint) {
      position: fixed;
      top: 100px;
    }
  }

  &--bottom {
    @media (min-width: $breakpoint) {
      position: absolute;
      top: auto;
      bottom: 0;
    }
  }
}
