.nav-list {
  $comp: &;

  display: flex;

  &--wrap {
    @media (max-width: $breakpoint - 1px) {
      margin-left: -15px;
      padding: 7px 15px 0;
    }

    @media (max-width: $breakpoint - 1px) {
      width: calc(100% + (15px * 2));
      overflow-x: auto;
      @include scrollbar-hidden;
    }
  }

  &__list {
    margin-top: -15px;
    margin-left: -15px;
    @media (max-width: $breakpoint - 1px) {
      margin: 0;

      flex-wrap: nowrap;
    }
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-top: 15px;
    margin-left: 15px;
    @media (max-width: $breakpoint - 1px) {
      margin: 0;

      white-space: nowrap;
    }

    display: flex;
    position: relative;

    &:not(:first-child) {
      @media (max-width: $breakpoint - 1px) {
        margin-left: 15px;
      }
    }

    &--active {
      #{$comp}__link {
        color: $color-blue;
      }

      #{$comp}__border {
        border-color: $color-blue;
      }
    }
  }
}
