.page-gel {
  &__frame {
    position: absolute;
    $pad: 30px;
    @each $prop in (top, bottom, left, right) {
      #{$prop}: $pad;
    }

    display: flex;
    @media (max-width: $breakpoint - 1px) {
      display: none;
    }
    flex-direction: column;
    justify-content: space-between;
  }
  &__frame-list {}
  &__frame-item {
    display: flex;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }
  &__frame-title {
    font-weight: 400;
    @include fsl(70px, 110%);
    @media (max-width: $breakpoint - 1px) {
      @include fsl(25px, 120%);
    }
    color: $color-purple;
  }

  &__mobile {
    @media (max-width: $breakpoint - 1px) {
      margin-top: 15px;

      display: block;
    }
    display: none;
  }
  &__mobile-wrapper {
    margin: 30px 0;
  }
  &__mobile-button {
    @media (max-width: $breakpoint - 1px) {
      width: 50%;
    }
    @media (max-width: $breakpoint-s - 1px) {
      width: 100%;
    }
  }

  &__compound {
    margin-top: 140px;
    @media (max-width: $breakpoint - 1px) {
      margin-top: 309px;
    }

    border-top: 1px solid $color-purple;
  }
  &__compound-row {
    @media (min-width: $breakpoint) {
      display: flex;
    }
  }
  &__compound-col {
    @media (min-width: $breakpoint) {
      flex-shrink: 0;

      &:nth-child(1) {
        padding-top: 20px;
        width: calc(#{$col-width-d} * 6);
      }
      &:nth-child(2) {
        padding-top: 80px;
        padding-bottom: 80px;
        width: calc(#{$col-width-d} * 12);

        border-bottom: 1px solid $color-blue-light;
      }
    }

    @media (max-width: $breakpoint - 1px) {
      &:nth-child(1) {
        padding-top: 10px;
      }

      &:not(:first-child) {
        margin-top: 30px;
      }
    }
  }
  &__compound-title {
    font-weight: 400;
    @include fsl(35px, 130%);
    @media (max-width: $breakpoint - 1px) {
      @include fsl(20px, 140%);
    }
  }
  &__compound-list {
    @media (min-width: $breakpoint) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__compound-item {
    @media (min-width: $breakpoint) {
      margin-top: 60px;
      padding-right: calc(#{$col-width-d});
      width: calc(#{$col-width-d} * 6);

      &:nth-child(-n + 2) {
        margin-top: 0;
      }
    }

    @media (max-width: $breakpoint - 1px) {
      &:not(:first-child) {
        margin-top: 30px;
      }
    }
  }
  &__compound-item-title {
    font-weight: 400;
    @include fsl(25px, 120%);
    color: $color-purple;
    @media (max-width: $breakpoint - 1px) {
      @include fsl(18px, 140%);
    }
  }
  &__compound-item-text {
    margin-top: 20px;
    @include fsl(18px, 140%);
    @media (max-width: $breakpoint) {
      @include fsl(15px);
    }
  }

  &__method {}
  &__method-list {
    counter-reset: index;

    display: flex;
    justify-content: space-between;
    @media (max-width: $breakpoint - 1px) {
      margin-left: -15px;
      padding: 0 15px;
      width: calc(100% + (15px * 2));
      overflow-x: auto;
    }
  }
  &__method-item {
    width: calc((#{$col-width-d} * 12 - 15px) / 3);
    @media (max-width: $breakpoint - 1px) {
      width: 180px;

      &:not(:first-child) {
        margin-left: 15px;
      }
    }
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__method-item-image {
    counter-increment: index;

    position: relative;

    display: flex;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      content: attr(data-label);
      pointer-events: none;

      color: $color-white;
    }

    &::after {
      position: absolute;
      $offset: 10px;
      top: $offset;
      left: $offset;

      content: counter(index);
      $size: 40px;
      width: $size;
      height: $size;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;

      background-color: $color-purple;
      border-radius: 50%;
      @include fsl(18px, 140%);
      color: $color-white;
    }
  }
  &__method-item-img {
    border-radius: 10px;
  }
  &__method-item-title {
    margin-top: 20px;
    padding: 0 20px;

    font-weight: 400;
    @include fsl(15px, 140%);
    @media (max-width: $breakpoint - 1px) {
      @include fsl(13px);
    }
  }

  &__reviews {
    position: relative;

    margin-top: 140px;
    margin-left: calc(#{$col-width-d} / 2 * -1);
    padding: 30px $col-pad-d 60px calc(#{$col-width-d} / 2);
    @media (max-width: $breakpoint - 1px) {
      margin-top: 60px;
      padding: 30px 15px;
      margin-left: -15px;
    }
    width: calc(100% + (#{$col-width-d} / 2) + #{$col-pad-d});
    @media (max-width: $breakpoint - 1px) {
      width: calc(100% + (15px * 2));
    }
    overflow: hidden;
  }
  // card
  &__reviews-card {
    width: calc(#{$col-width-d} * 8);
    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-width-m} * 6 - 15px);
    }
    height: 100%;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    background-color: $color-white;
    border-radius: 20px 20px 0px 20px;
  }
  &__reviews-card-top {
    padding: 30px;
  }
  &__reviews-card-bottom {
    padding: 11px 30px;
    display: flex;

    border-top: 1px solid $color-blue-light;
  }
  &__reviews-card-link {
    @include fsl(13px, 140%);
    color: $color-blue-dark;
  }
  &__reviews-card-title {
    font-weight: 400;
    @include fsl(20px, 140%);
    @media (max-width: $breakpoint - 1px) {
      @include fsl(18px);
    }
  }
  &__reviews-card-text {
    margin-top: 16px;
    @media (max-width: $breakpoint - 1px) {
      margin-top: 10px;
    }

    @include fsl(15px, 140%);
    @media (max-width: $breakpoint - 1px) {
      @include fsl(13px);
    }
  }
  // layout
  &__reviews-layout {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: $color-blue-bg;
    background-image: url("data:image/svg+xml,%3Csvg width='816' height='868' viewBox='0 0 816 868' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f)'%3E%3Cpath d='M124 124L691.5 547L280.777 744L124 124Z' fill='%238BD7FF'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f' x='0' y='0' width='815.5' height='868' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='62' result='effect1_foregroundBlur'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: left -190px top -200px;
    @media (max-width: $breakpoint - 1px) {
      background-position: left -408px top -133px;
    }
  }
  // top, grid
  &__reviews-top {
    margin-bottom: 60px;
    @media (max-width: $breakpoint - 1px) {
      margin-bottom: 30px;
    }
    display: flex;
    justify-content: space-between;

    &--tabs {
      @media (max-width: $breakpoint - 1px) {
        margin-bottom: 84px;
      }
    }
  }
  &__reviews-row {
    margin-bottom: 60px;
    
    display: flex;
    justify-content: space-between;
  }
  &__reviews-left {
    flex-shrink: 0;
    display: flex;
  }
  &__reviews-right {
    flex-shrink: 0;
  }
  // title
  &__reviews-title {
    flex-shrink: 0;

    font-weight: 400;
    @include fsl(40px, 130%);
    @media (max-width: $breakpoint - 1px) {
      @include fsl(20px, 140%);
    }
  }
  // btns
  &__reviews-btns {
    margin-left: 20px;
    flex-shrink: 0;
    display: flex;
    @media (max-width: $breakpoint - 1px) {
      display: none;
    }
  }
  &__reviews-btns-item {
    &:not(:first-child) {
      margin-left: 15px;
    }
  }
  // links
  &__reviews-links {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    @media (max-width: $breakpoint - 1px) {
      justify-content: flex-start;
    }
  }
  &__reviews-links-item {
    display: flex;

    &:not(:first-child) {
      margin-left: 5px;
      @media (max-width: $breakpoint - 1px) {
        margin-left: 0;
      }
    }

    &--mobile {
      display: none;
      @media (max-width: $breakpoint - 1px) {
        display: flex;
      }
    }

    &--desktop {
      @media (max-width: $breakpoint - 1px) {
        display: none;
      }
    }
  }

  &__reviews-bottom {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
  }
  &__reviews-bot {
    display: flex;
    justify-content: flex-end;
  }

  &__features {
    position: relative;

    margin-top: 140px;
    @media (max-width: $breakpoint - 1px) {
      margin-top: 50px;
    }
  }
  &__features-list {

  }
  &__features-item {
    &:nth-child(2) {
      position: relative;

      margin-top: 608px;
      @media (max-width: $breakpoint-xl - 1px) {
        margin-top: 508px;
      }
      @media (max-width: $breakpoint - 1px) {
        margin-top: 434px;
      }
    }
    &:nth-child(3) {
      position: relative;

      margin-top: 165px;
      @media (max-width: $breakpoint - 1px) {
        margin-top: 265px;
      }
    }
    &:nth-child(4) {
      position: relative;

      margin-top: 228px;
      @media (max-width: $breakpoint - 1px) {
        margin-top: 322px;
      }
    }

    &--side {
      padding-left: calc(#{$col-width-d} * 7);
      @media (max-width: $breakpoint - 1px) {
        padding-left: 0;
      }
    }
  }
  &__features-title {
    font-weight: 400;
    @include fsl(70px, 110%);
    @media (max-width: $breakpoint - 1px) {
      @include fsl(30px, 130%);
    }
    color: $color-purple;

    &--small {
      @include fsl(40px, 130%);
      @media (max-width: $breakpoint - 1px) {
        @include fsl(30px);
      }
    }
  }
  &__features-text {
    margin-top: 30px;
    padding-left: calc(#{$col-width-d});
    @media (max-width: $breakpoint - 1px) {
      margin-top: 15px;
      padding-left: 0;
    }

    @include fsl(20px, 140%);
    @media (max-width: $breakpoint - 1px) {
      @include fsl(15px);
    }
  }
  &__features-layout {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    pointer-events: none;
  }
  &__features-wave {
    // position: absolute;
    // top: 254px;
    // left: calc(#{$col-width-d} * 9.5);
    // @media (max-width: $breakpoint-xl - 1px) {
    //   left: calc(#{$col-width-d} * 10.5);
    // }
    // @media (max-width: $breakpoint-l - 1px) {
    //   left: calc(#{$col-width-d} * 11.5);
    //   // top: 544px;
    // }
    // transform: translateX(-50%);

    // @media (max-width: $breakpoint - 1px) {
    //   display: none;
    // }
  }
  &__features-wave-mobile {
    position: absolute;
    left: -197px;
    top: 367px;

    display: none;
    @media (max-width: $breakpoint - 1px) {
      display: block;
    }
  }
  &__features-moon {
    position: absolute;
    top: 1124px;
    left: calc(#{$col-width-d} * 9.5 + 384px);
    @media (max-width: $breakpoint-xl - 1px) {
      top: 1144px;
      left: calc(#{$col-width-d} * 10.5 + 384px);
    }
    @media (max-width: $breakpoint-ll - 1px) {
      top: 1284px;
      left: calc(#{$col-width-d} * 10 + 384px);
    }
    @media (max-width: $breakpoint-l - 1px) {
      top: 1254px;
    }

    transform: translateX(-50%);

    @media (max-width: $breakpoint - 1px) {
      display: none;
    }
  }
  &__features-star {
    position: absolute;
    transform: translateX(-50%);

    &--blue {
      top: 533px;
      left: calc(#{$col-width-d} * 9.5 - 379px);
      @media (max-width: $breakpoint-xl - 1px) {
        top: 553px;
        left: calc(#{$col-width-d} * 10.5 - 379px);
      }
      @media (max-width: $breakpoint-ll - 1px) {
        top: 793px;
        left: calc(#{$col-width-d} * 11.5 - 379px);
      }
      @media (max-width: $breakpoint-l - 1px) {
        left: calc(#{$col-width-d} * 12.5 - 379px);
      }
      @media (max-width: $breakpoint - 1px) {
        left: 18px;
        top: 519px;
        transform: translateX(0);
      }
    }
    &--purple {
      top: 1808px;
      left: calc(#{$col-width-d} * 9.5 - 492px);
      @media (max-width: $breakpoint-xl - 1px) {
        top: 1828px;
        left: calc(#{$col-width-d} * 10.5 - 492px);
      }
      @media (max-width: $breakpoint-ll - 1px) {
        top: 2068px;
        left: calc(#{$col-width-d} * 11.5 - 492px);
      }
      @media (max-width: $breakpoint-l - 1px) {
        left: calc(#{$col-width-d} * 12.5 - 492px);
      }
      @media (max-width: $breakpoint - 1px) {
        top: calc(100% + 10px);
        left: calc(#{$col-width-m} * 3.7);
      }
      transform: translateX(-50%) rotate(-45deg);

      path {
        fill: $color-purple;
      }
    }
  }
  &__features-img {
    &-1 {
      transform: translateX(-50%);

      max-width: 473px;
      @media (max-width: $breakpoint - 1px) {
        max-width: 230px;
      }
    }

    &-2 {
      transform: translateX(-50%);

      max-width: 586px;
      @media (max-width: $breakpoint - 1px) {
        max-width: 344px;
      }
    }

    &-3 {
      transform: translateX(-50%);

      max-width: 540px;
      @media (max-width: $breakpoint - 1px) {
        max-width: 232px;
      }
    }

    &-4 {
      transform: translateX(-50%);

      max-width: 203px;
      @media (max-width: $breakpoint - 1px) {
        max-width: 115px;
      }
      border-radius: 150px;
    }

    &-5 {
      transform: translateX(-50%);

      max-width: 97px;
      @media (max-width: $breakpoint - 1px) {
        max-width: 55px;
      }
      border-radius: 150px;
    }

    &-6 {
      transform: translateX(-50%);

      max-width: 97px;
      @media (max-width: $breakpoint - 1px) {
        max-width: 55px;
      }
      border-radius: 150px;
    }
  }

  &__layout-img {
    &-1 {
      position: absolute;
      top: 0;
      left: calc(#{$col-width-d} * 12.5);
      @media (max-width: $breakpoint - 1px) {
        top: 225px;
        left: calc(#{$col-width-m} * 3);
      }
    }

    &-2 {
      position: absolute;
      z-index: -1;
      top: -66px;
      left: calc(#{$col-width-d} * 4.5);
      @media (max-width: $breakpoint-ll - 1px) {
        left: calc(#{$col-width-d} * 5.5);
      }
      @media (max-width: $breakpoint - 1px) {
        top: 100%;
        left: calc(#{$col-width-m} * 3);
      }
    }

    &-3 {
      position: absolute;
      z-index: -1;
      top: -109px;
      left: calc(#{$col-width-d} * 13);
      
      @media (max-width: $breakpoint - 1px) {
        top: calc(100% + 30px);
        left: calc(#{$col-width-m} * 3);
      }
    }

    &-4 {
      position: absolute;
      z-index: -1;
      top: -57px;
      left: calc((#{$col-width-d} * 3) + (#{$col-width-d} / 2));

      @media (max-width: $breakpoint - 1px) {
        left: 50%;
        top: calc(100% + 69px);
      }
    }

    &-5 {
      position: absolute;
      z-index: -1;
      top: -125px;
      left: calc(#{$col-width-d} / 2);
      @media (max-width: $breakpoint - 1px) {
        top: calc(100% + 30px);
        left: calc(#{$col-width-m} * 1.5);
      }
    }

    &-6 {
      position: absolute;
      z-index: -1;
      top: 125px;
      left: calc(#{$col-width-d} * 5);
      @media (max-width: $breakpoint - 1px) {
        top: calc(100% + 172px);
        left: auto;
        right: calc(#{$col-width-m} * 1);
      }
    }
  }
}
