.page {
  &__header {
    position: relative;
    z-index: 2;
  }

  &__main {
    position: relative;
    z-index: 1;
  }

  &__footer {
    margin-top: 60px;
    @media (min-width: $breakpoint) {
      margin-top: 140px;
    }
  }
}
