.panel-modal {

  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;

  display: block;
  @media (max-width: $breakpoint - 1px) {
    display: none;
  }

  width: calc((#{$col-width-d} * 13) + 30px);
  @media (max-width: $breakpoint-xl - 1px) {
    width: 100%;
  }
  transform: translateY(-100%);

  pointer-events: all;
  transition: $transition;

  &__container {
    padding: calc(#{$panel-height} + 30px) calc(#{$col-width-d} + 30px) 60px calc(#{$col-width-d});

    width: calc(100% + 30px);

    border-radius: 0px 0px 0px 10px;
    overflow: hidden;
    background-color: $color-white;
  }

  &__col {
    flex-shrink: 0;
    width: calc(#{$col-width-d} * 6);
  }

  &__list {
    margin-top: -15px;
    margin-left: -10px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    margin-top: 15px;
    margin-left: 10px;

    flex-shrink: 0;
    // width: calc((100% / 2) - 10px);
    // width: 338px;
    width: calc(#{$col-width-d} * 5)
  }

  &__link {
    @include fsl(15px, 140%);
    transition: $transition;

    &:hover {
      color: $color-blue;
    }
  }
}
