.product-choice {
  $comp: &;

  $gap: 15px;

  display: flex;
  @media (max-width: $breakpoint - 1px) {
    display: block;
  }
  align-items: stretch;

  &--margin-bottom {
    &--default {
      margin-bottom: 30px;
    }
  }

  &--reviews-slider {
    &--default {
      #{$comp}__item {
        width: 176px;
      }
    }
  }

  &__item {
    width: calc(((#{$col-width-d} * #{$row-main-cols}) - #{$gap}) / 2);
    @media (max-width: $breakpoint - 1px) {
      width: 100%;
    }
    flex-shrink: 0;

    &:not(:first-child) {
      margin-left: $gap;
      @media (max-width: $breakpoint - 1px) {
        margin-left: 0;
        margin-top: 5px;
      }
    }
  }
}
