.product-choice {
  $comp: &;

  $gap: 15px;

  display: flex;
  @media (max-width: $breakpoint - 1px) {
    display: block;
  }
  align-items: stretch;

  &--faq {
    @media (max-width: $breakpoint - 1px) {
      display: flex;
    }

    #{$comp}__item {
      @media (max-width: $breakpoint - 1px) {
        width: calc(((#{$col-width-m} * 6) / 2) - 7px);
      }

      &:not(:first-child) {
        margin-top: 0;
        margin-left: 14px;
      }
    }
  }

  &--margin-bottom {
    &--default {
      margin-bottom: 30px;
    }
  }

  &--reviews-slider {
    &--default {
      @media (max-width: $breakpoint - 1px) {
        display: flex;
      }
      #{$comp}__item {
        width: 176px;
        @media (max-width: $breakpoint - 1px) {
          width: 166px;
        }
        @media (max-width: $breakpoint-xs - 1px) {
          width: calc((#{$col-width-m} * 6) / 2 - 5px);
        }

        &:not(:first-child) {
          margin-top: 0;
          margin-left: 10px;
        }
      }
    }
  }

  &__item {
    width: calc(((#{$col-width-d} * #{$row-main-cols}) - #{$gap}) / 2);
    @media (max-width: $breakpoint - 1px) {
      width: 100%;
    }
    flex-shrink: 0;

    &:not(:first-child) {
      margin-left: $gap;
      @media (max-width: $breakpoint - 1px) {
        margin-left: 0;
        margin-top: 5px;
      }
    }
  }
}
