.reviews-tabs {

  position: relative;

  &__buttons {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 16px;
    @media (max-width: $breakpoint - 1px) {
      right: auto;
      left: 0;
      top: 58px;
    }
  }

  &__tabs {
    position: relative;
  }

  &__item {
    @media (min-width: $breakpoint) {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 100%;
    }

    opacity: 0;
    pointer-events: none;
    transition: $transition;

    width: calc(#{$col-width-d} * 18);
    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-width-m} * 6);
    }

    &:not(:last-child) {
      position: absolute;
      top: 0;
      left: 0;
    }

    &--active {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__links {
    position: absolute;
    bottom: 0;
    left: calc(#{$col-width-d} * 10);
    @media (max-width: $breakpoint-l - 1px) {
      left: calc(#{$col-width-d} * 9);
    }
    @media (max-width: $breakpoint - 1px) {
      left: 0;
    }
  }
}
