.row {
  $comp: &;

  display: flex;
  align-items: stretch;

  // "кастомые" row, находящиеся в <main> (18 кол. справа из 24)
  &--in-main {
    // desc - 12 (слева) + 6 (справа) колонок
    &--desc {
      #{$comp}__col {
        // пока только desktop
        @media (min-width: $breakpoint) {
          &:nth-child(1) {
            width: calc(#{$col-width-d} * 12);
          }
          &:nth-child(2) {
            width: calc(#{$col-width-d} * 6);
          }
        }
      }
    }
  }

  &__col {
    @media (min-width: $breakpoint) {
      flex-shrink: 0;
    }

    &--aside {
      width: calc(#{$row-aside-width});
      @media (max-width: $breakpoint - 1px) {
        display: none;
      }
    }
    &--main {
      width: 100%;
      @media (min-width: $breakpoint) {
        width: calc(#{$row-main-width});
      }
    }

    &--rail {
      position: relative;

      &::before {
        $offset: 10px;

        position: absolute;
        top: $offset;
        bottom: 0;
        right: 0;

        content: '';
        width: calc(#{$col-width-d} / 2);

        border: 1px solid $color-blue-light;
        border-radius: 10px;
        border-bottom: none;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
