.slider-section {
  &__row {
    display: flex;
    justify-content: space-between;
  }
  
  &__col {

  }

  &__title {
    font-weight: 400;
    @include fsl(35px, 130%);
  }
}


.slider {
  margin-top: 50px;

  display: flex;
  &__item {
    width: calc((((100vw - (30px * 2)) / 24) * 18) / 3 - 20px);
    // flex-shrink: 0;
  }
}