.slider-section {
  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__col {
    flex-shrink: 0;

    &:nth-child(2) {
      width: calc(#{$col-width-d} * 2);
      @media (max-width: $breakpoint - 1px) {
        display: none;
      }

      overflow: visible;
    }
  }

  &__title {
    font-weight: 400;
    @include fsl(35px, 130%);
    @media (max-width: $breakpoint - 1px) {
      @include fsl(20px);
    }
  }
}


.slider {
  margin-top: 50px;
  @media (max-width: $breakpoint - 1px) {
    margin-top: 30px;

    width: calc(100% + 15px);
  }

  display: flex;
  &__item {
    width: calc((((100vw - (30px * 2)) / 24) * 18) / 3 - 20px);
    @media (max-width: $breakpoint - 1px) {
      width: 330px;
    }
  }
}
