.specialists-page {

  &__specialists {
    padding-top: 30px;
  }

  &__article {

  }
  &__article-row {
    display: flex;
  }
  &__article-col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-width-d} * 6);
    }
    &:nth-child(2) {
      width: calc(#{$col-width-d} * 10);
    }
  }
  &__article-label {
    text-transform: uppercase;
    color: $color-blue;
    @include fsl(13px, 120%);
  }
  &__article-text {
    margin-top: 10px;

    text-transform: uppercase;
    @include fsl(15px, 140%);
  }

  &__info {

  }
  &__info-row {
    display: flex;
  }
  &__info-col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-width-d} * 2);
    }
    &:nth-child(2) {
      width: calc(#{$col-width-d} * 8);
    }
  }

  &__inner {
    padding-left: calc(#{$col-width-d} * 3);
    padding-right: calc(#{$col-width-d} * 2);
    @media (max-width: $breakpoint - 1px) {
      padding: 0;
    }
  }

  &__content {
    h3 {
      margin-bottom: 40px;
      @media (max-width: $breakpoint - 1px) {
        margin-bottom: 20px;
      }

      font-weight: 400;
      @include fsl(25px, 120%);
      @media (max-width: $breakpoint - 1px) {
        @include fsl(18px);
      }
    }

    p {
      @include fsl(18px, 170%);
      @media (max-width: $breakpoint - 1px) {
        @include fsl(15px);
      }

      &:not(:first-child) {
        margin-top: 30px;
      }
    }

    ul {
      counter-reset: index;
      li {
        padding-left: 30px;

        counter-increment: index;
        position: relative;

        @include fsl(13px, 140%);

        &::before {
          content: counter(index) '.';

          position: absolute;
          left: 0;
          top: 0;

          color: $color-blue;
          @include fsl(13px, 140%);
        }

        &:not(:first-child) {
          margin-top: 10px;
        }
      }
    }
  }
  &__content-wrapper {
    padding-left: calc(#{$col-width-d} * 3);
    @media (max-width: $breakpoint - 1px) {
      padding-left: 0;
    }
  }
  &__content-container {
    img {
      display: block;

      border-radius: 10px;
    }

  }
  &__content-label {
    margin-top: 15px;

    @include fsl(13px, 140%);
    font-style: italic;
  }

  &__wish {
    padding-left: calc(#{$col-width-d} * 6);
  }
  &__wish-container {
    padding: 20px calc(#{$col-width-d});

    position: relative;

    &::before {
      $size: 130px;

      content: "";

      position: absolute;
      z-index: -1;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      width: $size;
      height: $size;

      border-radius: 50%;
      background-color: #8BD7FF;
      filter: blur(40px);
    }
  }
  &__wish-text {
    @include fsl(18px, 140%);
    font-style: italic;
  }

  &__table {
    padding-left: calc(#{$col-width-d} * 3);

  }
  &__table-table {
    width: 100%;

    border: 1px solid $color-blue-light;
    border-bottom: none;
    border-right: none;
    border-radius: 10px;
    border-spacing: 0;

    th, td {
      border-style: solid;
      border-width: 0 1px 1px 0;
      border-color: $color-blue-light;
      }
    td {
      padding: 18px;

      width: calc(#{$col-width-d} * 3);
    }
    tr:first-child {
      td:last-child {
        border-top-right-radius: 10px;
      }
    }
    tr:last-child {
      td:first-child {
        border-bottom-left-radius: 10px;
      }
      td:last-child {
        border-bottom-right-radius: 10px;
      }
    }
  }
  &__table-title {
    @include fsl(15px, 140%);
  }
  &__table-text {
    text-align: center;
    @include fsl(12px, 120%);
  }
  &__table-subtitle {
    @include fsl(12px, 120%);
  }

  &__bottom {
    position: relative;
  }
  &__bottom-row {
    display: flex;
    align-items: center;
  }
  &__bottom-col {
    flex-shrink: 0;

    &:nth-child(1) {
      @media (max-width: $breakpoint - 1px) {
        padding-right: 22px;
      }
      width: calc(#{$col-width-d} * 6);
      @media (max-width: $breakpoint - 1px) {
        width: calc(#{$col-width-m} * 3);
      }
    }

    &:nth-child(2) {
      padding-left: calc(#{$col-width-d} * 2);
      @media (max-width: $breakpoint - 1px) {
        padding-left: 0;
      }
    }
  }
  &__bottom-container {
    display: flex;
    align-items: center;

    overflow: hidden;
    border-radius: 10px;
  }
  &__bottom-content {}
  &__bottom-title {
    margin-bottom: 30px;
    @media (max-width: $breakpoint - 1px) {
      margin-bottom: 15px;
    }

    @include fsl(35px, 130%);
    @media (max-width: $breakpoint - 1px) {
      @include fsl(15px);
    }
    font-weight: 400;
  }
  &__bottom-btn {
    display: flex;
  }
  &__bottom-column {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    width: 30px;

    border: 1px solid $color-blue-light;
    border-left: none;
    border-radius: 0 10px 10px 0;
  }
}
