.spray-page {
  $comp: &;


  &__intro {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 20px;
  }
  &__intro-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
  }
  &__intro-col {

    &:nth-child(1) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__intro-label {
    color: $color-blue;
    @include fsl(15px, 140%);
  }
  &__intro-item {
    display: flex;
    justify-content: flex-end;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }
  &__intro-title {
    font-weight: 400;
    @include fsl(70px, 110%);
  }

  &__section {}
  &__section-row {
    display: flex;
  }
  &__section-col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-width-d} * 10);
    }
    &:nth-child(2) {
      margin-left: calc(#{$col-width-d} * 2);

      width: calc(#{$col-width-d} * 5);
    }
  }
  &__section-title {
    font-weight: 400;
    @include fsl(35px, 130%);
  }
  &__section-text {
    @include fsl(18px, 140%);
  }

  &__slider {}
  &__slider-slide {
    position: relative;

    &:nth-child(2) {
      display: none;
    }
  }
  &__slider-img {
    display: block; // svg blur ??
    border-radius: 10px;
  }
  &__slider-content {
    position: absolute;
    top: 30px;
    left: 30px;
    bottom: 0;
    right: 0;
  }
  &__slider-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &__slider-list {
    margin-left: calc((#{$col-width-d} * 3) - 30px);

    width: calc(#{$col-width-d} * 6);
  }
  &__slider-bottom {
    margin-top: 15px;

    display: flex;
  }
  &__slider-num {
    position: relative;
    // @include fsl(140px, 110%);
    font-size: calc((110 / 1680) * 100vw);
    line-height: 110%;
  }
  &__slider-label {
    position: absolute;
    top: 0;
    left: 100%;

    @include fsl(13px, 120%);
    text-transform: uppercase;

    &--top {
      bottom: 100%;
      top: auto;
      left: 0;
    }
  }
  &__slider-icon {
    position: absolute;
    left: calc(#{$col-width-d} * 15);
    top: 0;
    transform: translateY(-50%);
  }

  &__tabs {
    margin-bottom: 60px;

    display: flex;
  }
  &__tabs-item {
    flex-shrink: 0;
    // width: calc((#{$col-width-d} * 3) - 30px);

    background-color: $color-white;
    border-radius: 10px;
    cursor: pointer;

    &:not(:first-child) {
      margin-left: 10px;
    }

    &--active {
      background-color: $color-blue;

      #{$comp}__tabs-icon {

        .spray-svg__background {
          fill: $color-blue;
        }

        .spray-svg__line {
          &--stroke {
            stroke: $color-white;
          }
          &--fill {
            fill: $color-white;
          }
        }
      }

      #{$comp}__tabs-num {
        color: $color-white;
      }
    }
  }
  &__tabs-container {
    padding: 16px 32px; //?
  }
  &__tabs-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__tabs-col {
    flex-shrink: 0;

    &:nth-child(1) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:nth-child(2) {
      margin-left: 30px;
    }
  }
  &__tabs-icon {

    .spray-svg__background,
    .spray-svg__line {
      transition: $transition;
    }

    .spray-svg__background {
      fill: $color-white;
    }

    .spray-svg__line {
      &--stroke {
        stroke: $color-black;
      }
      &--fill {
        fill: $color-black;
      }
    }
  }
  &__tabs-num {
    display: flex;

    @include fsl(40px, 120%);

    &::after {
      content: 'мл';
      display: block;

      @include fsl(13px, 120%);
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__list-item {
    width: calc(#{$col-width-d} * 6);
    min-height: 210px;

    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid $color-blue-light;
    border-radius: 10px;

    &--default {
      display: block;

      border: none;
    }

    &:not(:first-child) {
      margin-left: -1px;
    }
  }
  &__list-text {
    width: calc(#{$col-width-d} * 4);

    @include fsl(15px, 140%);
  }
  &__list-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__list-title {
    margin-top: 18px;

    font-weight: 400;
    @include fsl(20px, 140%);
  }
}
