.spray-page {
  $comp: &;


  &__intro {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 20px;
  }
  &__intro-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
  }
  &__intro-col {

    &:nth-child(1) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__intro-label {
    color: $color-blue;
    @include fsl(15px, 140%);
  }
  &__intro-item {
    display: flex;
    justify-content: flex-end;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }
  &__intro-title {
    font-weight: 400;
    @include fsl(70px, 110%);
  }

  &__section {}
  &__section-row {
    display: flex;
  }
  &__section-col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-width-d} * 10);
    }

    &:nth-child(2) {
      margin-left: calc(#{$col-width-d} * 2);

      width: calc(#{$col-width-d} * 5);
    }
  }
  &__section-title {
    font-weight: 400;
    @include fsl(35px, 130%);
  }
  &__section-text {
    @include fsl(18px, 140%);
  }

  &__slider {
    padding-top: 140px;

    overflow: hidden;
  }
  &__slider-container {
    position: relative;
  }
  &__slider-slide {
    position: relative;

    transform: translateX(-100%);
    visibility: hidden;
    transition: transform $transition; // ?

    &--active {
      transform: translateX(0);
      visibility: visible;
    }

    &--absolute {
      position: absolute;
      top: 0;
    }
  }
  &__slider-img {
    display: block; // svg blur ??
    border-radius: 10px;
  }
  &__slider-content {
    position: absolute;
    top: 30px;
    left: 30px;
    bottom: 0;
    right: 0;
  }
  &__slider-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &__slider-list {
    margin-left: calc((#{$col-width-d} * 3) - 30px);

    width: calc(#{$col-width-d} * 6);
  }
  &__slider-bottom {
    margin-top: 15px;

    display: flex;
  }
  &__slider-num {
    position: relative;
    // @include fsl(140px, 110%);
    font-size: calc((110 / 1680) * 100vw);
    line-height: 110%;
  }
  &__slider-label {
    position: absolute;
    top: 0;
    left: 100%;

    @include fsl(13px, 120%);
    text-transform: uppercase;

    &--top {
      bottom: 100%;
      top: auto;
      left: 0;
    }
  }
  &__slider-icon {
    position: absolute;
    z-index: 2;
    left: calc(#{$col-width-d} * 15);
    top: 0;
    transform: translateY(-50%);
  }

  &__tabs {
    margin-bottom: 60px;

    display: flex;
  }
  &__tabs-item {
    flex-shrink: 0;

    background-color: $color-white;
    border-radius: 10px;
    cursor: pointer;
    transition: $transition;

    &:not(:first-child) {
      margin-left: 10px;
    }

    &--active {
      background-color: $color-blue;

      #{$comp}__tabs-icon {

        .spray-svg__background {
          fill: $color-blue;
        }

        .spray-svg__line {
          &--stroke {
            stroke: $color-white;
          }

          &--fill {
            fill: $color-white;
          }
        }
      }

      #{$comp}__tabs-num {
        color: $color-white;
      }
    }

    &:hover {
      background-color: $color-blue;

      #{$comp}__tabs-icon {

        .spray-svg__background {
          fill: $color-blue;
        }

        .spray-svg__line {
          &--stroke {
            stroke: $color-white;
          }

          &--fill {
            fill: $color-white;
          }
        }
      }

      #{$comp}__tabs-num {
        color: $color-white;
      }
    }
  }
  &__tabs-container {
    padding: 16px 32px; //?
  }
  &__tabs-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__tabs-col {
    flex-shrink: 0;

    &:nth-child(1) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:nth-child(2) {
      margin-left: 30px;
    }
  }
  &__tabs-icon {

    .spray-svg__background,
    .spray-svg__line {
      transition: $transition;
    }

    .spray-svg__background {
      fill: $color-white;
    }

    .spray-svg__line {
      &--stroke {
        stroke: $color-black;
      }

      &--fill {
        fill: $color-black;
      }
    }
  }
  &__tabs-num {
    display: flex;

    @include fsl(40px, 120%);
    transition: $transition;

    &::after {
      content: 'мл';
      display: block;

      @include fsl(13px, 120%);
      transition: $transition;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__list-item {
    width: calc(#{$col-width-d} * 6);
    min-height: 210px;

    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid $color-blue-light;
    border-radius: 10px;

    &--default {
      display: block;

      border: none;
    }

    &:not(:first-child) {
      margin-left: -1px;
    }
  }
  &__list-text {
    width: calc(#{$col-width-d} * 4);

    @include fsl(15px, 140%);
  }
  &__list-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__list-title {
    margin-top: 18px;

    font-weight: 400;
    @include fsl(20px, 140%);
  }

  &__use {}
  &__use-list {
    margin-top: -20px;
    margin-left: -20px;

    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  }
  &__use-item {
    margin-left: 20px;
    margin-top: 20px;

    width: calc(((#{$col-width-d} * 18) / 2) - 10px);
    min-height: 190px;

    flex-shrink: 0;
    display: flex;
  }
  &__use-card {
    width: calc((100% / 2) - 10px);
    flex-shrink: 0;

    background: linear-gradient(180deg, #E0F3FD 0%, rgba(224, 243, 253, 0) 100%);
    border-radius: 10px;

    &:not(:first-child) {
      margin-left: 20px;
    }

    &--big {
      width: 100%;
    }
  }
  &__use-container {
    padding: 20px 30px;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__use-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__use-text {
    margin-top: 30px;

    @include fsl(15px, 140%);
  }
  &__content {
    padding-left: calc(#{$col-width-d} * 5);

    position: relative;
    display: flex;
  }
  &__content-layout {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &__content-img {
    position: absolute;
    left: calc(#{$col-width-d} * 3);
    bottom: 100%;
  }
  &__content-icon {
    position: absolute;
    top: 15px;
    left: calc(#{$col-width-d} * 15);

    width: 27px;
    height: 30px;
  }
  &__content-bg {
    position: absolute;
    left: 50%;
    bottom: -180px;

    transform: translateX(-50%);

    path {
      filter: blur(80px);
    }
  }
  &__content-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__content-title {
    margin-bottom: 30px;

    max-width: 444px;

    text-align: center;
    font-weight: 400;
    @include fsl(35px, 130%);
  }
  &__content-row {
    display: flex;
  }
  &__content-col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-width-d} * 4);
    }

    &:nth-child(2) {
      margin-left: 40px;
    }
  }
  &__content-button {
    padding: 21px 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid $color-blue;
    border-radius: 70px;
    cursor: pointer;
    transition: $transition;

    &::before {
      $size: 10px;

      margin-top: -5px;

      content: "";
      width: $size;
      height: $size;

      border: 1px solid $color-black;
      border-color: transparent transparent $color-black $color-black;
      transform: rotate(-45deg);
      transition: $transition;
    }

    &:hover {
      background-color: $color-blue;

      &::before {
        border-color: transparent transparent $color-white $color-white;
      }
    }
  }
  &__content-text {
    width: 313px;

    @include fsl(18px, 140%);
  }

  &__test {
    border-radius: 10px;
    background-color: $color-aqua;
  }
  &__test-container {
    padding: 62px calc(#{$col-width-d});

    position: relative;
  }
  &__test-row {
    display: flex;
    justify-content: space-between;
  }
  &__test-col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-width-d} * 6);
    }

    &:nth-child(2) {
      width: calc(#{$col-width-d} * 8);
    }
  }
  &__test-question {
    @include fsl(25px, 120%);
  }
  &__test-dots {
    display: flex;
  }
  &__test-dot {
    $size: 13px;

    width: $size;
    height: $size;

    border-radius: 50%;
    background-color: $color-white;
    cursor: pointer;

    &:not(:first-child) {
      margin-left: 15px;
    }

    &--active {
      background-color: $color-blue;
    }
  }
  &__test-label {
    padding: 10px 15px;

    display: flex;

    background-color: $color-white;
    border-radius: 10px;
    cursor: pointer;
    transition: $transition;

    &:not(:first-child) {
      margin-top: 5px;
    }

    &:hover {
      background-color: $color-blue;

      #{$comp}__test-icon {
        background-color: $color-blue;
      }

      #{$comp}__test-text {
        color: $color-white;
      }

    }
  }
  &__test-radio {
    position: absolute;

    opacity: 0;
    visibility: hidden;
  }
  &__test-icon {
    $size-d: 34px;

    margin-right: 15px;

    width: $size-d;
    height: $size-d;

    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $color-aqua;
    border-radius: 10px;
    transition: $transition;
  }
  &__test-text {
    padding-top: 7px;

    @include fsl(15px, 140%);
    transition: $transition;
  }
  &__test-index {
    $size: 40px;

    position: absolute;
    top: 12px;
    left: 10px;

    width: $size;
    height: $size;

    display: flex;
    align-items: center;
    justify-content: center;

    color: $color-white;
    background-color: $color-blue;
    border-radius: 50%;
    @include fsl(18px, 140%);
  }

  &__structure {
    padding-top: 20px;

    border-top: 1px solid $color-blue;
  }
  &__structure-row {
    display: flex;
  }
  &__structure-col {
    flex-shrink: 0;
    width: calc((#{$col-width-d} * 18) / 3);

    &:nth-child(2) {
      padding-right: 20px;
    }

    &:nth-child(3) {
      padding-left: 20px;
    }
  }
  &__structure-label {
    margin-top: 5px;

    @include fsl(13px, 120%);
  }
  &__structure-title {
    margin-bottom: 40px;

    font-weight: 400;
    @include fsl(20px, 120%);
  }
  &__structure-content {
    padding-bottom: 15px;

    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid $color-blue-light;
  }
  &__structure-text {
    @include fsl(13px, 140%);
  }
  &__structure-num {
    font-weight: 500; //?
    @include fsl(13px, 140%);
  }
  &__structure-list {}
  &__structure-item {
    padding-bottom: 10px;

    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid $color-blue-light;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__video {}
  &__video-row {
    display: flex;
    justify-content: space-between;
  }
  &__video-col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-width-d} * 4);
    }

    &:nth-child(2) {
      width: calc(#{$col-width-d} * 12);
    }
  }
  &__video-button {
    display: flex;
  }
}
