.qwe {
  min-height: 100vh;
}

.portrait {
  $size: 300px;

  position: relative;
  z-index: 0;

  padding: 5px;
  width: $size;
  height: $size;
  min-width: $size;
  min-height: $size;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  border-radius: 50% 50% 0 50%;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    content: '';

    border: 10px solid $color-white;
    border-radius: 50% 50% 0 50%;
  }
}

.drop {
  $comp: &;

  &--aside {
    #{$comp}__drop {
      height: 50vh;
    }
  }
  &--main {
    #{$comp}__drop {
      height: 300vh;
    }
  }

  &__btn {
    background-color: lightgrey;
  }

  &__drop {
    display: none;

    background-color: lightsteelblue;
  }
}

.sticky {
  border: 1px solid forestgreen;
}
