.video-page {

  &__video {
    margin-top: 30px;
  }
  &__video-list {

  }
  &__video-item {

    &:not(:first-child) {
      margin-top: 60px;
    }
  }
  &__video-container {
    padding-bottom: 30px;
  }
  &__video-row {
    display: flex;
    justify-content: space-between;
  }
  &__video-col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-width-d} * 10);
    }
    &:nth-child(2) {
      width: calc(#{$col-width-d} * 6);
    }
  }

  &__content {

  }
  &__content-top {
    padding-bottom: 30px;

    border-bottom: 1px solid $color-blue-light;
  }
  &__content-bot {
    margin-top: 30px;
  }
  &__content-title {
    margin-bottom: 15px;

    @include fsl(25px, 120%);
    font-weight: 400;
  }
  &__content-text {
    @include fsl(15px, 140%);
  }
  &__content-label {
    margin-bottom: 30px;

    @include fsl(13px, 120%);
    text-transform: uppercase;
  }
}

