.video {
  $comp: &;

  // cursor: pointer;

  &:hover {
    #{$comp}__button-icon {
      transform: scale(1.35);
      background-color: $color-purple;
    }
  }

  &__container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__frame {
    display: flex;
    align-items: center;

    overflow: hidden;
    border-radius: 10px;
  }

  &__button {
    position: absolute;

    cursor: pointer;
  }
  &__button-icon {
    $size-d: 105px;
    $size-m: 77px;

    width: $size-d;
    height: $size-d;
    @media (max-width: $breakpoint - 1px) {
      width: $size-m;
      height: $size-m;
    }

    display: flex;
    align-items: center;
    justify-content: center;

    transition: $transition;
    background-color: $color-blue;
    border-radius: 50%;
  }
  &__button-svg {
    @media (max-width: $breakpoint - 1px) {
      width: 13px;
      height: 11px;
    }
  }

}

#video {
  width: 100%;
}
