.wwave {
    $comp: &;
    $offset: 100px;

    position: relative;
    z-index: 0;
    left: calc((#{$col-width-d} * 6 + 60px) * (-1));
    top: 150px;

    width: 100vw;

    pointer-events: none;

    &__canvas {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-#{$offset}, -#{$offset});

        width: calc(100% + (#{$offset} * 2));
    }
}

.qweqweqwe {
    min-height: 300vh;
}