.wwave {
    $comp: &;
    $offset: 100px;

    position: absolute;
    z-index: 0;
    left: -120px;
    top: 25vh;
    @media (max-width: $breakpoint - 1px) {
        top: calc(100vh - 66px);
        left: -15px;
    }
    @media (max-width: $breakpoint-t - 1px) {
        top: 676px;
    }

    width: calc(100vw + 150px);
    @media (max-width: $breakpoint-xxl - 1px) {
        width: 100vw;
    }
    @media (max-width: $breakpoint-xl - 1px) {
        width: calc(100vw + 150px);
    }
    @media (max-width: $breakpoint - 1px) {
        width: calc(100vw + 100px);
    }

    pointer-events: none;

    &__canvas {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-#{$offset}, -#{$offset});

        width: calc(100% + (#{$offset} * 2));
    }

    &__star {
        position: absolute;
        top: 53%;
        left: 144px;
        @media (max-width: $breakpoint - 1px) {
            top: 55%;
            left: calc(#{$col-width-m} * 3.5 + 15px);
        }
    }

    &__svg {
        @media (max-width: $breakpoint - 1px) {
            width: 31px;
            height: 33px;
        }
        transform: rotate(-20deg);
        path {
            fill: $color-purple;
        }
    }
}

.qweqweqwe {
    min-height: 300vh;
}


    
