.wwave {
    $comp: &;
    $offset: 100px;

    position: relative;
    z-index: 0;
    left: calc((#{$col-width-d} * 6 + 150px) * (-1));
    top: 25vh;
    @media (max-width: $breakpoint - 1px) {
        // top: calc(722px + 64px);
        top: calc(100vh - (102px - 36px));
        left: -15px;
    }

    width: 100vw;

    pointer-events: none;

    &__canvas {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-#{$offset}, -#{$offset});

        width: calc(100% + (#{$offset} * 2));
    }
}

.qweqweqwe {
    min-height: 300vh;
}

.layout {

    &__star {
        position: absolute;
        top: 56vh;
        left: 15px;
        @media (max-width: $breakpoint - 1px) {
            top: calc(100vh + 50px);
            left: calc(#{$col-width-m} * 3.5 + 15px);
        }

    }

    &__svg {
        @media (max-width: $breakpoint - 1px) {
            width: 31px;
            height: 33px;
        }
        transform: rotate(-20deg);
        path {
            fill: $color-purple;
        }
    }
}
