extends ../layouts/master.pug

include ../components/border-link.pug
include ../components/footer.pug
include ../components/modals.pug


//- block cookies
block grid-test


mixin copyright-link
  a.copyright-link(href=attributes.href)
    .copyright-link__mark
      +copyright-svg.copyright-link__mark-svg
    .copyright-link__text
      block


block content
  .articles-page
    .container
      .row
        .row__col.row__col--aside.row__col--rail
          .aside
            .aside__inner
              .aside__container
                .aside__top.modal(data-modal='4')
                  .header.header--margin-bottom--default(data-aos='fade-up')
                    a.header__logo(href='#')
                      +logo-svg.header__logo-svg
                    .header__menu(data-button='4')
                      .header__text
                        |Меню
                      .header__button
                        .header__burger
                          span.header__burger-span
                  +modal-aside
                  .articles-page__aside(data-aos='fade-up')
                    .articles-page__aside-label
                      |О категории
                    h4.articles-page__aside-title
                      |Генитальный герпес
                    p.articles-page__aside-text
                      |Герпес является распространенным заболеванием, передающимся половым путем (ЗППП), которым может заболеть любой человек, ведущий половую жизнь.
                    p.articles-page__aside-text
                      |У большинства людей с вирусом симптомы отсутствуют. Даже без признаков заболевания герпес по-прежнему может распространяться на сексуальных партнеров.
                .aside__bottom(data-aos='fade-up')
                  +copyright-link(href='#')
                    |Компания «Инвар», 2021
        .row__col.row__col--main
          .page
            header.page__header
              .panel
                .panel__panel
                  .panel__row
                    .panel__col(data-aos='fade-up')
                      .panel__inner
                        .panel__product
                          //- .panel__product-item--active
                          a.panel__product-item(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Спрей
                          a.panel__product-item.panel__product-item--purple(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Гель
                    .panel__wrapper(data-aos='fade-up')
                      .panel__wrapper-row
                        .panel__wrapper-col
                          .panel__inner
                            a.panel__where-buy(href='#')
                              |Где купить
                            .panel__choice
                              .panel__choice-item(data-count=8 data-modal-button='3')
                                |Симптомы
                              .panel__choice-item(data-count=12 data-modal-button='2')
                                |Заболевания
                        .panel__wrapper-col
                          .panel__inner
                            .panel__test(data-button='3')
                              +calendar-test-svg.panel__test-icon
                              .panel__test-text
                                |Пройти тест
                            a.panel__consultation(href="consultation.html") 
                              +consultation-svg.panel__consultation-svg
                              .panel__consultation-text
                                |Консультация эксперта
                      .panel__modals
                        +modal-header
                  .panel__mobile
                    .header(data-aos='fade-up')
                      a.header__logo(href="#")
                        +logo-svg.header__svg
                      .header__menu(data-modal-button='1')
                        .header__button
                          .header__burger
                            span.header__burger-span
                  .panel__modals
                    //- +modal-mobile
            main.page__main
              h1.title(data-aos='fade-up')
                |Статьи экспертов
              .rail.rail--margin-bottom--default.rail--desctop
              .articles-page__mobile
                h4.articles-page__aside-title(data-aos='fade-up')
                  |Генитальный герпес
                p.articles-page__aside-text(data-aos='fade-up')
                  |Герпес является распространенным заболеванием, передающимся половым путем (ЗППП), которым может заболеть любой человек, ведущий половую жизнь.
                p.articles-page__aside-text(data-aos='fade-up')
                  |У большинства людей с вирусом симптомы отсутствуют. Даже без признаков заболевания герпес по-прежнему может распространяться на сексуальных партнеров.
              section.articles-page__section
                .articles-page__section-row(data-aos='fade-up')
                  .articles-page__section-col
                    .articles-page__section-label
                      |эксперт
                  .articles-page__section-col
                    .doctor-card
                      .doctor-card__row
                        .doctor-card__col
                          .doctor-card__frame.doctor-card__frame--size--default
                            img(src="assets/images/doctor.jpg", alt="")
                        .doctor-card__col
                          .doctor-card__name
                            |Бебнева Тамара Николаевна
                          .doctor-card__pos
                            |Врач акушер-гинеколог ФГБУ «НМИЦ эндокринологии» Минздрава России, к.м.н, доцент Кафедры акушерства, гинекологии и репродуктивной медицины РУДН
              section.articles-page__section.margin-top.margin-top--md
                .nav-list.nav-list--wrap(data-aos='fade-up')
                  ul.nav-list__list
                    li.nav-list__item
                      +border-link(href='#' active count=29)
                        |Все
                    li.nav-list__item
                      +border-link(href='#' count=5)
                        |Статьи эксперта
                    li.nav-list__item
                      +border-link(href='#' count=5)
                        |Генитальный герпес
                    li.nav-list__item
                      +border-link(href='#' count=29)
                        |Молочница
                    li.nav-list__item
                      +border-link(href='#' count=3)
                        |Бактериальный вагиноз
                    li.nav-list__item
                      +border-link(href='#' count=4)
                        |При беременности
                    li.nav-list__item
                      +border-link(href='#' count=6)
                        |ВПЧ
                ul.cards-grid
                  - for (i = 0; i < 9; i++)
                    li.cards-grid__item(data-aos='fade-up')
                      a.card(href="#")
                        .card__container
                          img.card__img(src="assets/images/card-1.jpg", alt="")
                          .card__label
                            |Клинические рекомендации
                        .card__row
                          .card__doctor
                            .card__avatar
                              img.card__icon(src="assets/images/doctor.jpg", alt="")
                            .card__name
                              |Пустотина Ольга Анатольевна
                        h3.card__title
                          |Молочница: все, что нужно знать о заболевании
                .button-show-wrapper(data-aos='fade-up')
                  .button-show
                    .button-show__icon
                      +btn-plus-svg.button-show__svg
                    .button-show__text
                      |показать еще
              section.articles-page__section.margin-top.margin-top--l
                .form-container(data-aos='fade-up')
                  .form-container__row(data-form='1')
                    .form-container__col
                      h3.form-container__title
                        |Подписаться на обновления
                    .form-container__col
                      form.form.form--follow(action="/" )
                        .form__row
                          label.form__item
                            input.form__input(type="text" name="name" required='required' data-form-input='')
                            span.form__placeholder
                              |Имя
                          label.form__item
                            input.form__input(type="email" name="email" required='required' data-form-input='')
                            span.form__placeholder
                              |E-mail
                        .form__row
                          .form__item.form__item--m
                            .checkbox
                              label.checkbox__label(for="checkbox")
                                input.checkbox__input(type="checkbox" id="checkbox" required='required' data-form-checkbox='')
                                .checkbox__box
                                  +check-svg.checkbox__icon
                                .checkbox__text
                                  |Согласен на обработку персональных данных в соответствии с #[a.checkbox__link(href="policy") политикой конфиденциальности]
                          .form__item.form__item--m
                            .form__button
                              button.button.button--wide.btn-animation(type='submit' data-form-button='1')
                                span.btn-animation__text
                                  |Отправить
                  .form-container__response(data-response='1')
                    .form-container__response-icon
                      +form-check-svg.form-container__response-check
                    .form-container__response-container
                      .form-container__response-row
                        .form-container__response-col
                          h3.form-container__title
                            |Подписка оформлена
                        .form-container__response-col
                          .button.button--wide(data-response-button='1')
                            |Подписаться еще
            +footer.page__footer
  +modal-test 
  +modal-consultation
  +modal-mobile