extends ../layouts/master.pug

include ../components/footer.pug
include ../components/modals.pug

//- block cookies
block grid-test


mixin copyright-link
  a.copyright-link(href=attributes.href)
    .copyright-link__mark
      +copyright-svg.copyright-link__mark-svg
    .copyright-link__text
      block


block content
  .buy-page
    .container
      .row
        .row__col.row__col--aside.row__col--rail
          .aside
            .aside__inner
              .aside__container
                .aside__top.modal(data-modal='4')
                  .header(data-aos='fade-up')
                    a.header__logo(href='#')
                      +logo-svg.header__logo-svg
                    .header__menu(data-button='4')
                      .header__text
                        |Меню
                      .header__button
                        .header__burger
                          span.header__burger-span
                  +modal-aside
                .aside__bottom(data-aos='fade-up')
                  +copyright-link(href='#')
                    |Компания «Инвар», 2021
        .row__col.row__col--main
          .page
            header.page__header
              .panel
                .panel__panel
                  .panel__row
                    .panel__col(data-aos='fade-up')
                      .panel__inner
                        .panel__product
                          //- .panel__product-item--active
                          a.panel__product-item(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Спрей
                          a.panel__product-item.panel__product-item--purple(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Гель
                    .panel__wrapper(data-aos='fade-up')
                      .panel__wrapper-row
                        .panel__wrapper-col
                          .panel__inner
                            a.panel__where-buy(href='#')
                              |Где купить
                            .panel__choice
                              .panel__choice-item(data-count=8 data-modal-button='3')
                                |Симптомы
                              .panel__choice-item(data-count=12 data-modal-button='2')
                                |Заболевания
                        .panel__wrapper-col
                          .panel__inner
                            .panel__test(data-button='3')
                              +calendar-test-svg.panel__test-icon
                              .panel__test-text
                                |Пройти тест
                            a.panel__consultation(href="consultation.html") 
                              +consultation-svg.panel__consultation-svg
                              .panel__consultation-text
                                |Консультация эксперта
                      .panel__modals
                        +modal-header
                  .panel__mobile
                    .header(data-aos='fade-up')
                      a.header__logo(href="#")
                        +logo-svg.header__svg
                      .header__menu(data-modal-button='1')
                        .header__button
                          .header__burger
                            span.header__burger-span
                  .panel__modals
                    +modal-mobile
            main.page__main
              h1.title(data-aos='fade-up')
                |Где купить
              .rail.rail--margin-bottom--default.rail--desctop
              section.buy-page__section
                .buy-page__title(data-aos='fade-up')
                  |Выберите форму выпуска для заказа в аптеке
                ul.product-choice.product-choice--margin-bottom--default
                  li.product-choice__item(data-aos='fade-up')
                    a.product-btn(href='#')
                      //- .product-btn--active
                      +spray-svg.product-btn__svg
                      p.product-btn__text
                        |Эпиген Интим
                        br
                        |Спрей
                  li.product-choice__item(data-aos='fade-up')
                    a.product-btn(href='#')
                      +gel-svg.product-btn__svg
                      p.product-btn__text
                        |Эпиген Интим
                        br
                        |Гель
                .buy-page__container(data-aos='fade-up')
                  .buy-page__map-header
                    a.buy-page__map-link(href='#')
                      img.buy-page__map-logo(src='https://widget.uteka.ru/static/img/widgets/logo-light.svg')
                    p.buy-page__map-text
                      |Выберите аптеку и сделайте заказ
                  .buy-page__map
                    iframe.buy-page__map-iframe(allow="geolocation" src="https://widget.uteka.ru/widgets/full/?productId=99949")
                .buy-page__title(data-aos='fade-up')
                  |Также можно заказать на сайтах партнеров
                .buy-page__partners
                  ul.buy-page__partners-list
                    each partner in ['ozon', 'yandex-market', 'wildberries', 'zdravcity', 'apteka', 'sberapteka']
                      li.buy-page__partners-item(data-aos='fade-up')
                        a.buy-page__partners-card(href="#")
                          img.buy-page__partners-img(src='assets/images/' + partner + '.jpg', alt="")
                h2.buy-page__section-title.margin-top(data-aos='fade-up')
                  |Подпишитесь на рассылку и узнавайте об акциях и спецпредложениях интернет-аптек на продукцию Эпиген
                .form-container.margin-top.margin-top--md
                  .form-container__row.buy-page__form(data-aos='fade-up' data-form='21')
                    .form-container__col
                      h3.form-container__title
                        |Подписаться на обновления
                    .form-container__col
                      form.form.form--follow(action="/")
                        .form__row
                          label.form__item
                            input.form__input(type="text" name="name" required='required' data-form-input='')
                            span.form__placeholder
                              |Имя
                          label.form__item
                            input.form__input(type="email" name="email" required='required' data-form-input='')
                            span.form__placeholder
                              |E-mail
                        .form__row
                          .form__item.form__item--m
                            .checkbox
                              label.checkbox__label(for="checkbox")
                                input.checkbox__input(type="checkbox" id="checkbox" required='required' data-form-checkbox)
                                .checkbox__box
                                  +check-svg.checkbox__icon
                                .checkbox__text
                                  |Согласен на обработку персональных данных в соответствии с #[a.checkbox__link(href="policy") политикой конфиденциальности]
                          .form__item.form__item--m
                            .form__button
                              button.button.button--wide.btn-animation(type='submit' data-form-button='21')
                                span.btn-animation__text
                                  |Отправить
                  .form-response(data-response='21')
                    .form-response__row 
                      .form-response__col
                        .form-response__title 
                          |Вы успешно подписаны на рассылку Эпиген.
                      .form-response__col
                        .form-response__button 
                          .button.button--wide.btn-animation(data-response-button='21')
                            span.btn-animation__text
                              |Отправить
                .buy-page__warning.margin-top
                  p.buy-page__warning-text(data-aos='fade-up')
                    |Данные о наличии, ценах на товар, порядке и условиях приобретения предоставляются аптечной организацией, которая несет ответственность за достоверность информации. Владелец сайта не несет ответственности за содержание публикуемых прайс-листов аптек, информации, предоставленной на сайте аптечной организации, а также за ее действия. Информация на сайте не должна быть истолкована как призыв к неспециалистам самостоятельно приобретать или использовать описываемые товары. Информация предоставлена исключительно в информационных целях.

            +footer.page__footer
  +modal-test 
  +modal-consultation


