extends ../layouts/master.pug

include ../components/border-link.pug
include ../components/copyright-link.pug
include ../components/accordion.pug
include ../components/footer.pug

//- block cookies
block grid-test


mixin copyright-link
  a.copyright-link(href=attributes.href)
    .copyright-link__mark
      +copyright-svg.copyright-link__mark-svg
    .copyright-link__text
      block


block content
  .faq-page
    .container
      .row
        .row__col.row__col--aside.row__col--rail
          .aside
            .aside__inner
              .aside__container
                .aside__top
                  header.header.header--margin-bottom--default
                    a.header__logo(href='#')
                      +logo-svg.header__logo-svg
                    .header__menu
                      .header__text
                        |Меню
                      .header__button
                        .header__burger
                  ul.faq-page__list(data-aos='fade-up')
                    li.faq-page__item
                      +border-link(href='#' active)
                        |Все
                    each link in ['Состав', 'Противопоказания', 'Использование', 'Приобрести',]
                      li.faq-page__item
                        +border-link(href='#')
                          |!{link}
                .aside__bottom(data-aos='fade-up')
                  .button.button--t.margin-bottom.margin-bottom--m.button-modal
                    |Задать вопрос о продукции Эпиген Интим
                  +copyright-link(href='#')
                    |Компания «Инвар», 2021
        .row__col.row__col--main
          .page
            header.page__header
              .panel
                .panel__panel
                  .panel__row
                    .panel__col
                      .panel__inner
                        .panel__product
                          //- .panel__product-item--active
                          a.panel__product-item(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Спрей
                          a.panel__product-item.panel__product-item--purple(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Гель
                    .panel__col
                      .panel__inner
                        a.panel__where-buy(href='#')
                          |Где купить
                        .panel__choice
                          .panel__choice-item(data-count=8)
                            |Симптомы
                          .panel__choice-item(data-count=12)
                            |Заболевания
                    .panel__col
                      .panel__inner
                        .panel__test
                          +calendar-test-svg.panel__test-icon
                          .panel__test-text
                            |Пройти тест
                        .panel__consultation
                          +consultation-svg.panel__consultation-svg
                          .panel__consultation-text
                            |Консультация эксперта
                  .panel__mobile
                    header.header-mobile(data-aos='fade-up')
                      a.header-mobile__logo(href="#")
                        +logo-svg.header-mobile__icon
                      .header-mobile__button
            main.page__main
              h1.title(data-aos='fade-up')
                |Вопрос-ответ
              .rail.rail--margin-bottom--default
              .faq-page__button(data-aos='fade-up')
                .button.button--t.margin-bottom.margin-bottom--m.button-modal
                  |Задать вопрос о продукции Эпиген Интим
              ul.faq-page__list.faq-page__list--mobile(data-aos='fade-up')
                li.faq-page__item
                  +border-link(href='#' active)
                    |Все
                each link in ['Состав', 'Противопоказания', 'Использование', 'Приобрести',]
                  li.faq-page__item
                    +border-link(href='#')
                      |!{link}
              section.faq-page__section
                ul.product-choice.product-choice--margin-bottom--default.product-choice--faq
                  li.product-choice__item(data-aos='fade-up')
                    a.product-btn.product-btn--active(href='#')
                      +spray-svg.product-btn__svg
                      p.product-btn__text
                        |Эпиген Интим
                        br
                        |Спрей
                  li.product-choice__item(data-aos='fade-up')
                    a.product-btn(href='#')
                      +gel-svg.product-btn__svg
                      p.product-btn__text
                        |Эпиген Интим
                        br
                        |Гель
                ul.faq-page__section-list
                  li.faq-page__section-item(data-aos='fade-up')
                    +accordion(caption='Что такое активированная глицирризиновая кислота, содержащаяся в Спрее Эпиген Интим?' category='Состав')
                  li.faq-page__section-item(data-aos='fade-up')
                    +accordion(caption='Почему рекомендуется Спрей Эпиген Интим при генитальном герпесе и вирусе папилломы человека (ВПЧ)?' category='Использование')
                  li.faq-page__section-item(data-aos='fade-up')
                    +accordion(caption='Может ли при использовании Спрея Эпиген Интим возникать жжение или ощущение тепла в месте введения?' category='Использование')
                  li.faq-page__section-item(data-aos='fade-up')
                    +accordion(caption='Можно ли использовать Спрей Эпиген Интим совместно с другими местными препаратами?' category='Использование')
                  li.faq-page__section-item(data-aos='fade-up')
                    +accordion(caption='Можно ли использовать Спрей Эпиген Интим совместно с другими местными препаратами?' category='Использование')
                  li.faq-page__section-item(data-aos='fade-up')
                    +accordion(caption='В упаковке Спрея Эпиген Интим есть дополнительная насадка, как её использовать?' category='Использование')
                  li.faq-page__section-item(data-aos='fade-up')
                    +accordion(caption='Хватит мне одного флакона Спрея Эпиген Интим на полный курс лечения?' category='Использование')
                  li.faq-page__section-item(data-aos='fade-up')
                    +accordion(caption='Безопасно ли использовать Спрей Эпиген Интим в период беременности?' category='Использование')
                  li.faq-page__section-item(data-aos='fade-up')
                    +accordion(caption='Можно ли использовать Спрей Эпиген Интим при кормлении грудью?' category='Использование')
                  li.faq-page__section-item(data-aos='fade-up')
                    +accordion(caption='Почему необходимо включить Спрей Эпиген Интим в дорожную аптечку? ' category='Использование')

                .button-show-wrapper(data-aos='fade-up')
                  .button-show
                    .button-show__icon
                      +plus-svg.button-show__svg
                    .button-show__text
                      |показать еще
                .faq-page__form
                  .faq-page__form-row(data-form='1')
                    .faq-page__form-col
                      h3.faq-page__form-title(data-aos='fade-up')
                        |Задать свой вопрос
                    .faq-page__form-col
                      form.form(action="/")
                        .form__item(data-aos='fade-up')
                          input.form__input(type="text" name="name" placeholder="Имя")
                        .form__item(data-aos='fade-up')
                          input.form__input(type="email" name="email" placeholder="E-mail")
                        .form__item(data-aos='fade-up')
                          textarea.form__textarea(name="message" placeholder="Сообщение", cols="30", rows="10")
                        .form__container
                          .form__inner
                            .checkbox(data-aos='fade-up')
                              label.checkbox__label(for="checkbox")
                                input.checkbox__input(type="checkbox" id="checkbox")
                                .checkbox__box
                                  +check-svg.checkbox__icon
                                .checkbox__text
                                  |Согласен на обработку персональных данных в соответствии с #[a.checkbox__link(href="#") политикой конфиденциальности]
                          .form__button(data-aos='fade-up')
                            button.button.button--wide(type='submit' data-form-button='1')
                              |Отправить
                  .faq-page__response(data-response='1')
                    .faq-page__response-row
                      .faq-page__response-col
                        h3.faq-page__response-title
                          |Мы получили ваше сообщение и ответим на него в ближайшее время.
                      .faq-page__response-col
                        .faq-page__response-button
                          .button.button--wide(data-response-button='1')
                            |Отправить еще


            +footer.page__footer

  .mdl
    .mdl__container
      .mdl__content.mdl__content--md.mdl__interactive
        .mdl__inner
          .mdl__form
            .mdl__form-container
              .mdl__form-form(data-form='2')
                h3.mdl__form-title
                  |Задать вопрос
                form.form(action="/")
                  .form__item
                    input.form__input(type="text" name="name" placeholder="Имя")
                  .form__item
                    input.form__input(type="email" name="email" placeholder="E-mail")
                  .form__item
                    textarea.form__textarea(name="message" placeholder="Сообщение", cols="30", rows="10")
                  .form__inner
                    .checkbox
                      label.checkbox__label(for="checkbox-1")
                        input.checkbox__input(type="checkbox" id="checkbox-1")
                        .checkbox__box
                          +check-svg.checkbox__icon
                        .checkbox__text
                          |Согласен на обработку персональных данных в соответствии с #[a.checkbox__link(href="#") политикой конфиденциальности]
                  .form__button
                    button.button.button--wide(type='' data-form-button='2')
                      |Отправить
              .mdl__response(data-response='2')
                h3.mdl__form-title
                  |Мы получили ваше сообщение и ответим на него в ближайшее время.
                .button.button--wide(data-response-button='2')
                  |Отправить еще

        .mdl__close.mdl__interactive.button-close(data-button-close='1')
          +cross-svg.button-close__svg
