extends ../layouts/master.pug

block cookies
block grid-test

block content
  -
    var pages = [
      {
        href: 'main.html',
        title: 'Главная',
      },
      {
        href: '404.html',
        title: '404',
      },
      {
        href: 'video.html',
        title: 'Видео',
      },
      {
        href: 'specialists.html',
        title: 'Специалистам',
      },
      {
        href: 'specialists-single.html',
        title: 'Специалистам (детальная)',
      },
      {
        href: 'reviews.html',
        title: 'Отзывы',
      },
      {
        href: 'disease.html',
        title: 'Заболевания',
      },
      {
        href: 'faq.html',
        title: 'Вопрос-ответ',
      },
      {
        href: 'consultation.html',
        title: 'Консультация',
      },
      {
        href: 'buy.html',
        title: 'Где купить',
      },
      {
        href: 'spray.html',
        title: 'Спрей',
      },
      {
        href: 'gel.html',
        title: 'Гель',
      },
      {
        href: 'articles.html',
        title: 'Статьи',
      },
      {
        href: 'article.html',
        title: 'Статья детальная',
      },
      {
        href: 'article-1.html',
        title: 'Статья детальная, без фото',
      },
      {
        href: 'disease-1.html',
        title: 'Заболевания, без фото',
      },
      {
        href: 'symptoms.html',
        title: 'Симптомы',
      },
      {
        href: 'policy.html',
        title: 'Политика конфиденциальности веб-сайта',
      },
      {
        href: 'user-guide.html',
        title: 'Положение о пользовании сайтом',
      },
    ]
  .index
    .container
      .index__inner
        h1.index__title
          |Эпиген (верстка):
        nav.index__nav
          ul.index__list
            each page in pages
              li.index__item
                a.index__link(href=page.href)
                  span.index__link-text
                    |!{page.title}

