extends ../layouts/master.pug

include ../components/footer.pug
include ../components/modals.pug

//- block cookies
block grid-test

mixin copyright-link
  a.copyright-link(href=attributes.href)
    .copyright-link__mark
      +copyright-svg.copyright-link__mark-svg
    .copyright-link__text
      block


block content
  .policy-page
    .container
      .row
        .row__col.row__col--aside.row__col--rail
          .aside
            .aside__inner
              .aside__container
                .aside__top.modal(data-modal='4')
                  header.header.header--margin-bottom--default(data-aos='fade-up')
                    a.header__logo(href='#')
                      +logo-svg.header__logo-svg
                    .header__menu(data-button='4')
                      .header__text
                        |Меню
                      .header__button
                        .header__burger
                          span.header__burger-span
                  +modal-aside
                .aside__bottom(data-aos='fade-up' data-aos-delay='200')
                  +copyright-link(href='#')
                    |Компания «Инвар», 2021
        .row__col.row__col--main
          .page
            header.page__header
              .panel.panel--nav
                .panel__panel
                  .panel__row
                    .panel__col(data-aos='fade-up')
                      .panel__inner
                        .panel__product
                          //- .panel__product-item--active
                          a.panel__product-item(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Спрей
                          a.panel__product-item.panel__product-item--purple(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Гель
                    .panel__wrapper(data-aos='fade-up')
                      .panel__wrapper-row
                        .panel__wrapper-col
                          .panel__inner
                            a.panel__where-buy(href='#')
                              |Где купить
                            .panel__choice
                              .panel__choice-item(data-count=8 data-modal-button='3')
                                |Симптомы
                              .panel__choice-item(data-count=12 data-modal-button='2')
                                |Заболевания
                        .panel__wrapper-col
                          .panel__inner
                            .panel__test(data-button='3')
                              +calendar-test-svg.panel__test-icon
                              .panel__test-text
                                |Пройти тест
                            a.panel__consultation(href="consultation.html") 
                              +consultation-svg.panel__consultation-svg
                              .panel__consultation-text
                                |Консультация эксперта
                      .panel__modals
                        +modal-header
                  .panel__mobile(data-aos='fade-up')
                    header.header
                      a.header__logo(href="#")
                        +logo-svg.header__svg
                      .header__menu(data-modal-button='1')
                        .header__button
                          .header__burger
                            span.header__burger-span
                  .panel__modals
                    +modal-mobile
            main.page__main
              h2.title.title--md(data-aos='fade-up')
                |Политика конфиденциальности веб-сайта				
              .rail.rail--desctop(data-aos='fade-up')
              section.policy-page__section
                p
                  |Настоящее положение о конфиденциальности содержит в себе методы сбора, хранения и использования информации о лицах, которые осуществляют посещение веб-сайта #[a.policy-page__link(href="#") https://epigen.ru]
                p.policy-page__text
                  |ИСПОЛЬЗУЯ ДАННЫЙ ВЕБ-САЙТ, ВЫ СОГЛАШАЕТЕСЬ СО СБОРОМ И ИСПОЛЬЗОВАНИЕМ ИНФОРМАЦИИ В СООТВЕТСТВИИ С ДАННОЙ ПОЛИТИКОЙ КОНФИДЕНЦИАЛЬНОСТИ. ВЫ ПРИЗНАЕТЕ, ЧТО КОМПАНИЯ ООО «ИНВАР» ИМЕЕТ ПРАВО ПЕРИОДИЧЕСКИ ИЗМЕНЯТЬ, МОДИФИЦИРОВАТЬ, ДОБАВЛЯТЬ, УДАЛЯТЬ ИЛИ ДРУГИМ ОБРАЗОМ ОБНОВЛЯТЬ ДАННУЮ ПОЛИТИКУ КОНФИДЕНЦИАЛЬНОСТИ НА СВОЕ УСМОТРЕНИЕ БЕЗ ПРЕДВАРИТЕЛЬНОГО УВЕДОМЛЕНИЯ.
                p   
                  |Однако личная информация пользователя будет всегда обрабатываться в соответствии с политикой конфиденциальности, которая действовала на момент сбора такой информации. ООО «ИНВАР» (также по тексту – владелец сайта) будет осуществлять публикацию изменений политики конфиденциальности на данной странице, чтобы пользователь был осведомлен обо всех типах информации, которая собирается, принципах ее использования, а также обстоятельствах ее раскрытия.
                h2.policy-page__title 
                  |Использование Веб-сайта
                p 
                  |При посещении Вами настоящего веб-сайта, производится автоматический сбор информации о типе браузера Вашего компьютера и операционных системах, посещаемых веб-сайтах, стандартную информацию о регистрации в системах, интернет протоколах, информацию о GPS навигации, информацию о мобильном операторе, и типе мобильного телефона. Владелец сайта обобщает эту информацию для понимания того, как посетители сайта используют его для того, чтобы произвести улучшение сайта. Навигация GPS обычно не определяет индивидуальных пользователей. Владелец сайта также может использовать данную обобщенную информацию вместе с иными третьими лицами. Данная информация включает в себя:
                ul.policy-page__list 
                  each item in ['общее количество посещений веб-сайта', 'количество посетителей каждой страницы', 'наименования доменных имен интернет провайдеров посетителей']
                    li 
                      |#{item}
                p 
                  |ООО «ИНВАР» собирает обобщенные данные о количестве посетителей сайта для целей усовершенствования данного ресурса. Дополнительно используются эти данные для проведения исследования рынка и составления статистических сведений, которые не позволяют идентифицировать конкретных лиц и не связывают конкретных людей с какими-либо заболеваниями или состояниями.
                p 
                  |В случае передачи информации третьим лицам, действующим от имени компании ООО «ИНВАР» предпринимаются все возможные условия для согласования с такими лицами Правил конфиденциальности и иных принципов обращения с информацией. Если становится известно Владельцу сайта, что третье лицо, действующее от имени компании ООО «ИНВАР», неправомерно раскрыло информацию о любом из посетителей сайта, незамедлительно предпринимаются меры по предотвращению последующих нарушений.
                p 
                  |В случае передачи информации третьим лицам, действующим от имени компании ООО «ИНВАР» предпринимаются все возможные условия для согласования с такими лицами Правил конфиденциальности и иных принципов обращения с информацией. Если становится известно Владельцу сайта, что третье лицо, действующее от имени компании ООО «ИНВАР», неправомерно раскрыло информацию о любом из посетителей сайта, незамедлительно предпринимаются меры по предотвращению последующих нарушений.
                h2.policy-page__title
                  |Использование IP (Ай Пи) адресов
                p 
                  |IP адрес - это набор цифр, которые автоматически предоставляются Вашему компьютеру, как только Вы выходите в интернет. Веб-сервисы автоматически идентифицируют Ваш компьютер по IP адресу, предоставленному ему во время нахождения в сети интернет.
                p   
                  |ООО «ИНВАР» или третьи лица, выступающие от имени ООО «ИНВАР», могут собирать IP адреса, с целью системного администрирования или для проверки использования веб-сайта, когда нам необходимо применить меры по соблюдению условий пользования и защиты наших услуг, веб-сайта или других пользователей.
                h2.policy-page__title
                  |Файлы Cookies и интернет-теги
                p 
                  |ООО «ИНВАР» может собирать и обрабатывать информацию о визите пользователя на данный веб-сайт, такую как посещаемые страницы, веб-сайт, с которого выполнен переход и выполняемый поиск. Эта информация используется для улучшения содержимого веб-сайта, а также сбора статистики о пользователях для внутренних маркетинговых исследований. Для этого могут устанавливаться файлы Сookies, которые будут фиксировать имя домена пользователя, его интернет-провайдера, ОС, дату и время доступа. Файлами Сookies называются небольшие объемы информации, которые посылаются на браузер пользователя и сохраняются на жестком диске его компьютера. Cookies-файлы не наносят вреда вашему компьютеру или иному устройству. Вы можете установить настройки браузера так, чтобы у вас появлялось уведомление, когда вы получаете cookies-файлы, это позволит вам решить, соглашаться на получение данного cookies-файла или нет. Тем не менее, хотели уведомить Вас о том, что, если Вы не согласитесь на получение данного файла, то не сможете использовать весь функционал программного обеспечения Вашего браузера. ООО «ИНВАР» может воспользоваться услугами третьих лиц для сбора и обработки информации, описанной в данном разделе.
                p 
                  |На данном сайте могут использоваться интернет-теги (теги действий, однопиксельные изображения в формате GIF, прозрачные изображения в формате GIF, невидимые изображения в формате GIF и последовательные изображения в формате GIF) и файлы Сookies, а также реализовываться такие файлы/теги через стороннего рекламного партнера или партнера по интернет-аналитике, который может находить и хранить соответствующую информацию (включая IP-адрес пользователя) в другой стране. Эти теги/файлы размещаются на онлайн-рекламе, которая приглашает пользователей на данный веб-сайт, а также на различных его страницах. Данная технология используется для оценки интереса посетителей к данному веб-сайту, а также эффективности рекламных кампаний (включая количество открытий страницы и просматриваемую информации). Упомянутые теги/файлы позволяют стороннему партнеру/партнеру по интернет-аналитике собирать данные о посетителях наших и других веб-сайтов, составлять отчеты об активности веб-сайтов для ООО «ИНВАР», а также предоставлять дальнейшие услуги, связанные с использованием веб-сайта и сети Интернет. Они могут предоставить эту информацию другим лицам при наличии законных оснований или при найме сторонних компаний для обработки информации по своему поручению.
                h2.policy-page__title
                  |Ссылки на другие веб-сайты
                p 
                  |Данная политика конфиденциальности распространяется только на данный веб-сайт и не касается веб-сайтов, которыми владеют третьи лица. ООО «ИНВАР» может предоставлять ссылки на другие веб-сайты, с целью информирования пользователей сайта о том, где могут быть приобретены товары (исключительно в информационных целях). Данные о наличии и ценах на товар предоставляются аптеками, которые несут ответственность за достоверность информации. Владелец сайта не несет ответственности за содержание публикуемых прайс-листов аптек. Информация на сайте не должна быть истолкована как призыв к неспециалистам самостоятельно приобретать или использовать описываемые продукты. Также ООО «ИНВАР» может предоставлять ссылки на другие веб-сайты, содержащие информацию, которая может быть интересна пользователю. Поскольку компания ООО «ИНВАР» не является владельцем данных сайтов, то она не несет ответственность за содержание данных сайтов. Данная политика конфиденциальности не распространяется на любые связанные веб-сайты, не принадлежащие ООО «ИНВАР», и компания ООО «ИНВАР» не несет ответственности за какой-либо ущерб (включая, без ограничений, прямой, случайных, опосредованный, косвенный ущерб, штрафы, убытки связанные с упущенной выгодой, утратой данных или прерыванием ведения бизнеса), причиненных в связи с получением информации на сайтах третьих лиц. Включение ссылок на ресурсы третьих лиц не предполагает одобрение или рекомендацию компанией ООО «ИНВАР» таких ресурсов.
                h2.policy-page__title
                  |Контакты
                p 
                  |Если у Вас возникли вопросы или претензии относительно выполнения ООО «ИНВАР» положений настоящей политики конфиденциальности, а также рекомендации или комментарии относительно повышения эффективности политики конфиденциальности, свяжитесь с нами по следующему электронному адресу: #[a.policy-page__link(href="#") it@invar.ru.]
                p
                  |На доступ к данному сайту, а также использование его содержимого распространяется действие положения «Правила пользования сайтом».
                h2.policy-page__title
                  |Согласие на обработку персональных данных
                p 
                  |Персональные данные, предоставляемые пользователем на веб-сайте #[a.policy-page__link(href="#") https://epigen.ru], ООО «Инвар» (далее по тексту - Инвар) обязуется не раскрывать третьим лицам, без согласия пользователя.
                p 
                  |Предоставляя свои персональные данные на веб-сайте, пользователь дает согласие на обработку персональных данных компанией Инвар, либо иному уполномоченному лицу компанией Инвар, осуществляющему поддержку Инвар, в целях исполнения обязательств перед пользователем в разделах, где были предоставлены персональные данные, а также иных целях, допускаемых законодательством Российской Федерации.
                p 
                  |Персональные данные на обработку которых дается согласие пользователя: фамилия, имя, отчество, адрес места жительства, адрес электронной почты и иная информация, предоставленная пользователем на сайте.
                p 
                  |В целях обработки персональных данных Пользователь предоставляет согласие на автоматизированную, а также без использования средств автоматизации обработку, включая сбор, систематизацию, накопление, хранение, уточнение, обновление, изменение, использование, передачу третьим лицам, указанных выше, в том числе трансграничную, обезличивание, блокирование, удаление, уничтожение персональных данных.
                p 
                  |Инвар обязуется обеспечить конфиденциальность и безопасность персональных данных пользователя.
                p 
                  |Также пользователь дает согласие на предоставление информации: предоставление пользователю ответов на его обращения, направление информации, запросов для улучшения содержания коммуникаций Инвар, предоставление пользователю полезной информации, информации по новинкам продукции и услугах и иных объявлений, получение мнения о товарах Инвар.
                p 
                  |Согласие на обработку персональных данных, согласие на предоставление информации действуют бессрочно до даты отзыва пользователем своего согласия, в случае если иное не предусмотрено действующим законодательством Российской Федерации.
                p 
                  |Пользователь имеет право отозвать свое согласие на обработку персональных данных, на предоставление информации, путем направления соответствующего письменного запроса на почтовый адрес Инвар: представительство ООО «Инвар» в г. Москве: 115054, г. Москва, ул. Дубининская, д. 57, строение 1А.

            +footer.page__footer
  +modal-test
  +modal-consultation