extends ../layouts/master.pug

include ../components/border-link.pug
include ../components/copyright-link.pug
include ../components/footer.pug

//- block cookies
block grid-test

mixin review-card
  a.review-card(href='#')
    .review-card__top
      .review-card__row
        if (attributes.image)
          .review-card__row-col.review-card__row-col--flex-shrink--0
            img.review-card__img(src=`assets/images/review-${attributes.image}.jpeg`)
        .review-card__row-col
          h3.review-card__title
            |Nadine Zakharova
          p.review-card__caption
            |Врач акушер - гинеколог, врач УЗИ.
          p.review-card__text
            |Купила я данное средство, прочитав изначально множество положительных отзывов на различных сайтах. Почему мой выбор пал на него? Несколько лет я пыталась найти своё средство для интимной гигиены, так как везде писали, что нельзя использовать обычный гель для душа или мыло...
    .review-card__bottom

block content
  .page-reviews
    .container
      .row
        .row__col.row__col--aside.row__col--rail
          .aside
            .aside__inner
              .aside__container
                .aside__top
                  header.aside__header.aside__header--margin-bottom--default
                    a.aside__logo(href='#')
                      +logo-svg.aside__logo-svg
                    .aside__menu
                      .aside__menu-text
                        |Меню
                      .aside__menu-button
                  ul.page-reviews__filter
                    li.page-reviews__filter-item
                      +border-link(href='#' active)
                        |Все
                    li.page-reviews__filter-item
                      +border-link(href='#')
                        |Отзывы врачей
                .aside__bottom
                  +copyright-link(href='#')
                    |Компания «Инвар», 2021
        .row__col.row__col--main
          .page
            header.page__header
              .panel
                .panel__panel
                  .panel__row
                    .panel__col
                      .panel__inner
                        .panel__product
                          a.panel__product-item(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Спрей
                          a.panel__product-item.panel__product-item--purple(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Гель
                    .panel__col
                      .panel__inner
                        a.panel__where-buy(href='#')
                          |Где купить
                    .panel__col
                      .panel__inner
                        .panel__choice
                          .panel__choice-item(data-count=8)
                            |Симптомы
                          .panel__choice-item(data-count=12)
                            |Заболевания
                    .panel__col
                      .panel__inner
                        .panel__consultation
                          +consultation-svg.panel__consultation-svg
                          .panel__consultation-text
                            |Консультация эксперта
            main.page__main
              h1.title
                |Отзывы
              .rail.rail--margin-bottom--default
              ul.product-choice.product-choice--margin-bottom--default
                li.product-choice__item
                  a.product-btn.product-btn--active(href='#')
                    +spray-svg.product-btn__svg
                    p.product-btn__text
                      |Эпиген Интим
                      br
                      |Спрей
                li.product-choice__item
                  a.product-btn(href='#')
                    +gel-svg.product-btn__svg
                    p.product-btn__text
                      |Эпиген Интим
                      br
                      |Гель
              ul.page-reviews__list
                li.page-reviews__list-item
                  +review-card
                li.page-reviews__list-item
                  +review-card(image=1)
                li.page-reviews__list-item
                  +review-card(image=2)
                li.page-reviews__list-item
                  +review-card
                li.page-reviews__list-item
                  +review-card(image=3)
                li.page-reviews__list-item
                  +review-card(image=2)
                li.page-reviews__list-item
                  +review-card
                li.page-reviews__list-item
                  +review-card(image=2)
              .button-show-wrapper
                .button-show
                  .button-show__icon
                    +plus-svg.button-show__svg
                  .button-show__text
                    |показать еще
            +footer.page__footer
