extends ../layouts/master.pug

include ../components/border-link.pug
include ../components/footer.pug
include ../components/modals.pug

//- block cookies
block grid-test


mixin copyright-link
  a.copyright-link(href=attributes.href)
    .copyright-link__mark
      +copyright-svg.copyright-link__mark-svg
    .copyright-link__text
      block


block loader
  .alert
    .alert__container
      .alert__content
        .alert__top
          p.alert__text
            |Данный раздел сайта содержит специализированную профессиональную информацию. В соответствии с Федеральным законом РФ № 38-ФЗ «О рекламе» от 13 марта 2006 года информация данного раздела предназначена исключительно для медицинских и фармацевтических работников.
        .alert__bottom
          .alert__work
            |Вы являетесь медицинским или фармацевтическим работником?
          .alert__buttons
            .alert__wrapper
              .button.button--small.btn-animation
                span.btn-animation__text
                  |Нет
            .alert__wrapper
              .button.button--small.btn-animation
                span.btn-animation__text
                  |Да
      .alert__button
        .button-close.btn-animation.btn-animation--icon
          +cross-svg.button-close__svg


block content
  .specialists-page
    .container
      .row
        .row__col.row__col--aside.row__col--rail
          .aside
            .aside__inner
              .aside__container
                .aside__top.modal(data-modal='4')
                  header.header.header--margin-bottom--large(data-aos='fade-up')
                    a.header__logo(href='#')
                      +logo-svg.header__logo-svg
                    .header__menu(data-button='4')
                      .header__text
                        |Меню
                      .header__button
                        .header__burger
                  +modal-aside
                  h3.title.title--small.title--margin-bot--s(data-aos='fade-up')
                    |Наши эксперты
                  ul.reason-list
                    each item in ['Н.М. Назаров', 'д.м.н., В.Н. Прилепская', 'Е.Г. Сычев',]
                      li.reason-list__item(data-aos='fade-up')
                        .reason-list__text.reason-list__text--small
                          |#{item}
                .aside__bottom(data-aos='fade-up')
                  +copyright-link(href='#')
                    |Компания «Инвар», 2021
        .row__col.row__col--main
          .page
            header.page__header
              .panel
                .panel__panel
                  .panel__row
                    .panel__col(data-aos='fade-up')
                      .panel__inner
                        .panel__product
                          //- .panel__product-item--active
                          a.panel__product-item(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Спрей
                          a.panel__product-item.panel__product-item--purple(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Гель
                    .panel__wrapper(data-aos='fade-up')
                      .panel__wrapper-row
                        .panel__wrapper-col
                          .panel__inner
                            a.panel__where-buy(href='#')
                              |Где купить
                            .panel__choice
                              .panel__choice-item(data-count=8 data-modal-button='3')
                                |Симптомы
                              .panel__choice-item(data-count=12 data-modal-button='2')
                                |Заболевания
                        .panel__wrapper-col
                          .panel__inner
                            .panel__test(data-button='3')
                              +calendar-test-svg.panel__test-icon
                              .panel__test-text
                                |Пройти тест
                            .panel__consultation(data-button='6')
                              +consultation-svg.panel__consultation-svg
                              .panel__consultation-text
                                |Консультация эксперта
                      .panel__modals
                        +modal-header
                  .panel__mobile
                    header.header(data-aos='fade-up')
                      a.header__logo(href="#")
                        +logo-svg.header__svg
                      .header__menu(data-modal-button='1')
                        .header__button
                          .header__burger
                  .panel__modals
                    +modal-mobile
            main.page__main
              h1.title(data-aos='fade-up')
                |Специалистам
              .rail.rail--desctop
              section.specialists-page__specialists
                .nav-list.nav-list--wrap
                  ul.nav-list__list
                    li.nav-list__item(data-aos='fade-up')
                      +border-link(href='#' active count=29)
                        |Все
                    li.nav-list__item(data-aos='fade-up')
                      +border-link(href='#' count=5)
                        |Клинические рекомендации
                    li.nav-list__item(data-aos='fade-up')
                      +border-link(href='#' count=5)
                        |Опыт применения
                    li.nav-list__item(data-aos='fade-up')
                      +border-link(href='#' count=29)
                        |Исследования
                ul.cards-grid
                  - for (i = 0; i < 9; i++)
                    li.cards-grid__item(data-aos='fade-up')
                      a.card(href="#")
                        .card__container
                          img.card__img(src="assets/images/card-1.jpg", alt="")
                          .card__label
                            |Клинические рекомендации
                        h3.card__title
                          |Молочница: все, что нужно знать о заболевании
                .button-show-wrapper(data-aos='fade-up')
                  .button-show
                    .button-show__icon
                      +btn-plus-svg.button-show__svg
                    .button-show__text
                      |показать еще

            +footer.page__footer

  +modal-test 
  +modal-consultation