extends ../layouts/master.pug

include ../components/footer.pug

block cookies
block grid-test


mixin copyright-link
  a.copyright-link(href=attributes.href)
    .copyright-link__mark
      +copyright-svg.copyright-link__mark-svg
    .copyright-link__text
      block

block content
  .specialists-page
    .container
      .row
        .row__col.row__col--aside.row__col--rail
          .aside
            .aside__inner
              .aside__container
                .aside__top
                  header.aside__header.aside__header--margin-bottom--large
                    a.aside__logo(href='#')
                      +logo-svg.aside__logo-svg
                    .aside__menu
                      .aside__menu-text
                        |Меню
                      .aside__menu-button
                  h3.title.title--small.title--margin-bot--s
                    |Наши эксперты
                  ul.reason-list
                    each item in ['Н.М. Назаров', 'д.м.н., В.Н. Прилепская', 'Е.Г. Сычев',]
                      li.reason-list__item
                        a.reason-list__text.reason-list__text--small(href="#")
                          |#{item}
                .aside__bottom
                  +copyright-link(href='#')
                    |Компания «Инвар», 2021
        .row__col.row__col--main
          .page
            header.page__header
              .panel
                .panel__panel
                  .panel__row
                    .panel__col
                      .panel__inner
                        .panel__product
                          //- .panel__product-item--active
                          a.panel__product-item(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Спрей
                          a.panel__product-item.panel__product-item--purple(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Гель
                    .panel__col
                      .panel__inner
                        a.panel__where-buy(href='#')
                          |Где купить
                    .panel__col
                      .panel__inner
                        .panel__choice
                          .panel__choice-item(data-count=8)
                            |Симптомы
                          .panel__choice-item(data-count=12)
                            |Заболевания
                    .panel__col
                      .panel__inner
                        .panel__consultation
                          +consultation-svg.panel__consultation-svg
                          .panel__consultation-text
                            |Консультация эксперта
            main.page__main
              h1.title
                |Специалистам
              .rail.rail--desctop
              section.specialists-page__specialists
                ul.nav-list.nav-list--wrap
                  li.nav-list__item.nav-list__item--active
                    .nav-list__container(data-count=29)
                      .nav-list__link
                        |Все
                      .nav-list__border
                  li.nav-list__item
                    .nav-list__container(data-count=5)
                      .nav-list__link
                        |Клинические рекомендации
                      .nav-list__border
                  li.nav-list__item
                    .nav-list__container(data-count=5)
                      .nav-list__link
                        |Опыт применения
                      .nav-list__border
                  li.nav-list__item
                    .nav-list__container(data-count=29)
                      .nav-list__link
                        |Исследования
                      .nav-list__border
                ul.cards-grid
                  - for (i = 0; i < 9; i++)
                    li.cards-grid__item
                      a.card(href="#")
                        .card__container
                          img.card__img(src="assets/images/card-1.jpg", alt="")
                          .card__label
                            |Клинические рекомендации
                        h3.card__title
                          |Молочница: все, что нужно знать о заболевании
                .button-show-wrapper
                  .button-show
                    .button-show__icon
                      +plus-svg.button-show__svg
                    .button-show__text
                      |показать еще

            +footer.page__footer
