extends ../layouts/master.pug

include ../components/footer.pug

block cookies
block grid-test

mixin nav-page-d
  nav.nav-page-d
    ul.nav-page-d__list
      -
        var items = [
          {
            href: '#',
            title: 'Спрей',
          },
          {
            href: '#',
            title: 'Форма выпуска',
          },
          {
            href: '#',
            title: 'Назначение',
          },
          {
            href: '#',
            title: 'Состав',
          },
          {
            href: '#',
            title: 'Инструкция',
          },
          {
            href: '#',
            title: 'Диагностический тест',
          },
          {
            href: '#',
            title: 'Отзывы',
          },
        ]
      each item, index in items
        li.nav-page-d__item(class = ((index === 0) ? 'nav-page-d__item--active' : ''))
          a.nav-page-d__link(href=item.href)
            |!{item.title}

mixin copyright-link
  a.copyright-link(href=attributes.href)
    .copyright-link__mark
      +copyright-svg.copyright-link__mark-svg
    .copyright-link__text
      block

block content
  .spray-page
    .container
      .row
        .row__col.row__col--aside.row__col--rail
          .aside
            .aside__inner
              .aside__container
                .aside__top
                  header.aside__header.aside__header--margin-bottom--default
                    a.aside__logo(href='#')
                      +logo-svg.aside__logo-svg
                    .aside__menu
                      .aside__menu-text
                        |Меню
                      .aside__menu-button
                  +nav-page-d
                .aside__bottom
                  +copyright-link(href='#')
                    |Компания «Инвар», 2021
        .row__col.row__col--main
          .page
            header.page__header
              .panel
                .panel__panel
                  .panel__row
                    .panel__col
                      .panel__inner
                        .panel__product
                          //- .panel__product-item--active
                          a.panel__product-item(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Спрей
                          a.panel__product-item.panel__product-item--purple(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Гель
                    .panel__col
                      .panel__inner
                        a.panel__where-buy(href='#')
                          |Где купить
                    .panel__col
                      .panel__inner
                        .panel__choice
                          .panel__choice-item(data-count=8)
                            |Симптомы
                          .panel__choice-item(data-count=12)
                            |Заболевания
                    .panel__col
                      .panel__inner
                        .panel__consultation
                          +consultation-svg.panel__consultation-svg
                          .panel__consultation-text
                            |Консультация эксперта
            main.page__main
              section.spray-page__section
                .frame
                  img.frame__img(src='assets/images/frame.jpeg')
                  .spray-page__intro
                    .spray-page__intro-row
                      .spray-page__intro-col
                        .spray-page__intro-label
                          |Spray Epigen® Intim
                        ul.spray-page__intro-list
                          li.spray-page__intro-item
                            .category-item.category-item--blue
                              |Сделано в Испании
                          li.spray-page__intro-item
                            .category-item.category-item--blue
                              |Соответсвует стандартам GMP
                      .spray-page__intro-col
                        h1.spray-page__intro-title
                          |Спрей#[br]Эпиген Интим
              section.spray-page__section.margin-top.margin-top--l
                .spray-page__section-row
                  .spray-page__section-col
                    h3.spray-page__section-title
                      |Эпиген Интим Спрей предназначен для профилактики и лечения гинекологических заболеваний
                  .spray-page__section-col
                    p.spray-page__section-text
                      |Разрешен к применению на любом сроке беременности и в период прегравидарной подготовки, не противопоказан детям.
              section.spray-page__section
                .spray-page__slider
                  .spray-page__slider-slide
                    .spray-page__slider-container
                      img.spray-page__slider-img(src="assets/images/spray-page.jpg", alt="")
                    .spray-page__slider-content
                      .spray-page__slider-row
                        .spray-page__slider-col
                          .spray-page__tabs
                            .spray-page__tabs-item
                              .spray-page__tabs-container
                                .spray-page__tabs-row
                                  .spray-page__tabs-col
                                    .mixi
                                  .spray-page__tabs-col
                                    .spray-page__tabs-num
                                      |15
                            .spray-page__tabs-item
                              .spray-page__tabs-container
                                .spray-page__tabs-row
                                  .spray-page__tabs-col
                                    .mixi
                                  .spray-page__tabs-col
                                    .spray-page__tabs-num
                                      |60
                          ul.reason-list.spray-page__slider-list
                            li.reason-list__item
                              p.reason-list__text
                                |Для лечения острого заболевания
                            li.reason-list__item
                              p.reason-list__text
                                |Для лечения острого заболевания
                        .spray-page__slider-col
                          .spray-page__slider-bottom
                            .sprat-page__slider-label.sprat-page__slider-label--top
                              |более
                            .sprat-page__slider-label
                              |Доз
                            .spray-page__slider-num
                              |115


            +footer.page__footer
