extends ../layouts/master.pug

block cookies
//- block grid-test

include ../components/block.pug

block content
  .container
    .row
      .row__col.row__col--aside
        |test
      .row__col.row__col--main
        |test
        +block
        |test
