extends ../layouts/master.pug

block cookies
//- block grid-test

block content
  p.link-text
    |Вы всегда можете задать вопрос нашим экспертам в #[a.link-text__link(href='#') специальном разделе] или найти ответы в наших #[a.link-text__link(href='#') статьях] и #[a.link-text__link(href='#') видео-публикациях]
