extends ../layouts/master.pug

include ../components/footer.pug

block cookies
//- block grid-test

block content
  .container
    .row
      .row__col.row__col--aside
        .qwe
        |aside
        .sticky
          .sticky__btn
            |btn
          .sticky__drop
            - for (let i = 0; i < 300; i++)
              .sticky__drop-text
                |drop
      .row__col.row__col--main
        .page
          main.page__main
            |main
            .qwe
            |main
          +footer.page__footer
