extends ../layouts/master.pug

block header
block footer
block grid-test

block content
  .block
    .block__border
    .block__circle
    .block__plus
  .block.block--purple
    .block__border
    .block__circle
    .block__plus
