extends ../layouts/master.pug

include ../components/footer.pug

block cookies
//- block grid-test

block content
  .container
    .row
      .row__col.row__col--aside.row__col--rail
      .row__col.row__col--main
        //- +footer
        a.image-card.image-card--footer(href='#')
          .image-card__image
            img.image-card__img(src='assets/images/gel.jpeg')
          .image-card__text
            |Гель
        .qwe
