extends ../layouts/master.pug

block cookies
block grid-test

include ../components/block.pug

block content
  .container
    .row
      .row__col.row__col--aside
      .row__col.row__col--main
        .wwave
          canvas.wwave__canvas(width = 0, height = 0)
    .qweqweqwe
