extends ../layouts/master.pug

//- block cookies
//- block grid-test

mixin product-link
  a.product-link(class=attributes.class href='#')
    .product-link__image
      img.product-link__img(src=attributes.src)
    .product-link__text
      block

block content
  canvas.canvas
