extends ../layouts/master.pug

block cookies
block grid-test

include ../components/block.pug

block content
  .container
    .row
      .row__col.row__col--aside
      .row__col.row__col--main
        .content
          section
            h3 
              |Причины возникновения молочницы
            p
              |Чтобы грибки из рода Candida начали активно размножаться, нужны особые условия: должен изменится кислотно-щелочной баланс влагалища или снизиться иммунитет. Такие изменения подавляют нормальную микрофлору, а освободившееся место оперативно занимают грибки.
            p
              |Чтобы грибки из рода Candida начали активно размножаться, нужны особые условия: должен изменится кислотно-щелочной баланс влагалища или снизиться иммунитет. Такие изменения подавляют нормальную микрофлору, а освободившееся место оперативно занимают грибки.
          article 
            section 
              aside 
                h3 
                  |Виды генитального герпеса
              legend
                p 
                  |Обычно врачи выделяют первичный и рецидивирующий герпес. В первом случае симптомы герпеса проявляются впервые. Во втором — заболевание повторяется периодически.
                p 
                  |Обычно врачи выделяют первичный и рецидивирующий герпес. В первом случае симптомы герпеса проявляются впервые. Во втором — заболевание повторяется периодически.
