extends ../layouts/master.pug

include ../components/footer.pug
include ../components/modals.pug

//- block cookies
block grid-test

mixin copyright-link
  a.copyright-link(href=attributes.href)
    .copyright-link__mark
      +copyright-svg.copyright-link__mark-svg
    .copyright-link__text
      block


block content
  .policy-page
    .container
      .row
        .row__col.row__col--aside.row__col--rail
          .aside
            .aside__inner
              .aside__container
                .aside__top.modal(data-modal='4')
                  header.header.header--margin-bottom--default(data-aos='fade-up')
                    a.header__logo(href='#')
                      +logo-svg.header__logo-svg
                    .header__menu(data-button='4')
                      .header__text
                        |Меню
                      .header__button
                        .header__burger
                          span.header__burger-span
                  +modal-aside
                .aside__bottom(data-aos='fade-up' data-aos-delay='200')
                  +copyright-link(href='#')
                    |Компания «Инвар», 2021
        .row__col.row__col--main
          .page
            header.page__header
              .panel.panel--nav
                .panel__panel
                  .panel__row
                    .panel__col(data-aos='fade-up')
                      .panel__inner
                        .panel__product
                          //- .panel__product-item--active
                          a.panel__product-item(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Спрей
                          a.panel__product-item.panel__product-item--purple(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Гель
                    .panel__wrapper(data-aos='fade-up')
                      .panel__wrapper-row
                        .panel__wrapper-col
                          .panel__inner
                            a.panel__where-buy(href='#')
                              |Где купить
                            .panel__choice
                              .panel__choice-item(data-count=8 data-modal-button='3')
                                |Симптомы
                              .panel__choice-item(data-count=12 data-modal-button='2')
                                |Заболевания
                        .panel__wrapper-col
                          .panel__inner
                            .panel__test(data-button='3')
                              +calendar-test-svg.panel__test-icon
                              .panel__test-text
                                |Пройти тест
                            a.panel__consultation(href="consultation.html") 
                              +consultation-svg.panel__consultation-svg
                              .panel__consultation-text
                                |Консультация эксперта
                      .panel__modals
                        +modal-header
                  .panel__mobile(data-aos='fade-up')
                    header.header
                      a.header__logo(href="#")
                        +logo-svg.header__svg
                      .header__menu(data-modal-button='1')
                        .header__button
                          .header__burger
                            span.header__burger-span
                  .panel__modals
                    +modal-mobile
            main.page__main
              h2.title.title--md(data-aos='fade-up')
                |Политика конфиденциальности веб-сайта				
              .rail.rail--desctop(data-aos='fade-up')
              section.policy-page__section
                p
                  |Доступ к настоящему сайту #[a.policy-page__link(href="#") https://epigen.ru] (далее по тексту - Сайт), а также его использование регулируется настоящим Положением (далее по тексту - Положение).
                p
                  |Настоящее положение распространяется на всех пользователей интернета, посещающих Сайт. Просматривая Сайт, Пользователь соглашается с настоящими условиями Положения. В случае, если пользователь не согласен с условиями Положения, он должен отказаться от его использования и покинуть веб-сайт.
                p   
                  |Ознакомившись с условиями, пользователь по умолчанию берет на себя обязательство по их соблюдению. Условия настоящего Сайта могут быть изменены в любое время компанией ООО «ИНВАР», являющейся владельцем Сайта, без какого-либо уведомления посетителей, в связи с чем, рекомендуем регулярно следить за их обновлениями.
                p.policy-page__shout
                  |1. ОБЩИЕ УСЛОВИЯ
                p 
                  |Настоящий Сайт принадлежит компании ООО «ИНВАР» (ОГРН 1026403347080, юр. адрес: г. г. Москва, пл. Журавлева д. 2, стр. 2) (далее - Инвар) и работает при ее поддержке.
                p 
                  |Основным предназначением Сайта является предоставление пользователю информации о продукте (ах) компании Инвар. Пользователь имеет право копировать информацию с Сайта исключительно для некоммерческих целей. Использование содержания Сайта, в том числе, но не ограничиваясь: текстов, пресс-релизов и других документов, классифицируемых в качестве публичных, - разрешается при условии указания на Сайт, как источник информации.

                p 
                  |Соблюдая условия настоящего Положения, Пользователю предоставляется неисключительное право доступа и использования информационного наполнения Сайта в некоммерческих целях. Право доступа и пользование Сайтом предоставляется на безвозмездной основе в течение всего срока пользования Сайтом.
                p 
                  |Дизайн, компоненты Сайта, в том числе логотипы, товарные знаки, доменное имя защищены законодательством об интеллектуальной собственности.
                p 
                  |Запрещено изменять, копировать, воспроизводить, редактировать, скачивать, передавать, распространять в какой-либо форме целиком или частично любые компоненты Сайта без предварительного письменного согласия Инвар.
                p   
                  |Инвар имеет право обратиться в суд при любом нарушении своих прав на интеллектуальную собственность.
                p.policy-page__shout
                  |2. ХАРАКТЕР ИНФОРМАЦИИ
                p 
                  |Сайт содержит информацию о продукте Инвар Эпиген Интим, в том числе информацию из инструкции по применению, механизме действия продукта, о часто возникающих вопросах у потребителей Эпиген Интим.
                p 
                  |Информация, опубликованная на Сайте, не является заменой рекомендации специалиста здравоохранения и не должна использоваться посетителем Сайта для постановки диагноза, установления причины заболевания, в т.ч. причины возникновения проблемы со здоровьем, для назначения или применения продукта, предоставленного на Сайте. Во всех случаях возникновения симптомов заболевания, проблем со здоровьем необходимо проконсультироваться со специалистом в области здравоохранения.
                p 
                  |Контент может содержать мнения, высказанные привлеченными экспертами в области здравоохранения или исследования/выдержи из исследований. Данные мнения, исследования или выдержки из исследований не обязательно совпадают с мнением компании Инвар. Инвар не несет ответственность за точность и полноту подобной информации. Мнения экспертов, авторов исследований отражают их личные взгляды и не должны рассматриваться как мнение или ответственность Инвар.
                p 
                  |Контент может содержать мнения, высказанные привлеченными экспертами в области здравоохранения или исследования/выдержи из исследований. Данные мнения, исследования или выдержки из исследований не обязательно совпадают с мнением компании Инвар. Инвар не несет ответственность за точность и полноту подобной информации. Мнения экспертов, авторов исследований отражают их личные взгляды и не должны рассматриваться как мнение или ответственность Инвар.
                p.policy-page__shout
                  |3. ССЫЛКИ НА ДРУГИЕ САЙТЫ
                p
                  |Инвар не несет ответственности в отношении сайтов третьих лиц, на которые могут быть размещены гипертекстовые ссылки на Сайте. Инвар не обладает правом контроля содержания сайтов третьих лиц. Указание ссылок на Сайте не является одобрением их содержания. Ссылки на сайты третьих лиц размещены для удобства пользователей, в связи с чем, пользователи переходят по ссылке на свой риск.
                p.policy-page__shout
                  |4. ПЕРСОНАЛЬНЫЕ ДАННЫЕ
                p 
                  |Персональные данные, предоставляемые пользователем на сайте #[a.policy-page__link(href="#") https://epigen.ru], Инвар обязуется не раскрывать третьим лицам, без согласия пользователя.
                p 
                  |Предоставляя свои персональные данные на веб-сайте, пользователь дает согласие на их обработку компанией Инвар, либо иному уполномоченному лицу компанией Инвар, осуществляющему поддержку Инвар, в целях исполнения обязательств перед пользователем в разделах, где были предоставлены персональные данные, а также для ответов на обращения пользователя, для улучшения содержания наших коммуникаций, для предоставления пользователю полезной информации, информации по новинкам продукции и услугах и иных объявлений, для получения мнения о товарах Инвар, для улучшения внутренних процессов Инвар, для получения Вашего а также иных целях, допускаемых законодательством Российской Федерации.
                p 
                  |Персональные данные на обработку которых дается согласие пользователя: фамилия, имя, отчество, адрес места жительства, адрес электронной почты и иная информация, предоставленная пользователем на сайте.
                p 
                  |В целях обработки персональных данных Пользователь предоставляет согласие на автоматизированную, а также без использования средств автоматизации обработку, включая сбор, систематизацию, накопление, хранение, уточнение, обновление, изменение, использование, распространение, передачу третьим лицам (распространение, предоставление, доступ) в том числе трансграничную, обезличивание, блокирование, удаление, уничтожение персональных данных.
                p 
                  |Инвар обязуется обеспечить конфиденциальность и безопасность персональных данных пользователя.
                p 
                  |Инвар обязуется обеспечить конфиденциальность и безопасность персональных данных пользователя.
                p 
                  |Согласие на обработку персональных данных действует бессрочно до даты отзыва пользователем разрешения на обработку персональных данных, в случае если иное не предусмотрено действующим законодательством Российской Федерации.
                p 
                  |Пользователь имеет право отозвать свое согласие на обработку персональных данных, путем направления соответствующего письменного запроса на почтовый адрес Инвар: представительство ООО «Инвар» в г. Москве: 115054, г. Москва, ул. Дубининская, д. 57, строение 1А.
                p.policy-page__shout
                  |5. СВЕДЕНИЯ, ПРЕДОСТАВЛЯЕМЫЕ ПОЛЬЗОВАТЕЛЯМИ
                p 
                  |Информация, предоставленная пользователем на сайте в любой форме ни при каких условиях не является конфиденциальной.
                p.policy-page__shout
                  |6. ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ
                p 
                  |Инвар размещает на Сайте информацию, полученную из утвержденных инструкций по применению и источников медицинского характера с учетом профессиональной осмотрительности. Информация, размещенная на сайте из источников медицинского характера, не гарантирует ее полноту и правильность, в связи с чем, Инвар не дает гарантий для правильности ее использования. Инвар рекомендует проверять информацию, размещенную на Сайте перед ее использованием, в том числе путем обращения за консультацией к специалисту в сфере здравоохранения.
                p.policy-page__shout
                  |7. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ
                p 
                  |Содержание и работа настоящего Сайта регулируется законодательством Российской Федерации, применимое право – право Российской Федерации. Споры, связанные с работой Сайта подпадают под юрисдикцию судов Российской Федерации.
                

            +footer.page__footer
  +modal-test
  +modal-consultation