$fs: 16px;

$ff-main: 'ObjectSans', sans-serif;
$ff-alt: 'BigNoodleTitling', sans-serif;

@mixin f-main($font-weight: 400) {
  font-family: $ff-main;
  font-weight: $font-weight;
}
@mixin f-alt($font-weight: 400) {
  font-family: $ff-alt;
  font-weight: $font-weight;
}

@mixin fsl($font-size, $line-height: null) {
  font-size: unquote("#{($font-size / $fs)}rem");
  @if $line-height {
    line-height: $line-height;
  }
}


$transition-delay: .4s;
$transition-duration: 0.5s;
$transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
$transition: $transition-duration $transition-timing-function;



$color-white: white;
$color-black: black;
$color-aqua: #E0F3FD;
$color-blue-bg: #F1F8FC;
$color-blue: #31AFF2;
$color-blue-light: #D7ECF8;
$color-blue-dark: #759FB6;
$color-gray: #969696;
$color-purple: #6953F0;
$color-purple-light: #E9E5FD;
$color-pink: #E64AE9;



$col-count-m: 6;
$col-count-d: $col-count-m * 4;

$col-pad-m: 15px;
$col-pad-d: 30px;

$col-width-m: '((100vw - (#{$col-pad-m} * 2)) / #{$col-count-m})';
$col-width-d: '((100vw - (#{$col-pad-d} * 2)) / #{$col-count-d})';


// width
$breakpoint-xs: 375px;
$breakpoint-ssm: 385px;
$breakpoint-sm: 440px;
$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-m: 768px;
$breakpoint-t: 1024px;
$breakpoint: 1280px;
$breakpoint-l: 1366px;
$breakpoint-ll: 1440px;
$breakpoint-xl: 1680px;
$breakpoint-xxl: 1920px;



@mixin scrollbar-hidden() {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}



$row-aside-cols: 6;
$row-main-cols: $col-count-d - $row-aside-cols; // 24 - 6 === 18

$row-aside-width: '(#{$col-width-d} * #{$row-aside-cols})';
$row-main-width: '(#{$col-width-d} * #{$row-main-cols})';



$panel-width: $row-main-width;
$panel-height: 103px;
$panel-height-mobile: 64px;



@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder{
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::placeholder  {
    @content;
  }
}
