@font-face {
  font-family: 'ObjectSans';
  src: url('../fonts/ObjectSans-Regular.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ObjectSans';
  src: url('../fonts/ObjectSans-Slanted.otf') format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'ObjectSans';
  src: url('../fonts/ObjectSans-Medium.otf') format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ObjectSans';
  src: url('../fonts/ObjectSans-MediumSlanted.otf') format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@import "_sprites";

@import "helpers/*";

@import "vendors/*";

@import "base/*";

@import "modules/*";
