@font-face {
  font-family: 'ObjectSans';
  src: url('../fonts/ObjectSans-Regular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ObjectSans';
  src: url('../fonts/ObjectSans-Slanted.woff') format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'ObjectSans';
  src: url('../fonts/ObjectSans-Medium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ObjectSans';
  src: url('../fonts/ObjectSans-MediumSlanted.woff') format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@import "_sprites";

@import "helpers/*";

@import "vendors/*";

@import "base/*";

@import "modules/*";
