//-
  __frame
    --left / --right
    --front
    --open

mixin block
  .block
    .block__frame.block__frame--left.block__frame--front
      .block__slide
        .block__layout
          .block__background.block__background--15
        .block__content
          .block__top
            .block__control
              .block__control-item
                .spray-page__tabs-item.spray-page__tabs-item--in-block.spray-page__tabs-item--active
                  .spray-page__tabs-container
                    .spray-page__tabs-row
                      .spray-page__tabs-col
                        +spray-svg.spray-page__tabs-icon
                      .spray-page__tabs-col
                        .spray-page__tabs-num
                          |15
              .block__control-item
                .spray-page__tabs-item.spray-page__tabs-item--in-block
                  .spray-page__tabs-container
                    .spray-page__tabs-row
                      .spray-page__tabs-col
                        +spray-svg.spray-page__tabs-icon
                      .spray-page__tabs-col
                        .spray-page__tabs-num
                          |60
            ul.block__list
              li.block__list-item
                |Для 1 полноценного курса лечения
              li.block__list-item
                |Для 2-3 курсов короткой  профилактики
              li.block__list-item
                |Для дорожной аптечки
              li.block__list-item
                |Удобно брать с собой 
          .block__bottom
            .block__format
              .block__format-label
                |до
              .block__format-row
                .block__format-value
                  |115
                .block__format-label.block__format-label--in-row
                  |Доз
    .block__frame.block__frame--right
      .block__slide
        .block__layout
          .block__background.block__background--60
        .block__content
          .block__top
            .block__control
              .block__control-item
                .spray-page__tabs-item.spray-page__tabs-item--in-block
                  .spray-page__tabs-container
                    .spray-page__tabs-row
                      .spray-page__tabs-col
                        +spray-svg.spray-page__tabs-icon
                      .spray-page__tabs-col
                        .spray-page__tabs-num
                          |15
              .block__control-item
                .spray-page__tabs-item.spray-page__tabs-item--in-block.spray-page__tabs-item--active
                  .spray-page__tabs-container
                    .spray-page__tabs-row
                      .spray-page__tabs-col
                        +spray-svg.spray-page__tabs-icon
                      .spray-page__tabs-col
                        .spray-page__tabs-num
                          |60
            ul.block__list
              li.block__list-item
                |Во время беремнности
              li.block__list-item
                |Для применения вместе с партнером 1 год использования по требованию
              li.block__list-item
                |Для длительного лечения или профилактики
              li.block__list-item
                |Для применения обоими партнерами
              li.block__list-item
                |На период беременности
          .block__bottom
            .block__format
              .block__format-label
                |до
              .block__format-row
                .block__format-value
                  |460
                .block__format-label.block__format-label--in-row
                  |Доз
mixin block__slide
  .block__slide
    .block__layout
      .block__background.block__background--15.block__background--in
    .block__content
      .block__top
        .block__control
          .block__control-item
            .spray-page__tabs-item.spray-page__tabs-item--in-block.spray-page__tabs-item--active
              .spray-page__tabs-container
                .spray-page__tabs-row
                  .spray-page__tabs-col
                    +spray-svg.spray-page__tabs-icon
                  .spray-page__tabs-col
                    .spray-page__tabs-num
                      |15
          .block__control-item
            .spray-page__tabs-item.spray-page__tabs-item--in-block
              .spray-page__tabs-container
                .spray-page__tabs-row
                  .spray-page__tabs-col
                    +spray-svg.spray-page__tabs-icon
                  .spray-page__tabs-col
                    .spray-page__tabs-num
                      |60
        ul.block__list
          li.block__list-item
            |Для 1 полноценного курса лечения
          li.block__list-item
            |Для 2-3 курсов короткой  профилактики
          li.block__list-item
            |Для дорожной аптечки
          li.block__list-item
            |Удобно брать с собой
      .block__bottom
        .block__format
          .block__format-label
            |до
          .block__format-row
            .block__format-value
              |115
            .block__format-label.block__format-label--in-row
              |Доз
