mixin cookies
  .cookies
    .cookies__container
      .cookies__inner
        .cookies__row
          .cookies__col
            .cookies__text
              |Этот сайт использует файлы cookies, а также производит обработку персональных данных, чтобы улучшить работу сайта. Продолжение просмотра страниц сайта будет являться согласием с «Политикой конфиденциальности», «Пользовательским соглашением».
          .cookies__col
            .cookies__btn
              .cookies__btn-text
                |Понятно
