mixin cookies
  .cookies
    .container
      .cookies__inner
        .cookies__row 
          .cookies__col
            .cookies__text  
              |Этот сайт использует файлы cookies, а также производит обработку ваших персональных данных, чтобы улучшить работусайта и ваш опыт взаимодействия с ним. Продолжение просмотра страниц сайта будет являться подтверждением вашегосогласия на использование файлов cookies и на обработку персональных данных. Более подробная информацияпо данным вопросам размещена на страницах.
          .cookies__col
            .cookies__btn
              .cookies__btn-text
                |Понятно
