mixin review-card
  a.review-card(href='#' class=(attributes.plus ? 'review-card--modal' : undefined) target= attributes.target)
    .review-card__top
      .review-card__top-row
        if (attributes.image)
          .review-card__top-col.review-card__top-col--flex-shrink--0.review-card__top-col--margin-right--default.review-card__top-col--flex
            img.review-card__img(src=`assets/images/review-${attributes.image}.jpeg`)
            .review-card__card
              h3.review-card__title
                |Шахпазова Мадина Меджидовна
              p.review-card__caption
                |#{attributes.caption}
        .review-card__top-col
          h3.review-card__title(class=(attributes.plus ? 'review-card__title--desktop' : undefined))
            |Шахпазова Мадина Меджидовна
          if (attributes.caption)
            p.review-card__caption.review-card__caption--desktop
              |#{attributes.caption}
          p.review-card__text
            |Благодаря продуманному составу, Спрей Эпиген Интим – это препарат выбора для наружной терапии папилломавирусной инфекции и генитального герпеса.
    .review-card__bottom
      .review-card__bottom-row
        if (attributes.src)
          .review-card__bottom-col.review-card__bottom-col--width--100p.review-card__bottom-col--margin-right--default.review-card__bottom-inner.review-card__bottom-inner--source
            .review-card__source
              .review-card__container
                img(src="assets/images/" + attributes.src , alt="" class=(attributes.small ? 'review-card__source-img' : ''))
        .review-card__bottom-col.review-card__bottom-inner.review-card__bottom-inner--btn
          button.review-card__btn
            if (attributes.plus)
              +plus-svg.review-card__svg
            else
              +arrow-svg.review-card__svg.review-card__svg--tilt
